{
    "authPolicyActions": {
        "skip": true
    },
    "verifiedSimpleMethods" : [
        "getScalars",
        "allTypes",
        "deleteOperation",
        "mapOfStringToListOfStringInQueryParams",
        "membersInHeaders",
        "membersInQueryParams",
        "operationWithExplicitPayloadBlob",
        "operationWithModeledContentType",
        "queryParamWithoutValue",
        "restXmlTypes",
        "multiLocationOperation",
        "multiPathParamOperation",
        "noModeledExceptions",
        "operationWithNoInputOrOutput",
        "putScalars",
        "sameShapeDifferentStatusCodes",
        "sharedExceptionsAcrossOperationsWithDifferentStatusCodes"
    ]
}
