{
    "verifiedSimpleMethods": [
        "getCheckerIpRanges",
        "getGeoLocation",
        "getHealthCheckCount",
        "getHostedZoneCount",
        "getTrafficPolicyInstanceCount",
        "listGeoLocations",
        "listHealthChecks",
        "listHostedZones",
        "listHostedZonesByName",
        "listQueryLoggingConfigs",
        "listReusableDelegationSets",
        "listTrafficPolicies",
        "listTrafficPolicyInstances"
    ],
    "deprecatedShapes": [
        "HealthCheckInUse"
    ],
    "interceptors": [
        "software.amazon.awssdk.services.route53.internal.Route53IdInterceptor"
    ]

}
