{
  "verifiedSimpleMethods": [
    "getCheckerIpRanges",
    "getGeoLocation",
    "getHealthCheckCount",
    "getHostedZoneCount",
    "getTrafficPolicyInstanceCount",
    "listGeoLocations",
    "listHealthChecks",
    "listHostedZones",
    "listHostedZonesByName",
    "listQueryLoggingConfigs",
    "listReusableDelegationSets",
    "listTrafficPolicies",
    "listTrafficPolicyInstances"
  ],
  "deprecatedShapes": [
    "HealthCheckInUse"
  ]
}
