{
    "verifiedSimpleMethods" : [
        "describeDBClusterParameterGroups",
        "describeDBClusterSnapshots",
        "describeDBClusters",
        "describeDBEngineVersions",
        "describeDBInstances",
        "describeDBSubnetGroups",
        "describeEventCategories",
        "describeEvents",
        "describePendingMaintenanceActions"
    ]
}
