{
    "serviceConfig": {
      "className": "S3ControlConfiguration",
      "hasDualstackProperty": true,
      "hasFipsProperty": true,
      "hasUseArnRegionProperty": true
    },
    "customResponseMetadata": {
        "EXTENDED_REQUEST_ID": "x-amz-id-2",
        "REQUEST_ID": "x-amz-request-id"
    },
    "skipEndpointTests": {
        "Vanilla outposts with ARN region + access point ARN@us-west-2": "SDK defaults to useArnRegion = false",
        "govcloud with fips + arn region@us-gov-west-1": "SDK defaults to useArnRegion = false",
        "outpost access points do not support dualstack@us-west-2": "Does not work for client tests because operationInputs needed",
        "outpost access points do not support dualstack@cn-north-1": "Does not work for client tests because operationInputs needed",
        "outpost access points do not support dualstack@af-south-1": "Does not work for client tests because operationInputs needed",
        "invalid ARN: must be include outpost ID@us-west-2": "Does not work for client tests because operationInputs needed",
        "invalid ARN: must specify access point@us-west-2": "Does not work for client tests because operationInputs needed",
        "invalid ARN@us-west-2": "Does not work for client tests because operationInputs needed",
        "when set, AccountId drives AP construction@us-west-2": "Does not work for client tests because operationInputs needed",
        "access point name with a bucket arn@us-west-2": "Does not work for client tests because operationInputs needed",
        "bucket arn with access point name@us-west-2": "Does not work for client tests because operationInputs needed",
        "create bucket with outposts@us-west-2": "Does not work for client tests because operationInputs needed",
        "dualstack cannot be used with outposts when an endpoint URL is set@us-west-2.": "Does not work for client tests because operationInputs needed",
        "Dual-stack cannot be used with outposts@us-west-2": "Does not work for client tests because operationInputs needed",
        "bucket arn with UseArnRegion = true (arn region supercedes client configured region)@us-west-2": "Test is broken, uses incorrect Param name for UseArnRegion",
        "Outposts do not support dualstack@us-west-2": "Does not work for client tests because operationInputs needed",
        "Invalid ARN: missing outpost id and bucket@us-west-2": "Does not work for client tests because operationInputs needed",
        "Invalid ARN: missing bucket@us-west-2": "Does not work for client tests because operationInputs needed",
        "Invalid ARN: missing outpost and bucket ids@us-west-2": "Does not work for client tests because operationInputs needed",
        "Invalid ARN: missing bucket id@us-west-2": "Does not work for client tests because operationInputs needed",
        "account id inserted into hostname@us-west-2":  "Does not work for client tests because operationInputs needed",
        "account id prefix with dualstack@us-east-1": "Does not work for client tests because operationInputs needed",
        "account id prefix with fips@us-east-1": "Does not work for client tests because operationInputs needed",
        "custom account id prefix with fips@us-east-1": "Does not work for client tests because operationInputs needed",
        "standard url @ us-east-1": "Does not work for client tests because operationInputs needed (so an operation that doesn't required AccountId is used)",
        "fips url @ us-east-1": "Does not work for client tests because operationInputs needed (so an operation that doesn't required AccountId is used)",
        "dualstack url @ us-east-1": "Does not work for client tests because operationInputs needed (so an operation that doesn't required AccountId is used)",
        "fips,dualstack url @ us-east-1": "Does not work for client tests because operationInputs needed (so an operation that doesn't required AccountId is used)",
        "standard url @ cn-north-1": "Does not work for client tests because operationInputs needed (so an operation that doesn't required AccountId is used)",
        "custom endpoint, fips and dualstack": "Does not work for client tests because operationInputs needed (so an operation that doesn't required AccountId is used)",
        "custom endpoint, fips": "Does not work for client tests because operationInputs needed (so an operation that doesn't required AccountId is used)",
        "custom endpoint, dualstack": "Does not work for client tests because operationInputs needed (so an operation that doesn't required AccountId is used)",
        "region not set": "SDK client builder does its own validation",
        "invalid partition": "SDK client builder does its own validation",
        "outpost accesspoint ARN with missing accountId": "Does not work for client tests because operationInputs needed",
        "bucket ARN with missing accountId": "Does not work for client tests because operationInputs needed",
        "access point name with an accesspoint arn@us-west-2": "Does not work for client tests because operationInputs needed",
        "bucket ARN with mismatched accountId": "Does not work for client tests because operationInputs needed",
        "OutpostId with invalid region": "Does not work for client tests because operationInputs needed",
        "OutpostId with RequireAccountId unset": "Does not work for client tests because operationInputs needed",
        "Accesspoint ARN with region mismatch and UseArnRegion unset": "SDK defaults to useArnRegion = false",
        "Bucket ARN with region mismatch and UseArnRegion unset": "SDK defaults to useArnRegion = false",
        "Accesspoint ARN with region mismatch, UseArnRegion=false and custom endpoint": "Does not work for client tests because operationInputs needed (so an operation that doesn't required AccountId is used)"
    },
    "interceptors": [
        "software.amazon.awssdk.services.s3control.internal.interceptors.ConfigureSignerInterceptor",
        "software.amazon.awssdk.services.s3control.internal.interceptors.PayloadSigningInterceptor"
    ]
}