{


    "serviceConfig": {
      "className": "S3ControlConfiguration",
      "hasDualstackProperty": true,
      "hasFipsProperty": true,
      "hasUseArnRegionProperty": true
    },
    "customResponseMetadata": {
        "EXTENDED_REQUEST_ID": "x-amz-id-2",
        "REQUEST_ID": "x-amz-request-id"
    },
    "skipEndpointTests": {
        "Vanilla outposts with ARN region + access point ARN@us-west-2": "SDK defaults to useArnRegion = false",
        "govcloud with fips + arn region@us-gov-west-1": "SDK defaults to useArnRegion = false",
        "bucket arn with UseArnRegion = true (arn region supercedes client configured region)@us-west-2": "Test is broken, uses incorrect Param name for UseArnRegion",
        "Accesspoint ARN with region mismatch and UseArnRegion unset": "SDK defaults to useArnRegion = false",
        "Bucket ARN with region mismatch and UseArnRegion unset": "SDK defaults to useArnRegion = false"
    },
    "interceptors": [
        "software.amazon.awssdk.services.s3control.internal.interceptors.ConfigureSignerInterceptor",
        "software.amazon.awssdk.services.s3control.internal.interceptors.PayloadSigningInterceptor"
    ]
}
