{
    "serviceSpecificClientConfigClass": "S3ControlConfiguration",
    "customResponseMetadata": {
        "EXTENDED_REQUEST_ID": "x-amz-id-2",
        "REQUEST_ID": "x-amz-request-id"
    },
   "s3ArnableFields": {
        "CreateAccessPointRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "arnResourceSubstitutionGetter": "bucketName",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "DeleteAccessPointRequest": {
            "field": "name",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3AccessPointResource",
            "arnResourceSubstitutionGetter": "accessPointName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "GetAccessPointRequest": {
            "field": "name",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3AccessPointResource",
            "arnResourceSubstitutionGetter": "accessPointName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "ListAccessPointsRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "PutAccessPointPolicyRequest": {
            "field": "name",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3AccessPointResource",
            "arnResourceSubstitutionGetter": "accessPointName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "GetAccessPointPolicyRequest": {
            "field": "name",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3AccessPointResource",
            "arnResourceSubstitutionGetter": "accessPointName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
             "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "DeleteAccessPointPolicyRequest": {
            "field": "name",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3AccessPointResource",
            "arnResourceSubstitutionGetter": "accessPointName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "DeleteBucketRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
             "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "DeleteBucketLifecycleConfigurationRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
             "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "GetBucketLifecycleConfigurationRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "PutBucketLifecycleConfigurationRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "GetBucketRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "GetBucketPolicyRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "DeleteBucketPolicyRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "PutBucketPolicyRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "GetBucketTaggingRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "PutBucketTaggingRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        },
        "DeleteBucketTaggingRequest": {
            "field": "bucket",
            "arnConverterFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlArnConverter",
            "arnResourceFqcn": "software.amazon.awssdk.services.s3control.S3ControlBucketResource",
            "arnResourceSubstitutionGetter": "bucketName",
            "baseArnResourceFqcn": "software.amazon.awssdk.services.s3.internal.resource.S3Resource",
            "executionAttributeKeyFqcn": "software.amazon.awssdk.services.s3control.internal.S3ControlInternalExecutionAttribute",
            "executionAttributeValueFqcn": "software.amazon.awssdk.services.s3control.internal.S3ArnableField",
            "otherFieldsToPopulate": {
                "accountId": "accountId().orElseThrow(() -> new IllegalArgumentException(\"accountId cannot be null\"))"
            }
        }
    }
}