{
    "authPolicyActions" : {
        "skip" : true
    },
    "blacklistedSimpleMethods" : [
        "updateMyUserProfile",
        "describeAgentVersions",
        "describeApps",
        "describeCommands",
        "describeDeployments",
        "describeEcsClusters",
        "describeElasticIps",
        "describeElasticLoadBalancers",
        "describeInstances",
        "describeLayers",
        "describePermissions",
        "describeRaidArrays",
        "describeVolumes"
    ]
}