{
  "verifiedSimpleMethods": [
    "describeMyUserProfile",
    "describeOperatingSystems",
    "describeServiceErrors",
    "describeStacks",
    "describeUserProfiles"
  ],
  "blacklistedSimpleMethods": [
    "updateMyUserProfile",
    "describeAgentVersions",
    "describeApps",
    "describeCommands",
    "describeDeployments",
    "describeEcsClusters",
    "describeElasticIps",
    "describeElasticLoadBalancers",
    "describeInstances",
    "describeLayers",
    "describePermissions",
    "describeRaidArrays",
    "describeVolumes"
  ]
}
