{
    "useAutoConstructList" : true,
    "simpleMethods" : {
        "DescribeComplianceByConfigRule" : {
            "methodForms" : [[ ]]
        },
        "DescribeConfigRuleEvaluationStatus" : {
            "methodForms" : [[ ]]
        },
        "DescribeDeliveryChannels" : {
            "methodForms" : [[ ]]
        },
        "DescribeDeliveryChannelStatus" : {
            "methodForms" : [[ ]]
        },
        "DescribeConfigurationRecorders" : {
            "methodForms" : [[ ]]
        },
        "DescribeConfigRules" : {
            "methodForms" : [[ ]]
        },
        "DescribeComplianceByResource" : {
            "methodForms" : [[ ]]
        },
        "DescribeConfigurationRecorderStatus" : {
            "methodForms" : [[ ]]
        },
        "GetComplianceSummaryByConfigRule" : {
            "methodForms" : [[ ]]
        },
        "GetComplianceSummaryByResourceType" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : true
    }
}
