{
  "verifiedSimpleMethods": [
    "describeAggregationAuthorizations",
    "describeComplianceByConfigRule",
    "describeComplianceByResource",
    "describeConfigRuleEvaluationStatus",
    "describeConfigRules",
    "describeConfigurationAggregators",
    "describeConfigurationRecorderStatus",
    "describeConfigurationRecorders",
    "describeDeliveryChannelStatus",
    "describeDeliveryChannels",
    "describePendingAggregationRequests",
    "describeRetentionConfigurations",
    "getComplianceSummaryByConfigRule",
    "getComplianceSummaryByResourceType",
    "getDiscoveredResourceCounts"
  ],
  "blacklistedSimpleMethods": [
    "startConfigRulesEvaluation"
  ]
}
