{
    "skipEndpointTestGeneration": true,


    "endpointParameters": {
        "PojoString": {
            "required": false,
            "documentation": "A string",
            "type": "String"
        },
        "BasicListOfString": {
            "required": false,
            "documentation": "A list of string keys",
            "type": "StringArray"
        },
        "WildcardKeyListOfString": {
            "required": false,
            "documentation": "A list of string from a wildcard projection",
            "type": "StringArray"
        },
        "KeysListOfString": {
            "required": false,
            "documentation": "A list of string that are map keys",
            "type": "StringArray"
        },
         "MissingRequestValuesListOfString": {
             "required": false,
             "documentation": "A list of string from a field that is not populated in the request",
             "type": "StringArray"
         }
    },
    "customOperationContextParams": [
        {
            "operationName": "NestedContainersOperation",
            "operationContextParamsMap": {
                "PojoString": {
                    "value": "Nested.StringMember"
                },
                "BasicListOfString": {
                    "value": "ListOfString"
                },
                "WildcardKeyListOfString": {
                    "value": "Nested.ListOfNested[*].StringMember"
                },
                "KeysListOfString": {
                    "value": "keys(PojoKeys)"
                },
                "MissingRequestValuesListOfString": {
                    "value": "Nested.ListOfString"
                }
            }
        }
    ]
}
