{
    "skipEndpointTestGeneration": true,
    "useSraAuth": true,
    "enableGenerateCompiledEndpointRules": false,
    "endpointParameters": {
        "ListOfKeysArray": {
          "required": false,
          "documentation": "A list of nested objects",
          "type": "StringArray"
        }
      },
      "customOperationContextParams": [
        {
          "operationName": "FurtherNestedContainers",
          "operationContextParamsMap": {
            "ListOfKeysArray": {
              "value": "ListOfNested.NestedContainersStructure[*].StringMember"
            }
          }
        }
      ]
}
