{
  "verifiedSimpleMethods": [
    "describeCacheClusters",
    "describeCacheEngineVersions",
    "describeCacheParameterGroups",
    "describeCacheSubnetGroups",
    "describeEvents",
    "describeReplicationGroups",
    "describeReservedCacheNodes",
    "describeReservedCacheNodesOfferings",
    "describeSnapshots"
  ],
  "blacklistedSimpleMethods": [
    "describeCacheSecurityGroups",
    "listAllowedNodeTypeModifications"
  ]
}
