{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "additionalShapeConstructors" : {
        "DeleteCacheClusterRequest" : {
            "constructorForms" : [
                ["CacheClusterId"]
            ]
        },
        "ModifyCacheClusterRequest" : {
            "constructorForms" : [
                ["CacheClusterId"]
            ]
        },
        "DescribeCacheParametersRequest" : {
            "constructorForms" : [
                ["CacheParameterGroupName"]
            ]
        },
        "DescribeCacheParameterGroupsRequest" : {
            "constructorForms" : [
                ["CacheParameterGroupName"]
            ]
        },
        "DeleteCacheParameterGroupRequest" : {
            "constructorForms" : [
                ["CacheParameterGroupName"]
            ]
        },
        "AuthorizeCacheSecurityGroupIngressRequest" : {
            "constructorForms" : [
                ["CacheSecurityGroupName", "EC2SecurityGroupName", "EC2SecurityGroupOwnerId"]
            ]
        },
        "DeleteCacheSecurityGroupRequest" : {
            "constructorForms" : [
                ["CacheSecurityGroupName"]
            ]
        },
        "DescribeEngineDefaultParametersRequest" : {
            "constructorForms" : [
                ["CacheParameterGroupFamily"]
            ]
        },
        "ParameterNameValue" : {
            "constructorForms" : [
                ["ParameterName"], ["ParameterName", "ParameterValue"]
            ]
        },
        "CreateCacheClusterRequest" : {
            "constructorForms" : [
                ["CacheClusterId", "NumCacheNodes", "CacheNodeType", "Engine", "CacheSecurityGroupNames"]
            ]
        },
        "RevokeCacheSecurityGroupIngressRequest" : {
            "constructorForms" : [
                ["CacheSecurityGroupName", "EC2SecurityGroupName", "EC2SecurityGroupOwnerId"]
            ]
        },
        "DescribeCacheSecurityGroupsRequest" : {
            "constructorForms" : [
                ["CacheSecurityGroupName"]
            ]
        },
        "ModifyCacheParameterGroupRequest" : {
            "constructorForms" : [
                ["CacheParameterGroupName", "ParameterNameValues"]
            ]
        },
        "CreateCacheParameterGroupRequest" : {
            "constructorForms" : [
                ["CacheParameterGroupName", "CacheParameterGroupFamily", "Description"]
            ]
        },
        "RebootCacheClusterRequest" : {
            "constructorForms" : [
                ["CacheClusterId", "CacheNodeIdsToReboot"]
            ]
        },
        "CreateCacheSecurityGroupRequest" : {
            "constructorForms" : [
                ["CacheSecurityGroupName", "Description"]
            ]
        },
        "ResetCacheParameterGroupRequest" : {
            "constructorForms" : [
                ["CacheParameterGroupName", "ParameterNameValues"]
            ]
        }
    },
    "simpleMethods" : {
        "DescribeReservedCacheNodes" : {
            "methodForms" : [[ ]]
        },
        "ListAllowedNodeTypeModifications" : {
            "methodForms" : [[ ]]
        },
        "DescribeSnapshots" : {
            "methodForms" : [[ ]]
        },
        "DescribeCacheSecurityGroups" : {
            "methodForms" : [[ ]]
        },
        "DescribeCacheEngineVersions" : {
            "methodForms" : [[ ]]
        },
        "DescribeEvents" : {
            "methodForms" : [[ ]]
        },
        "DescribeReplicationGroups" : {
            "methodForms" : [[ ]]
        },
        "DescribeReservedCacheNodesOfferings" : {
            "methodForms" : [[ ]]
        },
        "DescribeCacheClusters" : {
            "methodForms" : [[ ]]
        },
        "DescribeCacheSubnetGroups" : {
            "methodForms" : [[ ]]
        },
        "DescribeCacheParameterGroups" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : false,
        "fileNamePrefix" : "ElastiCache"
    }
}