{
    "calculateCrc32FromCompressedData": true,
    "shapeModifiers": {
      "AttributeValue": {
          "modify": [
              {
                  "NULL": {
                      "emitPropertyName": "NUL"
                  }
              }
          ],
          "union": true
      }
    },
    "sdkModeledExceptionBaseClassName": "DynamoDbException",
    "shareModelConfig" : {
        "shareModelWith" : "dynamodb",
        "packageName" : "streams"
    },
    "verifiedSimpleMethods" : [
        "listStreams"
    ]
}
