{
    "sdkModeledExceptionBaseClassName": "DynamoDBException",

    "authPolicyActions" : {
        "skip" : true
    },

    // exclude these shapes that are already present in the dynamodb client
    "shapeModifiers": {
        "AttributeValue" : {
            "excludeShape": true
        },
        "KeySchemaElement" : {
            "excludeShape": true
        },
        "KeyType" : {
            "excludeShape": true
        },
        "StreamViewType" : {
            "excludeShape": true
        },
        "InternalServerError" : {
            "excludeShape": true
        },
        "LimitExceededException" : {
            "excludeShape": true
        },
        "ResourceNotFoundException" : {
            "excludeShape": true
        }
    },
    "shareModelsWith" : "dynamodb",

    "skipSmokeTests": "true",

    "useAutoConstructList": false
}
