{
    "excludedSimpleMethods": [
        "listBonusPayments"
    ],
    "verifiedSimpleMethods": [
        "listWorkerBlocks",
        "listReviewableHITs",
        "getAccountBalance",
        "listQualificationRequests",
        "listHITs"
    ],

    "enableGenerateCompiledEndpointRules": true

}
