{
    "useAutoConstructList" : true,
    "simpleMethods" : {
        "DescribeLocations" : {
            "methodForms" : [[ ]]
        },
        "DescribeVirtualInterfaces" : {
            "methodForms" : [[ ]]
        },
        "DescribeInterconnects" : {
            "methodForms" : [[ ]]
        },
        "DescribeVirtualGateways" : {
            "methodForms" : [[ ]]
        },
        "DescribeConnections" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "fileNamePrefix" : "DirectConnect"
    }
}
