{
    "authPolicyActions" : {
        "fileNamePrefix" : "DirectConnect"
    },
    "blacklistedSimpleMethods" : [
        "createBGPPeer",
        "deleteBGPPeer",
        "describeDirectConnectGatewayAttachments",
        "describeDirectConnectGatewayAssociations"
    ],
    "verifiedSimpleMethods" : ["describeInterconnects"]
}
