{
    "blacklistedSimpleMethods" : [
        "createBGPPeer",
        "deleteBGPPeer",
        "describeDirectConnectGatewayAttachments",
        "describeDirectConnectGatewayAssociations"
    ],
    "verifiedSimpleMethods" : ["describeInterconnects"],
    "deprecatedOperations": [
        "AllocateConnectionOnInterconnect",
        "DescribeConnectionLoa",
        "DescribeConnectionsOnInterconnect",
        "DescribeInterconnectLoa"
    ]
}
