{
    "useAutoConstructList" : true,
    "simpleMethods" : {
        "LookupEvents" : {
            "methodForms" : [[ ]]
        },
        "DescribeTrails" : {
            "methodForms" : [[ ]]
        },
        "ListPublicKeys" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : true
    }
}