{
    "enableGenerateCompiledEndpointRules": true,
    "enableFastUnmarshaller": true,
    "useLegacyEventGenerationScheme": {
        "ResponseStream": {
            "PayloadPart": "NO_UNIQUE_EVENT_NAMES",
            "ModelStreamError": "NO_UNIQUE_EVENT_NAMES",
            "InternalStreamFailure": "NO_UNIQUE_EVENT_NAMES"
        }
    }
}