{
    "enableGenerateCompiledEndpointRules": true,
    "enableFastUnmarshaller": true,
    "useLegacyEventGenerationScheme": {},
    "disableUniqueEventStreamShapePreprocessing": {
        "ResponseStream": [
            "PayloadPart",
            "ModelStreamError",
            "InternalStreamFailure"
        ]
    }
}