{
    "sdkModeledExceptionBaseClassName": "WafException",
    "shareModelConfig" : {
        "shareModelWith" : "waf",
        "packageName" : "regional"
    },
    "sdkRequestBaseClassName": "WafRequest",
    "sdkResponseBaseClassName": "WafResponse",
    "blacklistedSimpleMethods" : [
        "listActivatedRulesInRuleGroup",
        "listLoggingConfigurations"
    ],
    "verifiedSimpleMethods" : [
        "getChangeToken",
        "listByteMatchSets",
        "listGeoMatchSets",
        "listIPSets",
        "listRateBasedRules",
        "listRegexMatchSets",
        "listRegexPatternSets",
        "listRuleGroups",
        "listRules",
        "listSizeConstraintSets",
        "listSqlInjectionMatchSets",
        "listSubscribedRuleGroups",
        "listWebACLs",
        "listXssMatchSets"
    ]
}
