{
    "utilitiesMethod": {
        "returnType": "software.amazon.awssdk.services.axdbfrontend.AxdbFrontendUtilities",
        "instanceType": "software.amazon.awssdk.services.axdbfrontend.DefaultAxdbFrontendUtilities",
        "createMethodParams": [
            "clientConfiguration"
        ]
    }
}
