{
    "verifiedSimpleMethods": [
        "deleteElasticsearchServiceRole",
        "describeReservedElasticsearchInstanceOfferings",
        "describeReservedElasticsearchInstances",
        "getCompatibleElasticsearchVersions",
        "listDomainNames",
        "listElasticsearchVersions"
    ],

    "enableGenerateCompiledEndpointRules": true

}
