{
    "verifiedSimpleMethods": [
        "deleteElasticsearchServiceRole",
        "describeReservedElasticsearchInstanceOfferings",
        "describeReservedElasticsearchInstances",
        "getCompatibleElasticsearchVersions",
        "listDomainNames",
        "listElasticsearchVersions"
    ],
    "useSraAuth": true

}
