# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/*
*.iml
*.ipr
*.iws
# IntelliJ un-ignore
!.idea/codeStyles/
!.idea/copyright/
!.idea/inspectionProfiles/

# Mac
.DS_Store

# Maven
target/

# JEnv
.java-version

# Shade
**/dependency-reduced-pom.xml

*.pyc
*.swp
