{
  "verifiedSimpleMethods": [
    "describeAccountAttributes",
    "describeClusterDbRevisions",
    "describeClusterParameterGroups",
    "describeClusterSnapshots",
    "describeClusterSubnetGroups",
    "describeClusterTracks",
    "describeClusterVersions",
    "describeClusters",
    "describeEventCategories",
    "describeEventSubscriptions",
    "describeEvents",
    "describeHsmClientCertificates",
    "describeHsmConfigurations",
    "describeOrderableClusterOptions",
    "describeReservedNodeOfferings",
    "describeReservedNodes",
    "describeSnapshotCopyGrants",
    "describeSnapshotSchedules",
    "describeStorage",
    "describeTags"
  ],
  "blacklistedSimpleMethods": [
    "describeTableRestoreStatus",
    "describeClusterSecurityGroups"
  ]
}
