{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "simpleMethods" : {
        "DescribeOrderableClusterOptions" : {
            "methodForms" : [[ ]]
        },
        "DescribeTableRestoreStatus" : {
            "methodForms" : [[ ]]
        },
        "DescribeEvents" : {
            "methodForms" : [[ ]]
        },
        "DescribeReservedNodes" : {
            "methodForms" : [[ ]]
        },
        "DescribeClusterVersions" : {
            "methodForms" : [[ ]]
        },
        "DescribeTags" : {
            "methodForms" : [[ ]]
        },
        "DescribeEventCategories" : {
            "methodForms" : [[ ]]
        },
        "DescribeClusterSecurityGroups" : {
            "methodForms" : [[ ]]
        },
        "DescribeClusterSubnetGroups" : {
            "methodForms" : [[ ]]
        },
        "DescribeHsmConfigurations" : {
            "methodForms" : [[ ]]
        },
        "DescribeSnapshotCopyGrants" : {
            "methodForms" : [[ ]]
        },
        "DescribeReservedNodeOfferings" : {
            "methodForms" : [[ ]]
        },
        "DescribeEventSubscriptions" : {
            "methodForms" : [[ ]]
        },
        "DescribeHsmClientCertificates" : {
            "methodForms" : [[ ]]
        },
        "DescribeClusters" : {
            "methodForms" : [[ ]]
        },
        "DescribeClusterSnapshots" : {
            "methodForms" : [[ ]]
        },
        "DescribeClusterParameterGroups" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : false
    }
}
