{
    "shapeModifiers": {
        "Notification": {
            "modify": [
                {
                    "NotifyAll": {
                        "emitPropertyName": "NotifyAllJobStates"
                    }
                }
            ]
        }
    },
    "blacklistedSimpleMethods" : ["createJob"]
}
