{
  "verifiedSimpleMethods": [
    "describeAddresses",
    "getSnowballUsage",
    "listClusters",
    "listCompatibleImages",
    "listJobs"
  ],
  "shapeModifiers": {
    "Notification": {
      "modify": [
        {
          "NotifyAll": {
            "emitPropertyName": "NotifyAllJobStates"
          }
        }
      ]
    }
  },
  "blacklistedSimpleMethods": [
    "createJob"
  ]
}
