{
    "authPolicyActions" : {
        "skip" : true
    },
    "shapeModifiers": {
        "Notification": {
            "modify": [
                {
                    "NotifyAll": {
                        "emitPropertyName": "NotifyAllJobStates"
                    }
                }
            ]
        }
    }
}
