{
  "verifiedSimpleMethods": [
    "createKeysAndCertificate",
    "deleteRegistrationCode",
    "getLoggingOptions",
    "clearDefaultAuthorizer",
    "deleteAccountAuditConfiguration",
    "describeAccountAuditConfiguration",
    "describeEndpoint",
    "describeEventConfigurations",
    "getIndexingConfiguration",
    "getRegistrationCode",
    "listActiveViolations",
    "listAuthorizers",
    "listBillingGroups",
    "listCACertificates",
    "listCertificates",
    "listIndices",
    "listJobs",
    "listOTAUpdates",
    "listOutgoingCertificates",
    "listPolicies",
    "listRoleAliases",
    "listScheduledAudits",
    "listSecurityProfiles",
    "listStreams",
    "listThingGroups",
    "listThingRegistrationTasks",
    "listThingTypes",
    "listThings",
    "listTopicRules"
  ],
  "blacklistedSimpleMethods": [
    "addThingToThingGroup",
    "removeThingFromThingGroup",
    "setV2LoggingOptions",
    "updateAccountAuditConfiguration",
    "updateEventConfigurations",
    "updateIndexingConfiguration",
    "updateThingGroupsForThing",
    "describeDefaultAuthorizer",
    "getEffectivePolicies",
    "getV2LoggingOptions",
    "listAuditFindings",
    "listV2LoggingLevels"
  ],
  "deprecatedOperations": [
    "AttachPrincipalPolicy",
    "DetachPrincipalPolicy",
    "ListPolicyPrincipals",
    "ListPrincipalPolicies"
  ]
}
