{
  "authPolicyActions" : {
    "skip" : true
  },
  "verifiedSimpleMethods" : [
    "createKeysAndCertificate",
    "deleteRegistrationCode",
    "getLoggingOptions",
    "clearDefaultAuthorizer",
    "deleteAccountAuditConfiguration"
  ],
  "blacklistedSimpleMethods" : [
    "addThingToThingGroup",
    "removeThingFromThingGroup",
    "setV2LoggingOptions",
    "updateAccountAuditConfiguration",
    "updateEventConfigurations",
    "updateIndexingConfiguration",
    "updateThingGroupsForThing",
    "describeDefaultAuthorizer",
    "getEffectivePolicies",
    "getV2LoggingOptions",
    "listAuditFindings",
    "listV2LoggingLevels"
  ]
}
