{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "authPolicyActions" : {
        "skip" : true
    },
    "simpleMethods" : {
        "DescribeBatchPredictions" : {
            "methodForms" : [[ ]]
        },
        "DescribeDataSources" : {
            "methodForms" : [[ ]]
        },
        "DescribeMLModels" : {
            "methodForms" : [[ ]]
        },
        "DescribeEvaluations" : {
            "methodForms" : [[ ]]
        }
    }
}
