{
    "verifiedSimpleMethods": [
        "describeBatchPredictions",
        "describeDataSources",
        "describeEvaluations",
        "describeMLModels"
    ],
    "interceptors": [
        "software.amazon.awssdk.services.machinelearning.internal.PredictEndpointInterceptor",
        "software.amazon.awssdk.services.machinelearning.internal.RandomIdInterceptor"
    ]

}
