{
  "verifiedSimpleMethods": [
    "setActiveReceiptRuleSet",
    "describeActiveReceiptRuleSet",
    "getAccountSendingEnabled",
    "getSendQuota",
    "getSendStatistics",
    "listConfigurationSets",
    "listCustomVerificationEmailTemplates",
    "listIdentities",
    "listReceiptFilters",
    "listReceiptRuleSets",
    "listTemplates",
    "listVerifiedEmailAddresses"
  ],
  "blacklistedSimpleMethods": [
    "updateAccountSendingEnabled"
  ]
}
