{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "authPolicyActions" : {
        "fileNamePrefix" : "SimpleEmailService",
        "actionPrefix" : "ses"
    },
    "additionalShapeConstructors" : {
        "Body" : {
            "constructorForms" : [
                [
                    "Text"
                ]
            ]
        },
        "Content" : {
            "constructorForms" : [
                [
                    "Data"
                ]
            ]
        },
        "Destination" : {
            "constructorForms" : [
                [
                    "ToAddresses"
                ]
            ]
        },
        "Message" : {
            "constructorForms" : [
                [
                    "Subject",
                    "Body"
                ]
            ]
        },
        "RawMessage" : {
            "constructorForms" : [
                [
                    "Data"
                ]
            ]
        },
        "SendEmailRequest" : {
            "constructorForms" : [
                [
                    "Source",
                    "Destination",
                    "Message"
                ]
            ]
        },
        "SendRawEmailRequest" : {
            "constructorForms" : [
                [
                    "RawMessage"
                ]
            ]
        }
    },
    "simpleMethods" : {
        "ListVerifiedEmailAddresses" : {
            "methodForms" : [[ ]]
        },
        "GetSendStatistics" : {
            "methodForms" : [[ ]]
        },
        "ListIdentities" : {
            "methodForms" : [[ ]]
        },
        "GetSendQuota" : {
            "methodForms" : [[ ]]
        }
    }
}