{
    "useAutoConstructList" : true,
    "simpleMethods" : {
        "ListOperations" : {
            "methodForms" : [[ ]]
        },
        "ListDomains" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : true
    },
    "skipSmokeTests": "true"

}