{
  "renameShapes": {
    // AwsCredentials is a service operation specific shape used differently
    // than AWSCredentials.  Renaming to avoid confusion, and to be consistent
    // with STS's naming of a similar shape.
    "AwsCredentials" : "Credentials"
  },
  "blacklistedSimpleMethods" : [
    "createBuild",
    "searchGameSessions",
    "describePlayerSessions",
    "describeGameSessionDetails",
    "describeGameSessions"
  ],
  "verifiedSimpleMethods" : [
    "describeEC2InstanceLimits",
    "describeFleetAttributes",
    "describeFleetCapacity",
    "describeFleetUtilization",
    "describeGameSessionQueues",
    "describeMatchmakingConfigurations",
    "describeMatchmakingRuleSets",
    "describeVpcPeeringAuthorizations",
    "describeVpcPeeringConnections",
    "listAliases",
    "listBuilds",
    "listFleets"
  ]
}
