{
    "verifiedSimpleMethods": [
        "allTypes",
        "deleteOperation",
        "mapOfStringToListOfStringInQueryParams",
        "membersInHeaders",
        "membersInQueryParams",
        "operationWithExplicitPayloadStructure",
        "operationWithExplicitPayloadBlob",
        "operationWithModeledContentType",
        "operationWithNoInputOrOutput",
        "queryParamWithoutValue",
        "headOperation",
        "jsonValuesOperation",
        "nestedContainers",
        "furtherNestedContainers",
        "statusCodeInOutputOperation",
        "getOperationWithBody"
    ],
    "skipEndpointTestGeneration": true,
    "useLegacyEventGenerationScheme": {},
    "disableUniqueEventStreamShapePreprocessing": {
        "InputEventStream": [
            "InputEvent"
        ],
        "InputEventStreamStringPayload": [
            "InputEvent"
        ],
        "EventStream": [
            "EventOne",
            "EventTwo",
            "errorOne"
        ]
    }
}