{
    "verifiedSimpleMethods" : [
        "allTypes",
        "deleteOperation",
        "mapOfStringToListOfStringInQueryParams",
        "membersInHeaders",
        "membersInQueryParams",
        "operationWithExplicitPayloadStructure",
        "operationWithExplicitPayloadBlob",
        "operationWithModeledContentType",
        "operationWithNoInputOrOutput",
        "queryParamWithoutValue",
        "headOperation",
        "jsonValuesOperation",
        "nestedContainers",
        "furtherNestedContainers",
        "statusCodeInOutputOperation",
        "getOperationWithBody"
    ]
}
