{
    "verifiedSimpleMethods" : [
        "allTypes",
        "deleteOperation",
        "mapOfStringToListOfStringInQueryParams",
        "membersInHeaders",
        "membersInQueryParams",
        "operationWithExplicitPayloadStructure",
        "operationWithExplicitPayloadBlob",
        "operationWithModeledContentType",
        "operationWithNoInputOrOutput",
        "streamingInputOperation",
        "streamingOutputOperation",
        "queryParamWithoutValue",
        "headOperation",
        "jsonValuesOperation",
        "nestedContainers"
    ]
}
