{
  "verifiedSimpleMethods": [
    "getSMSAttributes",
    "listPhoneNumbersOptedOut",
    "listPlatformApplications",
    "listSubscriptions",
    "listTopics"
  ],
  "shapeModifiers": {
    "AddPermissionInput": {
      "modify": [
        {
          "AWSAccountId": {
            "emitPropertyName": "AWSAccountIds"
          },
          "ActionName": {
            "emitPropertyName": "ActionNames"
          }
        }
      ]
    }
  }
}
