{
    "authPolicyActions" : {
        "skip": "true"
    },
    "shapeModifiers" : {
        "AddPermissionInput" : {
            "modify" : [
                {
                    "AWSAccountId" : {
                        "emitPropertyName" : "AWSAccountIds"
                    },
                    "ActionName" : {
                        "emitPropertyName" : "ActionNames"
                    }
                }
            ]
        }
    }
}