{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "authPolicyActions" : {
        "skip": "true"
    },
    "shapeModifiers" : {
        "AddPermissionInput" : {
            "modify" : [
                {
                    "AWSAccountId" : {
                        "emitPropertyName" : "AWSAccountIds"
                    },
                    "ActionName" : {
                        "emitPropertyName" : "ActionNames"
                    }
                }
            ]
        }
    },
    "simpleMethods" : {
        "SetSubscriptionAttributes" : {
          "methodForms" : [ [ "SubscriptionArn", "AttributeName", "AttributeValue" ] ]
        },
        "GetSubscriptionAttributes" : {
          "methodForms" : [ [ "SubscriptionArn" ] ]
        },
        "Subscribe" : {
          "methodForms" : [ [ "TopicArn" , "Protocol", "Endpoint" ] ]
        },
        "AddPermission" : {
          "methodForms" : [ [ "TopicArn", "Label", "AWSAccountIds", "ActionNames" ] ]
        },
        "GetTopicAttributes" : {
          "methodForms" : [ [ "TopicArn" ] ]
        },
        "RemovePermission" : {
          "methodForms" : [ [ "TopicArn", "Label" ] ]
        },
        "ListTopics" : {
          "methodForms" : [ [ ], [ "NextToken" ] ]
        },
        "ConfirmSubscription" : {
          "methodForms" : [ [ "TopicArn", "Token", "AuthenticateOnUnsubscribe"], [ "TopicArn", "Token" ] ]
        },
        "SetTopicAttributes" : {
          "methodForms" : [ [ "TopicArn", "AttributeName", "AttributeValue" ] ]
        },
        "CreateTopic" : {
          "methodForms" : [ [ "Name" ] ]
        },
        "DeleteTopic" : {
          "methodForms" : [ [ "TopicArn" ] ]
        },
        "Unsubscribe" : {
          "methodForms" : [ [ "SubscriptionArn" ] ]
        },
        "Publish" : {
          "methodForms" : [ [ "TopicArn", "Message" ], [ "TopicArn", "Message", "Subject" ] ]
        },
        "ListSubscriptions" : {
          "methodForms" : [ [ ], [ "NextToken" ] ]
        },
        "ListSubscriptionsByTopic" : {
          "methodForms" : [ [ "TopicArn" ], [ "TopicArn", "NextToken" ] ]
        },
        "ListPlatformApplications" : {
          "methodForms" : [ [  ] ]
        }
    },
    "additionalShapeConstructors": {
        "SetSubscriptionAttributesRequest": {
          "constructorForms": [
            [ "SubscriptionArn", "AttributeName", "AttributeValue" ]
          ]
        },
        "GetSubscriptionAttributesRequest": {
          "constructorForms": [
            [ "SubscriptionArn" ]
          ]
        },
        "SubscribeRequest": {
          "constructorForms": [
            [ "TopicArn", "Protocol", "Endpoint" ]
          ]
        },
        "AddPermissionRequest": {
          "constructorForms": [
            [ "TopicArn", "Label", "AWSAccountIds", "ActionNames" ]
          ]
        },
        "GetTopicAttributesRequest": {
          "constructorForms": [
            [ "TopicArn" ]
          ]
        },
        "RemovePermissionRequest": {
          "constructorForms": [
            [ "TopicArn", "Label" ]
          ]
        },
        "ListTopicsRequest": {
          "constructorForms": [
            [ "NextToken" ]
          ]
        },
        "ConfirmSubscriptionRequest": {
          "constructorForms": [
            [ "TopicArn", "Token" ],
            [ "TopicArn", "Token", "AuthenticateOnUnsubscribe"]
          ]
        },
        "SetTopicAttributesRequest": {
          "constructorForms": [
            [ "TopicArn", "AttributeName", "AttributeValue" ]
          ]
        },
        "CreateTopicRequest": {
          "constructorForms": [
            [ "Name" ]
          ]
        },
        "DeleteTopicRequest": {
          "constructorForms": [
            [ "TopicArn" ]
          ]
        },
        "UnsubscribeRequest": {
          "constructorForms": [
            [ "SubscriptionArn" ]
          ]
        },
        "PublishRequest": {
          "constructorForms": [
            [ "TopicArn", "Message" ],
            [ "TopicArn", "Message", "Subject" ]
          ]
        },
        "ListSubscriptionsRequest": {
          "constructorForms": [
            [ "NextToken" ]
          ]
        },
        "ListSubscriptionsByTopicRequest": {
          "constructorForms": [
            [ "TopicArn" ],
            [ "TopicArn", "NextToken" ]
          ]
        }
    }
}