{
    "authPolicyActions" : {
        "skip" : true
    },
    "shapeModifiers": {
        "DomainControllerLimitExceededException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "EntityDoesNotExistException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "ClientException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "DirectoryUnavailableException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "DirectoryLimitExceededException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "InsufficientPermissionsException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "TagLimitExceededException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "AuthenticationFailedException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "EntityAlreadyExistsException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "InvalidParameterException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "IpRouteLimitExceededException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "ServiceException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "UnsupportedOperationException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "SnapshotLimitExceededException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        },
        "InvalidNextTokenException":{
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "directoryRequestId"
                    }
                }
            ]
        }
    }
}
