{
    "useAutoConstructList" : true,
    "simpleMethods" : {
        "DescribeSnapshots" : {
            "methodForms" : [[ ]]
        },
        "DescribeDirectories" : {
            "methodForms" : [[ ]]
        },
        "GetDirectoryLimits" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : true
    }

}