{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-03-10",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"smithyrpcv2protocol",
    "protocols":["smithy-rpc-v2-cbor", "json", "query"],
    "serviceFullName":"RpcV2 Protocol Service",
    "serviceId":"SmithyRpcV2Protocol",
    "signatureVersion":"v4",
    "signingName":"execute-api",
    "targetPrefix":"RpcV2Protocol",
    "uid":"smithy-rpcv2protocol-2023-03-10"
  },
  "operations":{
    "EmptyInputOutput":{
      "name":"EmptyInputOutput",
      "input":{"shape":"EmptyStructure"},
      "output":{"shape":"EmptyStructure"}
    },
    "Float16":{
      "name":"Float16",
      "output":{"shape":"Float16Output"}
    },
    "FractionalSeconds":{
      "name":"FractionalSeconds",
      "output":{"shape":"FractionalSecondsOutput"}
    },
    "GreetingWithErrors":{
      "name":"GreetingWithErrors",
      "output":{"shape":"GreetingWithErrorsOutput"},
      "errors":[
        {"shape":"ComplexError"},
        {"shape":"InvalidGreeting"}
      ],
      "idempotent":true
    },
    "NoInputOutput":{
      "name":"NoInputOutput"
    },
    "OperationWithDefaults":{
      "name":"OperationWithDefaults",
      "input":{"shape":"OperationWithDefaultsInput"},
      "output":{"shape":"OperationWithDefaultsOutput"},
      "errors":[
        {"shape":"ValidationException"}
      ]
    },
    "OptionalInputOutput":{
      "name":"OptionalInputOutput",
      "input":{"shape":"SimpleStructure"},
      "output":{"shape":"SimpleStructure"}
    },
    "RecursiveShapes":{
      "name":"RecursiveShapes",
      "input":{"shape":"RecursiveShapesInputOutput"},
      "output":{"shape":"RecursiveShapesInputOutput"}
    },
    "RpcV2CborDenseMaps":{
      "name":"RpcV2CborDenseMaps",
      "input":{"shape":"RpcV2CborDenseMapsInputOutput"},
      "output":{"shape":"RpcV2CborDenseMapsInputOutput"},
      "errors":[
        {"shape":"ValidationException"}
      ]
    },
    "RpcV2CborLists":{
      "name":"RpcV2CborLists",
      "input":{"shape":"RpcV2CborListInputOutput"},
      "output":{"shape":"RpcV2CborListInputOutput"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "idempotent":true
    },
    "RpcV2CborSparseMaps":{
      "name":"RpcV2CborSparseMaps",
      "input":{"shape":"RpcV2CborSparseMapsInputOutput"},
      "output":{"shape":"RpcV2CborSparseMapsInputOutput"},
      "errors":[
        {"shape":"ValidationException"}
      ]
    },
    "SimpleScalarProperties":{
      "name":"SimpleScalarProperties",
      "input":{"shape":"SimpleScalarStructure"},
      "output":{"shape":"SimpleScalarStructure"}
    },
    "SparseNullsOperation":{
      "name":"SparseNullsOperation",
      "input":{"shape":"SparseNullsOperationInputOutput"},
      "output":{"shape":"SparseNullsOperationInputOutput"}
    }
  },
  "shapes":{
    "Blob":{"type":"blob"},
    "BlobList":{
      "type":"list",
      "member":{"shape":"Blob"}
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BooleanList":{
      "type":"list",
      "member":{"shape":"Boolean"}
    },
    "Byte":{
      "type":"byte",
      "box":true
    },
    "ClientOptionalDefaults":{
      "type":"structure",
      "members":{
        "member":{"shape":"Integer"}
      }
    },
    "ComplexError":{
      "type":"structure",
      "members":{
        "TopLevel":{"shape":"String"},
        "Nested":{"shape":"ComplexNestedErrorData"}
      },
      "exception":true
    },
    "ComplexNestedErrorData":{
      "type":"structure",
      "members":{
        "Foo":{"shape":"String"}
      }
    },
    "DateTime":{
      "type":"timestamp"
    },
    "Defaults":{
      "type":"structure",
      "members":{
        "defaultString":{"shape":"String"},
        "defaultBoolean":{"shape":"Boolean"},
        "defaultList":{"shape":"TestStringList"},
        "defaultTimestamp":{"shape":"Timestamp"},
        "defaultBlob":{"shape":"Blob"},
        "defaultByte":{"shape":"Byte"},
        "defaultShort":{"shape":"Short"},
        "defaultInteger":{"shape":"Integer"},
        "defaultLong":{"shape":"Long"},
        "defaultFloat":{"shape":"Float"},
        "defaultDouble":{"shape":"Double"},
        "defaultMap":{"shape":"TestStringMap"},
        "defaultEnum":{"shape":"TestEnum"},
        "defaultIntEnum":{"shape":"TestIntEnum"},
        "emptyString":{"shape":"String"},
        "falseBoolean":{"shape":"Boolean"},
        "emptyBlob":{"shape":"Blob"},
        "zeroByte":{"shape":"Byte"},
        "zeroShort":{"shape":"Short"},
        "zeroInteger":{"shape":"Integer"},
        "zeroLong":{"shape":"Long"},
        "zeroFloat":{"shape":"Float"},
        "zeroDouble":{"shape":"Double"}
      }
    },
    "DenseBooleanMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Boolean"}
    },
    "DenseNumberMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Integer"}
    },
    "DenseSetMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"StringSet"}
    },
    "DenseStringMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "DenseStructMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"GreetingStruct"}
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "EmptyStructure":{
      "type":"structure",
      "members":{
      }
    },
    "Float":{
      "type":"float",
      "box":true
    },
    "Float16Output":{
      "type":"structure",
      "members":{
        "value":{"shape":"Double"}
      }
    },
    "FooEnum":{
      "type":"string",
      "enum":[
        "Foo",
        "Baz",
        "Bar"
      ]
    },
    "FooEnumList":{
      "type":"list",
      "member":{"shape":"FooEnum"}
    },
    "FractionalSecondsOutput":{
      "type":"structure",
      "members":{
        "datetime":{"shape":"DateTime"}
      }
    },
    "GreetingStruct":{
      "type":"structure",
      "members":{
        "hi":{"shape":"String"}
      }
    },
    "GreetingWithErrorsOutput":{
      "type":"structure",
      "members":{
        "greeting":{"shape":"String"}
      }
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "IntegerEnum":{
      "type":"integer",
      "box":true
    },
    "IntegerEnumList":{
      "type":"list",
      "member":{"shape":"IntegerEnum"}
    },
    "IntegerList":{
      "type":"list",
      "member":{"shape":"Integer"}
    },
    "InvalidGreeting":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "NestedStringList":{
      "type":"list",
      "member":{"shape":"StringList"}
    },
    "OperationWithDefaultsInput":{
      "type":"structure",
      "members":{
        "defaults":{"shape":"Defaults"},
        "clientOptionalDefaults":{"shape":"ClientOptionalDefaults"},
        "topLevelDefault":{"shape":"String"},
        "otherTopLevelDefault":{"shape":"Integer"}
      }
    },
    "OperationWithDefaultsOutput":{
      "type":"structure",
      "members":{
        "defaultString":{"shape":"String"},
        "defaultBoolean":{"shape":"Boolean"},
        "defaultList":{"shape":"TestStringList"},
        "defaultTimestamp":{"shape":"Timestamp"},
        "defaultBlob":{"shape":"Blob"},
        "defaultByte":{"shape":"Byte"},
        "defaultShort":{"shape":"Short"},
        "defaultInteger":{"shape":"Integer"},
        "defaultLong":{"shape":"Long"},
        "defaultFloat":{"shape":"Float"},
        "defaultDouble":{"shape":"Double"},
        "defaultMap":{"shape":"TestStringMap"},
        "defaultEnum":{"shape":"TestEnum"},
        "defaultIntEnum":{"shape":"TestIntEnum"},
        "emptyString":{"shape":"String"},
        "falseBoolean":{"shape":"Boolean"},
        "emptyBlob":{"shape":"Blob"},
        "zeroByte":{"shape":"Byte"},
        "zeroShort":{"shape":"Short"},
        "zeroInteger":{"shape":"Integer"},
        "zeroLong":{"shape":"Long"},
        "zeroFloat":{"shape":"Float"},
        "zeroDouble":{"shape":"Double"}
      }
    },
    "RecursiveShapesInputOutput":{
      "type":"structure",
      "members":{
        "nested":{"shape":"RecursiveShapesInputOutputNested1"}
      }
    },
    "RecursiveShapesInputOutputNested1":{
      "type":"structure",
      "members":{
        "foo":{"shape":"String"},
        "nested":{"shape":"RecursiveShapesInputOutputNested2"}
      }
    },
    "RecursiveShapesInputOutputNested2":{
      "type":"structure",
      "members":{
        "bar":{"shape":"String"},
        "recursiveMember":{"shape":"RecursiveShapesInputOutputNested1"}
      }
    },
    "RpcV2CborDenseMapsInputOutput":{
      "type":"structure",
      "members":{
        "denseStructMap":{"shape":"DenseStructMap"},
        "denseNumberMap":{"shape":"DenseNumberMap"},
        "denseBooleanMap":{"shape":"DenseBooleanMap"},
        "denseStringMap":{"shape":"DenseStringMap"},
        "denseSetMap":{"shape":"DenseSetMap"}
      }
    },
    "RpcV2CborListInputOutput":{
      "type":"structure",
      "members":{
        "stringList":{"shape":"StringList"},
        "stringSet":{"shape":"StringSet"},
        "integerList":{"shape":"IntegerList"},
        "booleanList":{"shape":"BooleanList"},
        "timestampList":{"shape":"TimestampList"},
        "enumList":{"shape":"FooEnumList"},
        "intEnumList":{"shape":"IntegerEnumList"},
        "nestedStringList":{"shape":"NestedStringList"},
        "structureList":{"shape":"StructureList"},
        "blobList":{"shape":"BlobList"}
      }
    },
    "RpcV2CborSparseMapsInputOutput":{
      "type":"structure",
      "members":{
        "sparseStructMap":{"shape":"SparseStructMap"},
        "sparseNumberMap":{"shape":"SparseNumberMap"},
        "sparseBooleanMap":{"shape":"SparseBooleanMap"},
        "sparseStringMap":{"shape":"SparseStringMap"},
        "sparseSetMap":{"shape":"SparseSetMap"}
      }
    },
    "Short":{
      "type":"short",
      "box":true
    },
    "SimpleScalarStructure":{
      "type":"structure",
      "members":{
        "trueBooleanValue":{"shape":"Boolean"},
        "falseBooleanValue":{"shape":"Boolean"},
        "byteValue":{"shape":"Byte"},
        "doubleValue":{"shape":"Double"},
        "floatValue":{"shape":"Float"},
        "integerValue":{"shape":"Integer"},
        "longValue":{"shape":"Long"},
        "shortValue":{"shape":"Short"},
        "stringValue":{"shape":"String"},
        "blobValue":{"shape":"Blob"}
      }
    },
    "SimpleStructure":{
      "type":"structure",
      "members":{
        "value":{"shape":"String"}
      }
    },
    "SparseBooleanMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Boolean"}
    },
    "SparseNullsOperationInputOutput":{
      "type":"structure",
      "members":{
        "sparseStringList":{"shape":"SparseStringList"},
        "sparseStringMap":{"shape":"SparseStringMap"}
      }
    },
    "SparseNumberMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Integer"}
    },
    "SparseSetMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"StringSet"}
    },
    "SparseStringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "SparseStringMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "SparseStructMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"GreetingStruct"}
    },
    "String":{"type":"string"},
    "StringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "StringSet":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "StructureList":{
      "type":"list",
      "member":{"shape":"StructureListMember"}
    },
    "StructureListMember":{
      "type":"structure",
      "members":{
        "a":{"shape":"String"},
        "b":{"shape":"String"}
      }
    },
    "TestEnum":{
      "type":"string",
      "enum":[
        "FOO",
        "BAR",
        "BAZ"
      ]
    },
    "TestIntEnum":{
      "type":"integer",
      "box":true
    },
    "TestStringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "TestStringMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "Timestamp":{"type":"timestamp"},
    "TimestampList":{
      "type":"list",
      "member":{"shape":"Timestamp"}
    },
    "ValidationException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "fieldList":{"shape":"ValidationExceptionFieldList"}
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "path",
        "message"
      ],
      "members":{
        "path":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    }
  }
}
