{
    "verifiedSimpleMethods" : [
        "listAlgorithms",
        "listCodeRepositories",
        "listCompilationJobs",
        "listEndpointConfigs",
        "listEndpoints",
        "listHyperParameterTuningJobs",
        "listLabelingJobs",
        "listModelPackages",
        "listModels",
        "listNotebookInstanceLifecycleConfigs",
        "listNotebookInstances",
        "listSubscribedWorkteams",
        "listTrainingJobs",
        "listTransformJobs",
        "listWorkteams"
    ]
}
