{
    "shapeModifiers": {
        "*": {
            "exclude": [
                "DryRun"
            ]
        },
        "AttachClassicLinkVpcResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "ConfirmProductInstanceResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "CreateRouteResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "DeleteVpcPeeringConnectionResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "DetachClassicLinkVpcResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "DisableVpcClassicLinkDnsSupportResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "DisableVpcClassicLinkResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "EnableVpcClassicLinkDnsSupportResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "EnableVpcClassicLinkResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "ModifyInstancePlacementResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "ModifySpotFleetRequestResponse": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "ModifyVpcEndpointResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "RejectVpcPeeringConnectionResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "DeleteFpgaImageResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "DeleteNetworkInterfacePermissionResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "ResetFpgaImageAttributeResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "UpdateSecurityGroupRuleDescriptionsEgressResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "UpdateSecurityGroupRuleDescriptionsIngressResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "ModifyFleetResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "ModifyVpcEndpointServiceConfigurationResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "ModifyInstanceCapacityReservationAttributesResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "ModifyCapacityReservationResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "CancelCapacityReservationResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "Image": {
            "modify": [
                {
                    "Public": {
                        "emitPropertyName": "PublicLaunchPermissions"
                    }
                }
            ]
        },
        "FpgaImage": {
            "modify": [
                {
                    "Public": {
                        "emitPropertyName": "isPublic"
                    }
                }
            ]
        }
    },
    "blacklistedSimpleMethods" : [
        "acceptVpcPeeringConnection",
        "authorizeSecurityGroupIngress",
        "cancelImportTask",
        "createVpcPeeringConnection",
        "deleteSecurityGroup",
        "disableVpcClassicLinkDnsSupport",
        "disassociateAddress",
        "enableVpcClassicLinkDnsSupport",
        "importImage",
        "importSnapshot",
        "releaseAddress",
        "revokeSecurityGroupIngress",
        "deleteLaunchTemplate",
        "modifyLaunchTemplate",
        "requestSpotInstances",
        "describeLaunchTemplateVersions"
    ],
    "verifiedSimpleMethods" : [
        "allocateAddress",
        "associateAddress",
        "createInternetGateway",
        "deleteSpotDatafeedSubscription",
        "describeFpgaImages",
        "describeReservedInstancesListings",
        "describeSpotDatafeedSubscription",
        "createDefaultVpc"
    ]
}
