{
  "useAutoConstructList" : true,
  "authPolicyActions" : {
    "skip" : true
  },
  "additionalShapeConstructors" : {
    "AttachVpnGatewayRequest": {
        "constructorForms": [
            ["VpnGatewayId", "VpcId"]
        ]
    },
    "CreateSpotDatafeedSubscriptionRequest": {
        "constructorForms": [
            ["Bucket"]
        ]
    },
    "PurchaseReservedInstancesOfferingRequest": {
        "constructorForms": [
            ["ReservedInstancesOfferingId", "InstanceCount"]
        ]
    },
    "ModifySnapshotAttributeRequest": {
        "constructorForms": [
            ["SnapshotId", "Attribute", "OperationType"]
        ]
    },
    "ModifyImageAttributeRequest": {
        "constructorForms": [
            ["ImageId", "Attribute"]
        ]
    },
    "CancelSpotInstanceRequestsRequest": {
        "constructorForms": [
            ["SpotInstanceRequestIds"]
        ]
    },
    "DeleteKeyPairRequest": {
        "constructorForms": [
            ["KeyName"]
        ]
    },
    "DeletePlacementGroupRequest": {
        "constructorForms": [
            ["GroupName"]
        ]
    },
    "DeleteSubnetRequest": {
        "constructorForms": [
            ["SubnetId"]
        ]
    },
    "CreatePlacementGroupRequest": {
        "constructorForms": [
            ["GroupName", "Strategy"]
        ]
    },
    "ResetInstanceAttributeRequest": {
        "constructorForms": [
            ["InstanceId", "Attribute"]
        ]
    },
    "ModifyInstanceAttributeRequest": {
        "constructorForms": [
            ["InstanceId", "Attribute"]
        ]
    },
    "AssociateAddressRequest": {
        "constructorForms": [
            ["InstanceId", "PublicIp"]
        ]
    },
    "RegisterImageRequest": {
        "constructorForms": [
            ["ImageLocation"]
        ]
    },
    "CreateSnapshotRequest": {
        "constructorForms": [
            ["VolumeId", "Description"]
        ]
    },
    "DeregisterImageRequest": {
        "constructorForms": [
            ["ImageId"]
        ]
    },
    "DescribeInstanceAttributeRequest": {
        "constructorForms": [
            ["InstanceId", "Attribute"]
        ]
    },
    "StopInstancesRequest": {
        "constructorForms": [
            ["InstanceIds"]
        ]
    },
    "CreateSubnetRequest": {
        "constructorForms": [
            ["VpcId", "CidrBlock"]
        ]
    },
    "ConfirmProductInstanceRequest": {
        "constructorForms": [
            ["ProductCode", "InstanceId"]
        ]
    },
    "TerminateInstancesRequest": {
        "constructorForms": [
            ["InstanceIds"]
        ]
    },
    "CreateImageRequest": {
        "constructorForms": [
            ["InstanceId", "Name"]
        ]
    },
    "DeleteVpcRequest": {
        "constructorForms": [
            ["VpcId"]
        ]
    },
    "CreateVpcRequest": {
        "constructorForms": [
            ["CidrBlock"]
        ]
    },
    "GetConsoleOutputRequest": {
        "constructorForms": [
            ["InstanceId"]
        ]
    },
    "DeleteVpnConnectionRequest": {
        "constructorForms": [
            ["VpnConnectionId"]
        ]
    },
    "CreateSecurityGroupRequest": {
        "constructorForms": [
            ["GroupName", "Description"]
        ]
    },
    "RevokeSecurityGroupIngressRequest": {
        "constructorForms": [
            ["GroupName", "IpPermissions"]
        ]
    },
    "DeleteSecurityGroupRequest": {
        "constructorForms": [
            ["GroupName"]
        ]
    },
    "RequestSpotInstancesRequest": {
        "constructorForms": [
            ["SpotPrice"]
        ]
    },
    "CreateVpnGatewayRequest": {
        "constructorForms": [
            ["Type"]
        ]
    },
    "DescribeSnapshotAttributeRequest": {
        "constructorForms": [
            ["SnapshotId", "Attribute"]
        ]
    },
    "DetachVpnGatewayRequest": {
        "constructorForms": [
            ["VpnGatewayId", "VpcId"]
        ]
    },
    "DeleteSnapshotRequest": {
        "constructorForms": [
            ["SnapshotId"]
        ]
    },
    "ReleaseAddressRequest": {
        "constructorForms": [
            ["PublicIp"]
        ]
    },
    "DescribeImageAttributeRequest": {
        "constructorForms": [
            ["ImageId", "Attribute"]
        ]
    },
    "AttachVolumeRequest": {
        "constructorForms": [
            ["VolumeId", "InstanceId", "Device"]
        ]
    },
    "AuthorizeSecurityGroupIngressRequest": {
        "constructorForms": [
            ["GroupName", "IpPermissions"]
        ]
    },
    "ResetImageAttributeRequest": {
        "constructorForms": [
            ["ImageId", "Attribute"]
        ]
    },
    "RunInstancesRequest": {
        "constructorForms": [
            ["ImageId", "MinCount", "MaxCount"]
        ]
    },
    "DetachVolumeRequest": {
        "constructorForms": [
            ["VolumeId"]
        ]
    },
    "StartInstancesRequest": {
        "constructorForms": [
            ["InstanceIds"]
        ]
    },
    "GetPasswordDataRequest": {
        "constructorForms": [
            ["InstanceId"]
        ]
    },
    "ResetSnapshotAttributeRequest": {
        "constructorForms": [
            ["SnapshotId", "Attribute"]
        ]
    },
    "CreateKeyPairRequest": {
        "constructorForms": [
            ["KeyName"]
        ]
    },
    "Placement": {
        "constructorForms": [
            ["AvailabilityZone"]
        ]
    },
    "SpotPlacement": {
        "constructorForms": [
            ["AvailabilityZone"]
        ]
    },
    "DeleteDhcpOptionsRequest": {
        "constructorForms": [
            ["DhcpOptionsId"]
        ]
    },
    "DeleteVolumeRequest": {
        "constructorForms": [
            ["VolumeId"]
        ]
    },
    "DescribeVolumesRequest": {
        "constructorForms": [
            ["VolumeIds"]
        ]
    },
    "UnmonitorInstancesRequest": {
        "constructorForms": [
            ["InstanceIds"]
        ]
    },
    "DeleteVpnGatewayRequest": {
        "constructorForms": [
            ["VpnGatewayId"]
        ]
    },
    "MonitorInstancesRequest": {
        "constructorForms": [
            ["InstanceIds"]
        ]
    },
    "RebootInstancesRequest": {
        "constructorForms": [
            ["InstanceIds"]
        ]
    },
    "DisassociateAddressRequest": {
        "constructorForms": [
            ["PublicIp"]
        ]
    },
    "CreateVpnConnectionRequest": {
        "constructorForms": [
            ["Type", "CustomerGatewayId", "VpnGatewayId"]
        ]
    },
    "BundleInstanceRequest": {
        "constructorForms": [
            ["InstanceId", "Storage"]
        ]
    },
    "DeleteCustomerGatewayRequest": {
        "constructorForms": [
            ["CustomerGatewayId"]
        ]
    },
    "PlacementGroup": {
        "constructorForms": [
            ["GroupName"]
        ]
    },
    "Filter": {
        "constructorForms": [
            ["Name"],
            ["Name", "Values"]
        ]
    },
    "CreateDhcpOptionsRequest": {
        "constructorForms": [
            ["DhcpConfigurations"]
        ]
    },
    "CreateCustomerGatewayRequest": {
        "constructorForms": [
            ["Type", "PublicIp", "BgpAsn"]
        ]
    },
    "CreateVolumeRequest": {
        "constructorForms": [
            ["Size", "AvailabilityZone"],
            ["SnapshotId", "AvailabilityZone"]
        ]
    },
    "CancelBundleTaskRequest": {
        "constructorForms": [
            ["BundleId"]
        ]
    },
    "AssociateDhcpOptionsRequest": {
        "constructorForms": [
            ["VpcId"]
        ]
    },
    "ImportKeyPairRequest": {
        "constructorForms": [
            ["KeyName", "PublicKeyMaterial"]
        ]
    },
    "CreateTagsRequest": {
        "constructorForms": [
            ["Resources", "Tags"]
        ]
    },
    "DescribeTagsRequest": {
        "constructorForms": [
            ["Filters"]
        ]
    },
    "DeleteTagsRequest": {
        "constructorForms": [
            ["Resources"]
        ]
    },
    "Tag": {
        "constructorForms": [
            ["Key"],
            ["Key", "Value"]
        ]
    }
  },

  "simpleMethods" : {
      "DescribeReservedInstances" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeAvailabilityZones" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeSpotPriceHistory" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeNetworkInterfaces" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeRegions" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeInternetGateways" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeSecurityGroups" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeSpotDatafeedSubscription" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeAccountAttributes" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeVolumeStatus" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeVpnConnections" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeVpcs" : {
          "methodForms" : [
              []
          ]
      },
      "AcceptVpcPeeringConnection" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeExportTasks" : {
          "methodForms" : [
              []
          ]
      },
      "CreateVpcPeeringConnection" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeVolumes" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeReservedInstancesListings" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeRouteTables" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeDhcpOptions" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeNetworkAcls" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeBundleTasks" : {
          "methodForms" : [
              []
          ]
      },
      "RevokeSecurityGroupIngress" : {
          "methodForms" : [
              []
          ]
      },
      "CreateInternetGateway" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeConversionTasks" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeVpcPeeringConnections" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeSubnets" : {
          "methodForms" : [
              []
          ]
      },
      "DescribePlacementGroups" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeInstances" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeImages" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeSpotInstanceRequests" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeCustomerGateways" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeVpcClassicLink" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeClassicLinkInstances" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeTags" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeReservedInstancesModifications" : {
          "methodForms" : [
              []
          ]
      },
      "DeleteSpotDatafeedSubscription" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeAddresses" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeKeyPairs" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeInstanceStatus" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeVpnGateways" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeReservedInstancesOfferings" : {
          "methodForms" : [
              []
          ]
      },
      "AllocateAddress" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeSnapshots" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeFlowLogs" : {
          "methodForms" : [
              []
          ]
      },
      "CancelImportTask" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeHosts" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeIdFormat" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeImportImageTasks" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeImportSnapshotTasks" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeMovingAddresses" : {
          "methodForms" : [
              []
          ]
      },
      "DescribePrefixLists" : {
          "methodForms" : [
              []
          ]
      },
      "DescribePrefixLists" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeVpcEndpoints" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeVpcEndpointServices" : {
          "methodForms" : [
              []
          ]
      },
      "ImportImage" : {
          "methodForms" : [
              []
          ]
      },
      "ImportSnapshot" : {
          "methodForms" : [
              []
          ]
      },
      "DescribeSpotFleetRequests" : {
          "methodForms" : [
              []
          ]
      }
  },

  // See https://github.com/aws/aws-sdk-net/blob/master/ServiceModels/ec2.customizations.json

  "operationModifiers": {
    "AttachVolume": {
        "useWrappingResult": true,
        "wrappedResultShape": "VolumeAttachment",
        "wrappedResultMember": "Attachment"
    },
    "CreateKeyPair": {
        "useWrappingResult": true,
        "wrappedResultShape": "KeyPair",
        "wrappedResultMember": "KeyPair"
    },
    "CreateSnapshot": {
        "useWrappingResult": true,
        "wrappedResultShape": "Snapshot",
        "wrappedResultMember": "Snapshot"
    },
    "CreateVolume": {
        "useWrappingResult": true,
        "wrappedResultShape": "Volume",
        "wrappedResultMember": "Volume"
    },
    "DescribeImageAttribute": {
        "useWrappingResult": true,
        "wrappedResultShape": "ImageAttribute",
        "wrappedResultMember": "ImageAttribute"
    },
    "DescribeInstanceAttribute": {
        "useWrappingResult": true,
        "wrappedResultShape": "InstanceAttribute",
        "wrappedResultMember": "InstanceAttribute"
    },
    "DetachVolume": {
        "useWrappingResult": true,
        "wrappedResultShape": "VolumeAttachment",
        "wrappedResultMember": "Attachment"
    },
    "RunInstances": {
        "useWrappingResult": true,
        "wrappedResultShape": "Reservation",
        "wrappedResultMember": "Reservation"
    }
  },

  "shapeSubstitutions" : {
    "AttributeValue": {
        "emitAsShape": "String",
        "emitFromMember": "Value",
        "skipMarshallPathForShapes": ["DhcpConfiguration"]
    },
    "AttributeBooleanValue": {
        "emitAsShape": "Boolean",
        "emitFromMember": "Value"
    },
    "Blob": {
        "emitAsShape": "String"
    },
    "BlobAttributeValue": {
        "emitAsShape": "String",
        "emitFromMember": "Value"
    },
    "NewDhcpConfiguration": {
        "emitAsShape": "DhcpConfiguration"
    },
    "RunInstancesMonitoringEnabled": {
        "emitAsShape": "Boolean",
        "emitFromMember": "Enabled"
    },
    "RequestSpotLaunchSpecification": {
        "emitAsShape": "LaunchSpecification"
    }
  },

    "shapeModifiers": {
        "*": {
            "exclude": [
                "DryRun"
            ]
        },
        "IpPermission": {
            "modify": [
                {
                  "IpRanges": {
                      "emitPropertyName": "Ipv4Ranges"
                  }
                }
            ]
        },
        "LaunchSpecification": {
            "modify": [
                {
                    // SecurityGroups is a list of strings in the request, but a list of group-identifier structures in the response.
                    // To handle this, we rename this property to "AllSecurityGroups" which will be only used for unmarshalling.
                    // Then we inject a new "securityGroups" property which is a list of groupName strings
                    // and it will be only used for marshalling.
                    "SecurityGroups": {
                        "emitPropertyName": "AllSecurityGroups"
                    }
                },
                {
                    "Monitoring": {
                        "emitPropertyName": "MonitoringEnabled"
                    }
                },
                {
                    "NetworkInterfaces": {
                        "marshallLocationName": "NetworkInterface"
                    }
                }
            ],
            "inject": [
                {
                    "SecurityGroups": {
                        "shape": "GroupNameStringList",
                        "documentation": "<p>One or more security group names.</p>",
                        "locationName": "securityGroup"
                    }
                }
            ]
        },
        "Reservation": {
            "inject": [
                {
                    "GroupNames": {
                        "shape": "GroupNameStringList",
                        "documentation": "<p>One or more security group names.</p>",
                        "locationName": "groupName"
                    }
                }
            ]
        },
        "DhcpConfiguration": {
            "modify": [
                {
                    "Values": {
                        "marshallLocationName" : "Value"
                    }
                }
            ]
        },
        "ImportInstanceLaunchSpecification": {
            "modify": [
                 {
                     "Monitoring": {
                         "marshallLocationName" : "Monitoring.Enabled",
                         "unmarshallLocationName" : "monitoring/enabled"
                     }
                 }
            ]
        },
        "AttachClassicLinkVpcResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "ConfirmProductInstanceResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "CreateRouteResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "DeleteVpcPeeringConnectionResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "DetachClassicLinkVpcResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
         "DisableVpcClassicLinkDnsSupportResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
         "DisableVpcClassicLinkResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
         "EnableVpcClassicLinkDnsSupportResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
         "EnableVpcClassicLinkResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
         "ModifyInstancePlacementResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
         "ModifySpotFleetRequestResponse": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "ModifyVpcEndpointResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "RejectVpcPeeringConnectionResult": {
            "modify": [
                {
                    "Return": {
                        "emitPropertyName": "ReturnValue"
                    }
                }
            ]
        },
        "Image": {
            "modify": [
                {
                    "Public": {
                        "emitPropertyName": "PublicLaunchPermissions"
                    }
                }
            ]
        }

   }

}
