{
    "customErrorCodeFieldName": "code",

    "shapeModifiers" : {
        "UploadArchiveInput" : {
            "inject" : [
                {
                    "ContentLength" : {
                        "shape" : "long",
                        "documentation" : "The content length of the archive to upload.",
                        "location" : "header",
                        "locationName" : "Content-Length"
                    }
                }
            ]
        }
    },
    "customCodeTemplates" : {
        "syncClient" : {
            "childTemplates" : [
                {
                    "location" : "/macros/glacier/WrapResponseStream.ftl",
                    "importAsNamespace" : "WrapResponseStreamMacro"
                }
            ]
        },
        "modelMarshaller": {
            "childTemplates" : [
                {
                    "location" : "/macros/glacier/DefaultValueSupplierMacro.ftl",
                    "importAsNamespace" : "DefaultValueSupplierMacro"
                }
            ]
        }
    }
}
