{

    "customErrorCodeFieldName": "code",

    "shapeModifiers" : {
        "UploadArchiveInput" : {
            "inject" : [
                {
                    "ContentLength" : {
                        "shape" : "long",
                        "documentation" : "The content length of the archive to upload.",
                        "location" : "header",
                        "locationName" : "Content-Length"
                    }
                }
            ]
        }
    },
    "modelMarshallerDefaultValueSupplier": {
        "accountId" : "software.amazon.awssdk.services.glacier.transform.DefaultAccountIdSupplier"
    },

    "verifiedSimpleMethods" : [
        "getDataRetrievalPolicy",
        "listProvisionedCapacity",
        "listVaults",
        "purchaseProvisionedCapacity"
    ]
}
