{
    "customErrorCodeFieldName": "code",

    "shapeModifiers" : {
        "UploadArchiveInput" : {
            "inject" : [
                {
                    "ContentLength" : {
                        "shape" : "long",
                        "documentation" : "The content length of the archive to upload.",
                        "location" : "header",
                        "locationName" : "Content-Length"
                    }
                }
            ]
        },
        "ListMultipartUploadsInput" : {
            "modify" : [
                {
                    "marker" : {
                        "emitPropertyName" : "uploadIdMarker"
                    }
                }
            ]
        }
    },

    "additionalShapeConstructors" : {
        "DescribeJobRequest" :{
            "constructorForms": [
                ["AccountId", "VaultName", "JobId"],
                ["VaultName", "JobId"]
            ]
        },
        "CompleteMultipartUploadRequest" :{
            "constructorForms": [
                ["VaultName", "UploadId", "ArchiveSize", "Checksum"],
                ["AccountId", "VaultName", "UploadId", "ArchiveSize", "Checksum"]
            ]
        },
        "CreateVaultRequest" :{
            "constructorForms": [
                ["VaultName"],
                ["AccountId", "VaultName"]
            ]
        },
        "DeleteArchiveRequest" :{
            "constructorForms": [
                ["VaultName", "ArchiveId"],
                ["AccountId", "VaultName", "ArchiveId"]
            ]
        },
        "DeleteVaultNotificationsRequest" :{
            "constructorForms": [
                ["VaultName"],
                ["AccountId", "VaultName"]
            ]
        },
        "DeleteVaultRequest" :{
            "constructorForms": [
                ["VaultName"],
                ["AccountId", "VaultName"]
            ]
        },
        "DescribeVaultRequest" :{
            "constructorForms": [
                ["VaultName"],
                ["AccountId", "VaultName"]
            ]
        },
        "GetJobOutputRequest" :{
            "constructorForms": [
                ["VaultName", "JobId", "Range"],
                ["AccountId", "VaultName", "JobId", "Range"]
            ]
        },
        "GetVaultNotificationsRequest" :{
            "constructorForms": [
                ["VaultName"],
                ["AccountId", "VaultName"]
            ]
        },
        "InitiateJobRequest" :{
            "constructorForms": [
                ["VaultName", "JobParameters"],
                ["AccountId", "VaultName", "JobParameters"]
            ]
        },
        "InitiateMultipartUploadRequest" :{
            "constructorForms": [
                ["VaultName", "ArchiveDescription", "PartSize"],
                ["AccountId", "VaultName", "ArchiveDescription", "PartSize"]
            ]
        },
        "JobParameters" :{
            "constructorForms": [
                ["Format", "Type", "ArchiveId", "Description"]
            ]
        },
        "ListJobsRequest" :{
            "constructorForms": [
                ["VaultName"],
                ["AccountId", "VaultName"]
            ]
        },
        "ListPartsRequest" :{
            "constructorForms": [
                ["VaultName", "UploadId"],
                ["AccountId", "VaultName", "UploadId"]
            ]
        },
        "AbortMultipartUploadRequest" :{
            "constructorForms": [
                ["VaultName", "UploadId"],
                ["AccountId", "VaultName", "UploadId"]
            ]
        },
        "ListMultipartUploadsRequest" :{
            "constructorForms": [
                ["VaultName"],
                ["AccountId", "VaultName"]
            ]
        },
        "ListVaultsRequest" :{
            "constructorForms": [
                ["AccountId"],
                ["AccountId", "Marker", "Limit"]
            ]
        },
        "SetVaultNotificationsRequest" :{
            "constructorForms": [
                ["VaultName", "VaultNotificationConfig"],
                ["AccountId", "VaultName", "VaultNotificationConfig"]
            ]
        },
        "UploadArchiveRequest" :{
            "constructorForms": [
                ["VaultName", "ArchiveDescription", "Checksum", "Body"],
                ["VaultName", "AccountId", "ArchiveDescription", "Checksum", "Body"]
            ]
        },
        "UploadMultipartPartRequest" :{
            "constructorForms": [
                ["VaultName", "UploadId", "Checksum", "Range", "Body"],
                ["AccountId", "VaultName", "UploadId", "Checksum", "Range", "Body"]
            ]
        },
        "VaultNotificationConfig" :{
            "constructorForms": [
              ["SNSTopic", "Events"]
            ]
        }
    },

    "customCodeTemplates" : {
        "syncClient" : {
            "childTemplates" : [
                {
                    "location" : "/macros/glacier/WrapResponseStream.ftl",
                    "importAsNamespace" : "WrapResponseStreamMacro"
                }
            ]
        },
        "modelMarshaller": {
            "childTemplates" : [
                {
                    "location" : "/macros/glacier/DefaultValueSupplierMacro.ftl",
                    "importAsNamespace" : "DefaultValueSupplierMacro"
                }
            ]
        }
    }
}
