{
    "verifiedSimpleMethods": [
        "allTypes"
    ],
    "serviceConfig": {
        "className": "ProtocolRestJsonWithConfigConfiguration",
        "hasDualstackProperty": true
    },
    "useLegacyEventGenerationScheme": {
        "InputEventStream": {
            "InputEvent": "NO_UNIQUE_EVENT_NAMES"
        },
        "EventStream": {
            "EventOne": "NO_UNIQUE_EVENT_NAMES",
            "EventTwo": "NO_UNIQUE_EVENT_NAMES"
        }
    }
}