{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "simpleMethods" : {
        "CreateKey" : {
            "methodForms" : [[ ]]
        },
        "ListKeys" : {
            "methodForms" : [[ ]]
        },
        "ListAliases" : {
            "methodForms" : [[ ]]
        },
        "RetireGrant" : {
            "methodForms" : [[ ]]
        },
        "GenerateRandom" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : true
    }
}