{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "simpleMethods" : {
        "ListClusters" : {
            "methodForms" : [[ ]]
        },
        "ModifyInstanceGroups" : {
            "methodForms" : [[ ]]
        },
        "DescribeJobFlows" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "fileNamePrefix" : "ElasticMapReduce"
    },
    "shapeModifiers": {
        "InvalidRequestException":{
            "modify": [
                {
                    "ErrorCode": {
                        "emitPropertyName": "emrErrorCode"
                    }
                }
            ]
        }
    },
    "additionalShapeConstructors" : {
        "Tag" : {
            "constructorForms" : [
                  ["Key", "Value"]
              ]
        },
        "JobFlowExecutionStatusDetail" : {
            "constructorForms" : [
                  ["State", "CreationDateTime"]
              ]
        },
        "StepConfig" : {
            "constructorForms" : [
                  ["Name", "HadoopJarStep"]
              ]
        },
        "AddTagsRequest" : {
            "constructorForms" : [
                  ["ResourceId"], ["ResourceId", "Tags"]
              ]
        },
        "RemoveTagsRequest" : {
            "constructorForms" : [
                  ["ResourceId"], ["ResourceId", "TagKeys"]
              ]
        },
        "StepExecutionStatusDetail" : {
            "constructorForms" : [
                  ["State", "CreationDateTime"]
              ]
        },
        "AddJobFlowStepsRequest" : {
            "constructorForms" : [
                  ["JobFlowId"], ["JobFlowId", "Steps"]
              ]
        },
        "PlacementType" : {
            "constructorForms" : [
                  ["AvailabilityZone"]
              ]
        },
        "InstanceGroupModifyConfig" : {
            "constructorForms" : [
                  ["InstanceGroupId", "InstanceCount"]
              ]
        },
        "DescribeJobFlowsRequest" : {
            "constructorForms" : [
                  ["JobFlowIds"]
              ]
        },
        "KeyValue" : {
            "constructorForms" : [
                  ["Key", "Value"]
              ]
        },
        "RunJobFlowRequest" : {
            "constructorForms" : [
                  ["Name", "Instances"]
              ]
        },
        "ScriptBootstrapActionConfig" : {
            "constructorForms" : [
                  ["Path", "Args"]
              ]
        },
        "BootstrapActionConfig" : {
            "constructorForms" : [
                  ["Name", "ScriptBootstrapAction"]
              ]
        },
        "InstanceGroupDetail" : {
            "constructorForms" : [
                  ["InstanceRole", "InstanceType", "InstanceRequestCount", "InstanceRunningCount", "State", "CreationDateTime"]
              ]
        },
        "ModifyInstanceGroupsRequest" : {
            "constructorForms" : [
                  ["InstanceGroups"]
              ]
        },
        "BootstrapActionDetail" : {
            "constructorForms" : [
                  ["BootstrapActionConfig"]
              ]
        },
        "InstanceGroupConfig" : {
            "constructorForms" : [
                  ["InstanceRole", "InstanceType", "InstanceCount"]
              ]
        },
        "JobFlowDetail" : {
            "constructorForms" : [
                  ["JobFlowId", "Name", "ExecutionStatusDetail", "Instances"]
              ]
        },
        "StepDetail" : {
            "constructorForms" : [
                  ["StepConfig", "ExecutionStatusDetail"]
              ]
        },
        "HadoopJarStepConfig" : {
            "constructorForms" : [
                  ["Jar"]
              ]
        },
        "TerminateJobFlowsRequest" : {
            "constructorForms" : [
                  ["JobFlowIds"]
              ]
        },
        "JobFlowInstancesDetail" : {
            "constructorForms" : [
                  ["MasterInstanceType", "SlaveInstanceType", "InstanceCount"]
              ]
        },
        "AddInstanceGroupsRequest" : {
            "constructorForms" : [
                  ["InstanceGroups", "JobFlowId"]
              ]
        }
    }
}
