{
  "verifiedSimpleMethods": [
    "listClusters",
    "listSecurityConfigurations"
  ],
  "shapeModifiers": {
    "InvalidRequestException": {
      "modify": [
        {
          "ErrorCode": {
            "emitPropertyName": "emrErrorCode"
          }
        }
      ]
    }
  },
  "blacklistedSimpleMethods": [
    "cancelSteps",
    "modifyInstanceGroups",
    "describeJobFlows"
  ],
  "deprecatedOperations": [
    "DescribeJobFlows"
  ]
}
