{
    "verifiedSimpleMethods": [
        "listClusters",
        "listSecurityConfigurations"
    ],
    "shapeModifiers": {
        "InvalidRequestException": {
            "modify": [
                {
                    "ErrorCode": {
                        "emitPropertyName": "emrErrorCode"
                    }
                }
            ]
        }
    },
    "excludedSimpleMethods": [
        "cancelSteps",
        "modifyInstanceGroups",
        "describeJobFlows"
    ],
    "deprecatedOperations": [
        "DescribeJobFlows"
    ]

}
