{
    "customExceptionUnmarshallerImpl" : "software.amazon.awssdk.core.runtime.transform.LegacyErrorUnmarshaller",
    "skipInterfaceAdditions" : true,
    "shapeModifiers" : {
        "Attribute" : {
            "modify" : [
                {
                    "AlternateNameEncoding" : {
                        "unmarshallLocationName" : "Name/@encoding"
                    }
                },
                {
                    "AlternateValueEncoding" : {
                        "unmarshallLocationName" : "Value/@encoding"
                    }
                }
            ]
        },
        "Item" : {
            "modify" : [
                {
                    "AlternateNameEncoding" : {
                        "unmarshallLocationName" : "Name/@encoding"
                    }
                }
            ]
        }
    },
    "authPolicyActions" : {
        "skip" : false,
        "fileNamePrefix" : "SimpleDb"
    }
}
