{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "customResponseMetadataClassName" : "software.amazon.awssdk.services.simpledb.SimpleDbResponseMetadata",
    "customExceptionUnmarshallerImpl" : "software.amazon.awssdk.runtime.transform.LegacyErrorUnmarshaller",
    "skipInterfaceAdditions" : true,
    "shapeModifiers" : {
        "Attribute" : {
            "modify" : [
                {
                    "AlternateNameEncoding" : {
                        "unmarshallLocationName" : "Name/@encoding"
                    }
                },
                {
                    "AlternateValueEncoding" : {
                        "unmarshallLocationName" : "Value/@encoding"
                    }
                }
            ]
        },
        "Item" : {
            "modify" : [
                {
                    "AlternateNameEncoding" : {
                        "unmarshallLocationName" : "Name/@encoding"
                    }
                }
            ]
        }
    },
    "additionalShapeConstructors" : {
        "BatchPutAttributesRequest" : {
            "constructorForms" : [
                ["DomainName", "Items"]
            ]
        },
        "BatchDeleteAttributesRequest" : {
            "constructorForms" : [
                ["DomainName", "Items"]
            ]
        },
        "CreateDomainRequest" : {
            "constructorForms" : [
                ["DomainName"]
            ]
        },
        "DeleteDomainRequest" : {
            "constructorForms" : [
                ["DomainName"]
            ]
        },
        "Attribute" : {
            "constructorForms" : [
                ["Name", "Value"]
            ]
        },
        "Item" : {
            "constructorForms" : [
                ["Name", "Attributes"]
            ]
        },
        "DeletableItem" : {
            "constructorForms" : [
                ["Name", "Attributes"]
            ]
        },
        "GetAttributesRequest" : {
            "constructorForms" : [
                ["DomainName", "ItemName"]
            ]
        },
        "SelectRequest" : {
            "constructorForms" : [
                ["SelectExpression"], ["SelectExpression", "ConsistentRead"]
            ]
        },
        "DomainMetadataRequest" : {
            "constructorForms" : [
                ["DomainName"]
            ]
        },
        "PutAttributesRequest" : {
            "constructorForms" : [
                ["DomainName", "ItemName", "Attributes"], ["DomainName", "ItemName", "Attributes", "Expected"]
            ]
        },
        "ReplaceableAttribute" : {
            "constructorForms" : [
                ["Name", "Value", "Replace"]
            ]
        },
        "ReplaceableItem" : {
            "constructorForms" : [
                ["Name"], ["Name", "Attributes"]
            ]
        },
        "UpdateCondition" : {
            "constructorForms" : [
                ["Name", "Value", "Exists"]
            ]
        },
        "DeleteAttributesRequest" : {
            "constructorForms" : [
                ["DomainName", "ItemName"], ["DomainName", "ItemName", "Attributes"], ["DomainName", "ItemName", "Attributes", "Expected"]
            ]
        }
    },
    "simpleMethods" : {
        "ListDomains" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : false,
        "fileNamePrefix" : "SimpleDB"
    }
}
