{
  "verifiedSimpleMethods": [
    "createOrganization",
    "deleteOrganization",
    "enableAllFeatures",
    "leaveOrganization",
    "describeOrganization",
    "listAccounts",
    "listCreateAccountStatus",
    "listHandshakesForOrganization",
    "listHandshakesForAccount",
    "listRoots",
    "listAWSServiceAccessForOrganization"
  ]
}
