{
    "verifiedSimpleMethods" : [
        "createOrganization",
        "deleteOrganization",
        "enableAllFeatures",
        "leaveOrganization",
        "describeOrganization",
        "listAccounts",
        "listCreateAccountStatus",
        "listHandshakesForOrganization",
        "listRoots",
        "listAWSServiceAccessForOrganization"
    ]
}