{
    "shapeModifiers": {
        "Spend": {
            "modify": [
                {
                    "Amount": {
                        "emitAsType": "bigdecimal"
                    }
                }
            ]
        }
    },
    "enableGenerateCompiledEndpointRules": true,
    "enableFastUnmarshaller": true
}
