{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "simpleMethods" : {
        "ListPresets" : {
            "methodForms" : [[ ]]
        },
        "ListPipelines" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : true
    }
}