{
  "verifiedSimpleMethods": [
    "describeTapeArchives",
    "listFileShares",
    "listGateways",
    "listTapes",
    "listVolumes"
  ],
  "shapeModifiers": {
    "InternalServerError": {
      "exclude": [
        "error"
      ]
    },
    "InvalidGatewayRequestException": {
      "exclude": [
        "error"
      ]
    }
  }
}
