{
    "useAutoConstructList" : true,
    "simpleMethods" : {
        "ListTagsForResource" : {
            "methodForms" : [[ ]]
        },
        "ListGateways" : {
            "methodForms" : [[ ]]
        },
        "DescribeTapeArchives" : {
            "methodForms" : [[ ]]
        },
        "RemoveTagsFromResource" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : true
    },
    "shapeModifiers" : {
        "InternalServerError" : {
            "exclude" : ["error"]
        },
        "InvalidGatewayRequestException" : {
            "exclude" : ["error"]
        }
    }

}