{
    "blacklistedSimpleMethods" : [
        "allTypes",
        "nestedContainers",
        "operationWithNoInputOrOutput",
        "eventStreamOperation"
    ],
    "modelMarshallerDefaultValueSupplier": {
         "StringMember" : "software.amazon.awssdk.codegen.poet.transform.CustomDefaultValueSupplier.getInstance()"
    }
}