{
    "excludedSimpleMethods": [
        "allTypes",
        "nestedContainers",
        "operationWithNoInputOrOutput",
        "eventStreamOperation"
    ],
    "modelMarshallerDefaultValueSupplier": {
        "StringMember": "software.amazon.awssdk.codegen.poet.transform.CustomDefaultValueSupplier.getInstance()"
    },
    "useLegacyEventGenerationScheme": {},
    "disableUniqueEventStreamShapePreprocessing": {
        "InputEventStream": [
            "InputEvent"
        ],
        "InputEventStreamTwo": [
            "InputEventTwo"
        ],
        "EventStream": [
            "EventOne",
            "EventTwo",
            "EventThree"
        ]
    }
}