{
  "verifiedSimpleMethods": [
    "describeAccountAttributes",
    "describeCertificates",
    "describeConnections",
    "describeEndpointTypes",
    "describeEndpoints",
    "describeEventCategories",
    "describeEventSubscriptions",
    "describeEvents",
    "describeOrderableReplicationInstances",
    "describeReplicationInstances",
    "describeReplicationSubnetGroups",
    "describeReplicationTasks"
  ],
  "blacklistedSimpleMethods": [
    "describeReplicationTaskAssessmentResults"
  ]
}
