{
    "generateEndpointClientTests": true,
    "enableGenerateCompiledEndpointRules": true,
    "disableUniqueEventStreamShapePreprocessing": {
        "ResponseStream": [
            "trace",
            "output",
            "accessDeniedException",
            "conflictingOperationException",
            "internalFailureException",
            "invalidRequestException",
            "limitExceededException",
            "resourceNotFoundException",
            "throttlingException"
        ]
    }
}
