{
    "verifiedSimpleMethods": [
        "getSessionToken",
        "getCallerIdentity"
    ],
    "skipEndpointTests": {
        "UseGlobalEndpoint with legacy region `ap-northeast-1`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `ap-south-1`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `ap-southeast-1`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `ap-southeast-2`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `ca-central-1`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `eu-central-1`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `eu-north-1`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `eu-west-1`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `eu-west-2`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `eu-west-3`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `sa-east-1`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `us-east-1`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `us-east-2`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `us-west-1`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default",
        "UseGlobalEndpoint with legacy region `us-west-2`": "V2 does not support setting UseGlobalEndpoint. It's regional only/by default"
    }

}
