{
    "additionalShapeConstructors" : {
        "Credentials" : {
            "constructorForms" : [
                ["AccessKeyId", "SecretAccessKey", "SessionToken", "Expiration"]
            ]
        },
        "FederatedUser" : {
            "constructorForms" : [
                ["FederatedUserId", "Arn"]
            ]
        },
        "GetFederationTokenRequest" : {
            "constructorForms" : [
                ["Name"]
            ]
        }
    },
    "simpleMethods" : {
        "GetSessionToken" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : false,
        "fileNamePrefix" : "SecurityTokenService"
    },
    "skipSmokeTests": "true"
}
