{
    "enableGenerateCompiledEndpointRules": true,
    "enableFastUnmarshaller": true,
    "useLegacyEventGenerationScheme": {},
    "disableUniqueEventStreamShapePreprocessing": {
        "ConverseStreamOutput": [
            "messageStart",
            "contentBlockStart",
            "contentBlockDelta",
            "contentBlockStop",
            "messageStop",
            "metadata",
            "internalServerException",
            "modelStreamErrorException",
            "validationException",
            "throttlingException",
            "serviceUnavailableException"
        ],
        "InvokeModelWithBidirectionalStreamInput": [
            "chunk"
        ],
        "InvokeModelWithBidirectionalStreamOutput": [
            "chunk",
            "internalServerException",
            "modelStreamErrorException",
            "validationException",
            "throttlingException",
            "modelTimeoutException",
            "serviceUnavailableException"
        ],
        "ResponseStream": [
            "chunk",
            "internalServerException",
            "modelStreamErrorException",
            "validationException",
            "throttlingException",
            "modelTimeoutException",
            "serviceUnavailableException"
        ]
    }
}