{
    "useAutoConstructList" : true,
    "authPolicyActions" : {
        "skip" : true
    },
    "simpleMethods" : {
        "DescribeWorkspaces" : {
            "methodForms" : [[ ]]
        },
        "DescribeWorkspaceDirectories" : {
            "methodForms" : [[ ]]
        },
        "DescribeWorkspaceBundles" : {
            "methodForms" : [[ ]]
        }
    }
}