{
  "verifiedSimpleMethods": [
    "describeIpGroups",
    "describeWorkspaceBundles",
    "describeWorkspaceDirectories",
    "describeWorkspaceImages",
    "describeWorkspaces",
    "describeWorkspacesConnectionStatus"
  ],
  "blacklistedSimpleMethods": [
    "describeAccountModifications",
    "describeAccount"
  ]
}
