{
    "verifiedSimpleMethods": [
        "describeIpGroups",
        "describeWorkspaceBundles",
        "describeWorkspaceDirectories",
        "describeWorkspaceImages",
        "describeWorkspaces",
        "describeWorkspacesConnectionStatus"
    ],
    "excludedSimpleMethods": [
        "describeAccountModifications",
        "describeAccount"
    ]

}
