{
    "calculateCrc32FromCompressedData": true,
    "verifiedSimpleMethods" : ["allTypes", "deleteOperation", "mapOfStringToListOfStringInQueryParams", "membersInHeaders", "membersInQueryParams", "operationWithExplicitPayloadStructure", "operationWithExplicitPayloadBlob", "operationWithModeledContentType", "operationWithNoInputOrOutput", "queryParamWithoutValue", "headOperation", "simple", "jsonValuesOperation", "nestedContainers"]
}
