{
    "enableGenerateCompiledEndpointRules": true,
    "serviceSpecificHttpConfig": "software.amazon.awssdk.services.transcribestreaming.internal.DefaultHttpConfigurationOptions",
    "skipSyncClientGeneration": true,
    "useLegacyEventGenerationScheme": {
        "TranscriptResultStream": {"TranscriptEvent": "NO_EVENT_SUBCLASS"},
        "AudioStream": {"AudioEvent": "NO_EVENT_SUBCLASS"},
        "MedicalTranscriptResultStream": {"TranscriptEvent": "NO_EVENT_SUBCLASS"}
    },
    "usePriorKnowledgeForH2": true,
    "enableFastUnmarshaller": true
}
