{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-10-26",
    "endpointPrefix":"transcribestreaming",
    "protocol":"rest-json",
    "protocolSettings":{"h2":"eventstream"},
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Transcribe Streaming Service",
    "serviceId":"Transcribe Streaming",
    "signatureVersion":"v4",
    "signingName":"transcribe",
    "uid":"transcribe-streaming-2017-10-26",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "GetMedicalScribeStream":{
      "name":"GetMedicalScribeStream",
      "http":{
        "method":"GET",
        "requestUri":"/medical-scribe-stream/{SessionId}"
      },
      "input":{"shape":"GetMedicalScribeStreamRequest"},
      "output":{"shape":"GetMedicalScribeStreamResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Provides details about the specified Amazon Web Services HealthScribe streaming session. To view the status of the streaming session, check the <code>StreamStatus</code> field in the response. To get the details of post-stream analytics, including its status, check the <code>PostStreamAnalyticsResult</code> field in the response. </p>"
    },
    "StartCallAnalyticsStreamTranscription":{
      "name":"StartCallAnalyticsStreamTranscription",
      "http":{
        "method":"POST",
        "requestUri":"/call-analytics-stream-transcription"
      },
      "input":{"shape":"StartCallAnalyticsStreamTranscriptionRequest"},
      "output":{"shape":"StartCallAnalyticsStreamTranscriptionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Starts a bidirectional HTTP/2 or WebSocket stream where audio is streamed to Amazon Transcribe and the transcription results are streamed to your application. Use this operation for <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/call-analytics.html\">Call Analytics</a> transcriptions.</p> <p>The following parameters are required:</p> <ul> <li> <p> <code>language-code</code> or <code>identify-language</code> </p> </li> <li> <p> <code>media-encoding</code> </p> </li> <li> <p> <code>sample-rate</code> </p> </li> </ul> <p>For more information on streaming with Amazon Transcribe, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html\">Transcribing streaming audio</a>.</p>"
    },
    "StartMedicalScribeStream":{
      "name":"StartMedicalScribeStream",
      "http":{
        "method":"POST",
        "requestUri":"/medical-scribe-stream"
      },
      "input":{"shape":"StartMedicalScribeStreamRequest"},
      "output":{"shape":"StartMedicalScribeStreamResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Starts a bidirectional HTTP/2 stream, where audio is streamed to Amazon Web Services HealthScribe and the transcription results are streamed to your application.</p> <p>When you start a stream, you first specify the stream configuration in a <code>MedicalScribeConfigurationEvent</code>. This event includes channel definitions, encryption settings, medical scribe context, and post-stream analytics settings, such as the output configuration for aggregated transcript and clinical note generation. These are additional streaming session configurations beyond those provided in your initial start request headers. Whether you are starting a new session or resuming an existing session, your first event must be a <code>MedicalScribeConfigurationEvent</code>. </p> <p> After you send a <code>MedicalScribeConfigurationEvent</code>, you start <code>AudioEvents</code> and Amazon Web Services HealthScribe responds with real-time transcription results. When you are finished, to start processing the results with the post-stream analytics, send a <code>MedicalScribeSessionControlEvent</code> with a <code>Type</code> of <code>END_OF_SESSION</code> and Amazon Web Services HealthScribe starts the analytics. </p> <p>You can pause or resume streaming. To pause streaming, complete the input stream without sending the <code>MedicalScribeSessionControlEvent</code>. To resume streaming, call the <code>StartMedicalScribeStream</code> and specify the same SessionId you used to start the stream. </p> <p>The following parameters are required:</p> <ul> <li> <p> <code>language-code</code> </p> </li> <li> <p> <code>media-encoding</code> </p> </li> <li> <p> <code>media-sample-rate-hertz</code> </p> </li> </ul> <p/> <p>For more information on streaming with Amazon Web Services HealthScribe, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/health-scribe-streaming.html\">Amazon Web Services HealthScribe</a>. </p>"
    },
    "StartMedicalStreamTranscription":{
      "name":"StartMedicalStreamTranscription",
      "http":{
        "method":"POST",
        "requestUri":"/medical-stream-transcription"
      },
      "input":{"shape":"StartMedicalStreamTranscriptionRequest"},
      "output":{"shape":"StartMedicalStreamTranscriptionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Starts a bidirectional HTTP/2 or WebSocket stream where audio is streamed to Amazon Transcribe Medical and the transcription results are streamed to your application.</p> <p>The following parameters are required:</p> <ul> <li> <p> <code>language-code</code> </p> </li> <li> <p> <code>media-encoding</code> </p> </li> <li> <p> <code>sample-rate</code> </p> </li> </ul> <p>For more information on streaming with Amazon Transcribe Medical, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html\">Transcribing streaming audio</a>.</p>"
    },
    "StartStreamTranscription":{
      "name":"StartStreamTranscription",
      "http":{
        "method":"POST",
        "requestUri":"/stream-transcription"
      },
      "input":{"shape":"StartStreamTranscriptionRequest"},
      "output":{"shape":"StartStreamTranscriptionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Starts a bidirectional HTTP/2 or WebSocket stream where audio is streamed to Amazon Transcribe and the transcription results are streamed to your application.</p> <p>The following parameters are required:</p> <ul> <li> <p> <code>language-code</code> or <code>identify-language</code> or <code>identify-multiple-language</code> </p> </li> <li> <p> <code>media-encoding</code> </p> </li> <li> <p> <code>sample-rate</code> </p> </li> </ul> <p>For more information on streaming with Amazon Transcribe, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html\">Transcribing streaming audio</a>.</p>"
    }
  },
  "shapes":{
    "Alternative":{
      "type":"structure",
      "members":{
        "Transcript":{
          "shape":"String",
          "documentation":"<p>Contains transcribed text.</p>"
        },
        "Items":{
          "shape":"ItemList",
          "documentation":"<p>Contains words, phrases, or punctuation marks in your transcription output.</p>"
        },
        "Entities":{
          "shape":"EntityList",
          "documentation":"<p>Contains entities identified as personally identifiable information (PII) in your transcription output.</p>"
        }
      },
      "documentation":"<p>A list of possible alternative transcriptions for the input audio. Each alternative may contain one or more of <code>Items</code>, <code>Entities</code>, or <code>Transcript</code>.</p>"
    },
    "AlternativeList":{
      "type":"list",
      "member":{"shape":"Alternative"}
    },
    "AudioChunk":{"type":"blob"},
    "AudioEvent":{
      "type":"structure",
      "members":{
        "AudioChunk":{
          "shape":"AudioChunk",
          "documentation":"<p> An audio blob containing the next segment of audio from your application, with a maximum duration of 1 second. The maximum size in bytes varies based on audio properties. </p> <p>Find recommended size in <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html#best-practices\">Transcribing streaming best practices</a>. </p> <p> Size calculation: <code>Duration (s) * Sample Rate (Hz) * Number of Channels * 2 (Bytes per Sample)</code> </p> <p> For example, a 1-second chunk of 16 kHz, 2-channel, 16-bit audio would be <code>1 * 16000 * 2 * 2 = 64000 bytes</code>. </p> <p> For 8 kHz, 1-channel, 16-bit audio, a 1-second chunk would be <code>1 * 8000 * 1 * 2 = 16000 bytes</code>. </p>",
          "eventpayload":true
        }
      },
      "documentation":"<p>A wrapper for your audio chunks. Your audio stream consists of one or more audio events, which consist of one or more audio chunks.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/event-stream.html\">Event stream encoding</a>.</p>",
      "event":true
    },
    "AudioStream":{
      "type":"structure",
      "members":{
        "AudioEvent":{
          "shape":"AudioEvent",
          "documentation":"<p>A blob of audio from your application. Your audio stream consists of one or more audio events.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/event-stream.html\">Event stream encoding</a>.</p>"
        },
        "ConfigurationEvent":{
          "shape":"ConfigurationEvent",
          "documentation":"<p>Contains audio channel definitions and post-call analytics settings.</p>"
        }
      },
      "documentation":"<p>An encoded stream of audio blobs. Audio streams are encoded as either HTTP/2 or WebSocket data frames.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html\">Transcribing streaming audio</a>.</p>",
      "eventstream":true
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>One or more arguments to the <code>StartStreamTranscription</code>, <code>StartMedicalStreamTranscription</code>, or <code>StartCallAnalyticsStreamTranscription</code> operation was not valid. For example, <code>MediaEncoding</code> or <code>LanguageCode</code> used unsupported values. Check the specified parameters and try your request again.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "BucketName":{
      "type":"string",
      "max":64,
      "pattern":"[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9]"
    },
    "CallAnalyticsEntity":{
      "type":"structure",
      "members":{
        "BeginOffsetMillis":{
          "shape":"Long",
          "documentation":"<p>The time, in milliseconds, from the beginning of the audio stream to the start of the identified entity.</p>"
        },
        "EndOffsetMillis":{
          "shape":"Long",
          "documentation":"<p>The time, in milliseconds, from the beginning of the audio stream to the end of the identified entity.</p>"
        },
        "Category":{
          "shape":"String",
          "documentation":"<p>The category of information identified. For example, <code>PII</code>.</p>"
        },
        "Type":{
          "shape":"String",
          "documentation":"<p>The type of PII identified. For example, <code>NAME</code> or <code>CREDIT_DEBIT_NUMBER</code>.</p>"
        },
        "Content":{
          "shape":"String",
          "documentation":"<p>The word or words that represent the identified entity.</p>"
        },
        "Confidence":{
          "shape":"Confidence",
          "documentation":"<p>The confidence score associated with the identification of an entity in your transcript.</p> <p>Confidence scores are values between 0 and 1. A larger value indicates a higher probability that the identified entity correctly matches the entity spoken in your media.</p>"
        }
      },
      "documentation":"<p>Contains entities identified as personally identifiable information (PII) in your transcription output, along with various associated attributes. Examples include category, confidence score, content, type, and start and end times.</p>"
    },
    "CallAnalyticsEntityList":{
      "type":"list",
      "member":{"shape":"CallAnalyticsEntity"}
    },
    "CallAnalyticsItem":{
      "type":"structure",
      "members":{
        "BeginOffsetMillis":{
          "shape":"Long",
          "documentation":"<p>The time, in milliseconds, from the beginning of the audio stream to the start of the identified item.</p>"
        },
        "EndOffsetMillis":{
          "shape":"Long",
          "documentation":"<p>The time, in milliseconds, from the beginning of the audio stream to the end of the identified item.</p>"
        },
        "Type":{
          "shape":"ItemType",
          "documentation":"<p>The type of item identified. Options are: <code>PRONUNCIATION</code> (spoken words) and <code>PUNCTUATION</code>.</p>"
        },
        "Content":{
          "shape":"String",
          "documentation":"<p>The word or punctuation that was transcribed.</p>"
        },
        "Confidence":{
          "shape":"Confidence",
          "documentation":"<p>The confidence score associated with a word or phrase in your transcript.</p> <p>Confidence scores are values between 0 and 1. A larger value indicates a higher probability that the identified item correctly matches the item spoken in your media.</p>"
        },
        "VocabularyFilterMatch":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the specified item matches a word in the vocabulary filter included in your Call Analytics request. If <code>true</code>, there is a vocabulary filter match.</p>"
        },
        "Stable":{
          "shape":"Stable",
          "documentation":"<p>If partial result stabilization is enabled, <code>Stable</code> indicates whether the specified item is stable (<code>true</code>) or if it may change when the segment is complete (<code>false</code>).</p>"
        }
      },
      "documentation":"<p>A word, phrase, or punctuation mark in your Call Analytics transcription output, along with various associated attributes, such as confidence score, type, and start and end times.</p>"
    },
    "CallAnalyticsItemList":{
      "type":"list",
      "member":{"shape":"CallAnalyticsItem"}
    },
    "CallAnalyticsLanguageCode":{
      "type":"string",
      "enum":[
        "en-US",
        "en-GB",
        "es-US",
        "fr-CA",
        "fr-FR",
        "en-AU",
        "it-IT",
        "de-DE",
        "pt-BR"
      ]
    },
    "CallAnalyticsLanguageIdentification":{
      "type":"list",
      "member":{"shape":"CallAnalyticsLanguageWithScore"}
    },
    "CallAnalyticsLanguageWithScore":{
      "type":"structure",
      "members":{
        "LanguageCode":{
          "shape":"CallAnalyticsLanguageCode",
          "documentation":"<p>The language code of the identified language.</p>"
        },
        "Score":{
          "shape":"Double",
          "documentation":"<p>The confidence score associated with the identified language code. Confidence scores are values between zero and one; larger values indicate a higher confidence in the identified language.</p>"
        }
      },
      "documentation":"<p>The language code that represents the language identified in your audio, including the associated confidence score.</p>"
    },
    "CallAnalyticsTranscriptResultStream":{
      "type":"structure",
      "members":{
        "UtteranceEvent":{
          "shape":"UtteranceEvent",
          "documentation":"<p>Contains set of transcription results from one or more audio segments, along with additional information per your request parameters. This can include information relating to channel definitions, partial result stabilization, sentiment, issue detection, and other transcription-related data.</p>"
        },
        "CategoryEvent":{
          "shape":"CategoryEvent",
          "documentation":"<p>Provides information on matched categories that were used to generate real-time supervisor alerts.</p>"
        },
        "BadRequestException":{"shape":"BadRequestException"},
        "LimitExceededException":{"shape":"LimitExceededException"},
        "InternalFailureException":{"shape":"InternalFailureException"},
        "ConflictException":{"shape":"ConflictException"},
        "ServiceUnavailableException":{"shape":"ServiceUnavailableException"}
      },
      "documentation":"<p>Contains detailed information about your real-time Call Analytics session. These details are provided in the <code>UtteranceEvent</code> and <code>CategoryEvent</code> objects.</p>",
      "eventstream":true
    },
    "CategoryEvent":{
      "type":"structure",
      "members":{
        "MatchedCategories":{
          "shape":"StringList",
          "documentation":"<p>Lists the categories that were matched in your audio segment.</p>"
        },
        "MatchedDetails":{
          "shape":"MatchedCategoryDetails",
          "documentation":"<p>Contains information about the matched categories, including category names and timestamps.</p>"
        }
      },
      "documentation":"<p>Provides information on any <code>TranscriptFilterType</code> categories that matched your transcription output. Matches are identified for each segment upon completion of that segment.</p>",
      "event":true
    },
    "ChannelDefinition":{
      "type":"structure",
      "required":[
        "ChannelId",
        "ParticipantRole"
      ],
      "members":{
        "ChannelId":{
          "shape":"ChannelId",
          "documentation":"<p>Specify the audio channel you want to define.</p>"
        },
        "ParticipantRole":{
          "shape":"ParticipantRole",
          "documentation":"<p>Specify the speaker you want to define. Omitting this parameter is equivalent to specifying both participants.</p>"
        }
      },
      "documentation":"<p>Makes it possible to specify which speaker is on which audio channel. For example, if your agent is the first participant to speak, you would set <code>ChannelId</code> to <code>0</code> (to indicate the first channel) and <code>ParticipantRole</code> to <code>AGENT</code> (to indicate that it's the agent speaking).</p>"
    },
    "ChannelDefinitions":{
      "type":"list",
      "member":{"shape":"ChannelDefinition"},
      "max":2,
      "min":2
    },
    "ChannelId":{
      "type":"integer",
      "max":1,
      "min":0
    },
    "CharacterOffsets":{
      "type":"structure",
      "members":{
        "Begin":{
          "shape":"Integer",
          "documentation":"<p>Provides the character count of the first character where a match is identified. For example, the first character associated with an issue or a category match in a segment transcript.</p>"
        },
        "End":{
          "shape":"Integer",
          "documentation":"<p>Provides the character count of the last character where a match is identified. For example, the last character associated with an issue or a category match in a segment transcript.</p>"
        }
      },
      "documentation":"<p>Provides the location, using character count, in your transcript where a match is identified. For example, the location of an issue or a category match within a segment.</p>"
    },
    "ClinicalNoteGenerationResult":{
      "type":"structure",
      "members":{
        "ClinicalNoteOutputLocation":{
          "shape":"Uri",
          "documentation":"<p>Holds the Amazon S3 URI for the output Clinical Note. </p>"
        },
        "TranscriptOutputLocation":{
          "shape":"Uri",
          "documentation":"<p>Holds the Amazon S3 URI for the output Transcript. </p>"
        },
        "Status":{
          "shape":"ClinicalNoteGenerationStatus",
          "documentation":"<p>The status of the clinical note generation.</p> <p>Possible Values:</p> <ul> <li> <p> <code>IN_PROGRESS</code> </p> </li> <li> <p> <code>FAILED</code> </p> </li> <li> <p> <code>COMPLETED</code> </p> </li> </ul> <p> After audio streaming finishes, and you send a <code>MedicalScribeSessionControlEvent</code> event (with END_OF_SESSION as the Type), the status is set to <code>IN_PROGRESS</code>. If the status is <code>COMPLETED</code>, the analytics completed successfully, and you can find the results at the locations specified in <code>ClinicalNoteOutputLocation</code> and <code>TranscriptOutputLocation</code>. If the status is <code>FAILED</code>, <code>FailureReason</code> provides details about the failure. </p>"
        },
        "FailureReason":{
          "shape":"String",
          "documentation":"<p>If <code>ClinicalNoteGenerationResult</code> is <code>FAILED</code>, information about why it failed. </p>"
        }
      },
      "documentation":"<p>The details for clinical note generation, including status, and output locations for clinical note and aggregated transcript if the analytics completed, or failure reason if the analytics failed. </p>"
    },
    "ClinicalNoteGenerationSettings":{
      "type":"structure",
      "required":["OutputBucketName"],
      "members":{
        "OutputBucketName":{
          "shape":"BucketName",
          "documentation":"<p>The name of the Amazon S3 bucket where you want the output of Amazon Web Services HealthScribe post-stream analytics stored. Don't include the <code>S3://</code> prefix of the specified bucket. </p> <p>HealthScribe outputs transcript and clinical note files under the prefix: <code>S3://$output-bucket-name/healthscribe-streaming/session-id/post-stream-analytics/clinical-notes</code> </p> <p>The role <code>ResourceAccessRoleArn</code> specified in the <code>MedicalScribeConfigurationEvent</code> must have permission to use the specified location. You can change Amazon S3 permissions using the <a href=\"https://console.aws.amazon.com/s3\"> Amazon Web Services Management Console </a>. See also <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/security_iam_id-based-policy-examples.html#auth-role-iam-user\">Permissions Required for IAM User Roles </a> . </p>"
        },
        "NoteTemplate":{
          "shape":"MedicalScribeNoteTemplate",
          "documentation":"<p>Specify one of the following templates to use for the clinical note summary. The default is <code>HISTORY_AND_PHYSICAL</code>.</p> <ul> <li> <p>HISTORY_AND_PHYSICAL: Provides summaries for key sections of the clinical documentation. Examples of sections include Chief Complaint, History of Present Illness, Review of Systems, Past Medical History, Assessment, and Plan. </p> </li> <li> <p>GIRPP: Provides summaries based on the patients progress toward goals. Examples of sections include Goal, Intervention, Response, Progress, and Plan.</p> </li> <li> <p>BIRP: Focuses on the patient's behavioral patterns and responses. Examples of sections include Behavior, Intervention, Response, and Plan.</p> </li> <li> <p>SIRP: Emphasizes the situational context of therapy. Examples of sections include Situation, Intervention, Response, and Plan.</p> </li> <li> <p>DAP: Provides a simplified format for clinical documentation. Examples of sections include Data, Assessment, and Plan.</p> </li> <li> <p>BEHAVIORAL_SOAP: Behavioral health focused documentation format. Examples of sections include Subjective, Objective, Assessment, and Plan.</p> </li> <li> <p>PHYSICAL_SOAP: Physical health focused documentation format. Examples of sections include Subjective, Objective, Assessment, and Plan.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The output configuration for aggregated transcript and clinical note generation.</p>"
    },
    "ClinicalNoteGenerationStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "FAILED",
        "COMPLETED"
      ]
    },
    "Confidence":{"type":"double"},
    "ConfigurationEvent":{
      "type":"structure",
      "members":{
        "ChannelDefinitions":{
          "shape":"ChannelDefinitions",
          "documentation":"<p>Indicates which speaker is on which audio channel.</p>"
        },
        "PostCallAnalyticsSettings":{
          "shape":"PostCallAnalyticsSettings",
          "documentation":"<p>Provides additional optional settings for your Call Analytics post-call request, including encryption and output locations for your redacted transcript.</p> <p> <code>PostCallAnalyticsSettings</code> provides you with the same insights as a Call Analytics post-call transcription. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tca-post-call.html\">Post-call analytics</a> for more information on this feature.</p>"
        }
      },
      "documentation":"<p>Allows you to set audio channel definitions and post-call analytics settings.</p>",
      "event":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>A new stream started with the same session ID. The current stream has been terminated.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ContentIdentificationType":{
      "type":"string",
      "enum":["PII"]
    },
    "ContentRedactionOutput":{
      "type":"string",
      "enum":[
        "redacted",
        "redacted_and_unredacted"
      ]
    },
    "ContentRedactionType":{
      "type":"string",
      "enum":["PII"]
    },
    "DateTime":{"type":"timestamp"},
    "Double":{"type":"double"},
    "Entity":{
      "type":"structure",
      "members":{
        "StartTime":{
          "shape":"Double",
          "documentation":"<p>The start time of the utterance that was identified as PII in seconds, with millisecond precision (e.g., 1.056)</p>"
        },
        "EndTime":{
          "shape":"Double",
          "documentation":"<p>The end time of the utterance that was identified as PII in seconds, with millisecond precision (e.g., 1.056)</p>"
        },
        "Category":{
          "shape":"String",
          "documentation":"<p>The category of information identified. The only category is <code>PII</code>.</p>"
        },
        "Type":{
          "shape":"String",
          "documentation":"<p>The type of PII identified. For example, <code>NAME</code> or <code>CREDIT_DEBIT_NUMBER</code>.</p>"
        },
        "Content":{
          "shape":"String",
          "documentation":"<p>The word or words identified as PII.</p>"
        },
        "Confidence":{
          "shape":"Confidence",
          "documentation":"<p>The confidence score associated with the identified PII entity in your audio.</p> <p>Confidence scores are values between 0 and 1. A larger value indicates a higher probability that the identified entity correctly matches the entity spoken in your media.</p>"
        }
      },
      "documentation":"<p>Contains entities identified as personally identifiable information (PII) in your transcription output, along with various associated attributes. Examples include category, confidence score, type, stability score, and start and end times.</p>"
    },
    "EntityList":{
      "type":"list",
      "member":{"shape":"Entity"}
    },
    "GetMedicalScribeStreamRequest":{
      "type":"structure",
      "required":["SessionId"],
      "members":{
        "SessionId":{
          "shape":"SessionId",
          "documentation":"<p>The identifier of the HealthScribe streaming session you want information about.</p>",
          "location":"uri",
          "locationName":"SessionId"
        }
      }
    },
    "GetMedicalScribeStreamResponse":{
      "type":"structure",
      "members":{
        "MedicalScribeStreamDetails":{
          "shape":"MedicalScribeStreamDetails",
          "documentation":"<p>Provides details about a HealthScribe streaming session.</p>"
        }
      }
    },
    "IamRoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso-{0,1}[a-z]{0,1}):iam::[0-9]{0,63}:role/[A-Za-z0-9:_/+=,@.-]{0,1024}$"
    },
    "Integer":{"type":"integer"},
    "InternalFailureException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>A problem occurred while processing the audio. Amazon Transcribe terminated processing.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "IssueDetected":{
      "type":"structure",
      "members":{
        "CharacterOffsets":{
          "shape":"CharacterOffsets",
          "documentation":"<p>Provides the timestamps that identify when in an audio segment the specified issue occurs.</p>"
        }
      },
      "documentation":"<p>Lists the issues that were identified in your audio segment.</p>"
    },
    "IssuesDetected":{
      "type":"list",
      "member":{"shape":"IssueDetected"}
    },
    "Item":{
      "type":"structure",
      "members":{
        "StartTime":{
          "shape":"Double",
          "documentation":"<p>The start time of the transcribed item in seconds, with millisecond precision (e.g., 1.056)</p>"
        },
        "EndTime":{
          "shape":"Double",
          "documentation":"<p>The end time of the transcribed item in seconds, with millisecond precision (e.g., 1.056)</p>"
        },
        "Type":{
          "shape":"ItemType",
          "documentation":"<p>The type of item identified. Options are: <code>PRONUNCIATION</code> (spoken words) and <code>PUNCTUATION</code>.</p>"
        },
        "Content":{
          "shape":"String",
          "documentation":"<p>The word or punctuation that was transcribed.</p>"
        },
        "VocabularyFilterMatch":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the specified item matches a word in the vocabulary filter included in your request. If <code>true</code>, there is a vocabulary filter match.</p>"
        },
        "Speaker":{
          "shape":"String",
          "documentation":"<p>If speaker partitioning is enabled, <code>Speaker</code> labels the speaker of the specified item.</p>"
        },
        "Confidence":{
          "shape":"Confidence",
          "documentation":"<p>The confidence score associated with a word or phrase in your transcript.</p> <p>Confidence scores are values between 0 and 1. A larger value indicates a higher probability that the identified item correctly matches the item spoken in your media.</p>"
        },
        "Stable":{
          "shape":"Stable",
          "documentation":"<p>If partial result stabilization is enabled, <code>Stable</code> indicates whether the specified item is stable (<code>true</code>) or if it may change when the segment is complete (<code>false</code>).</p>"
        }
      },
      "documentation":"<p>A word, phrase, or punctuation mark in your transcription output, along with various associated attributes, such as confidence score, type, and start and end times.</p>"
    },
    "ItemList":{
      "type":"list",
      "member":{"shape":"Item"}
    },
    "ItemType":{
      "type":"string",
      "enum":[
        "pronunciation",
        "punctuation"
      ]
    },
    "KMSEncryptionContextMap":{
      "type":"map",
      "key":{"shape":"NonEmptyString"},
      "value":{"shape":"NonEmptyString"},
      "max":10,
      "min":1
    },
    "KMSKeyId":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,2048}$"
    },
    "LanguageCode":{
      "type":"string",
      "enum":[
        "en-US",
        "en-GB",
        "es-US",
        "fr-CA",
        "fr-FR",
        "en-AU",
        "it-IT",
        "de-DE",
        "pt-BR",
        "ja-JP",
        "ko-KR",
        "zh-CN",
        "th-TH",
        "es-ES",
        "ar-SA",
        "pt-PT",
        "ca-ES",
        "ar-AE",
        "hi-IN",
        "zh-HK",
        "nl-NL",
        "no-NO",
        "sv-SE",
        "pl-PL",
        "fi-FI",
        "zh-TW",
        "en-IN",
        "en-IE",
        "en-NZ",
        "en-AB",
        "en-ZA",
        "en-WL",
        "de-CH",
        "af-ZA",
        "eu-ES",
        "hr-HR",
        "cs-CZ",
        "da-DK",
        "fa-IR",
        "gl-ES",
        "el-GR",
        "he-IL",
        "id-ID",
        "lv-LV",
        "ms-MY",
        "ro-RO",
        "ru-RU",
        "sr-RS",
        "sk-SK",
        "so-SO",
        "tl-PH",
        "uk-UA",
        "vi-VN",
        "zu-ZA"
      ]
    },
    "LanguageIdentification":{
      "type":"list",
      "member":{"shape":"LanguageWithScore"}
    },
    "LanguageOptions":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[a-zA-Z-,]+"
    },
    "LanguageWithScore":{
      "type":"structure",
      "members":{
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code of the identified language.</p>"
        },
        "Score":{
          "shape":"Double",
          "documentation":"<p>The confidence score associated with the identified language code. Confidence scores are values between zero and one; larger values indicate a higher confidence in the identified language.</p>"
        }
      },
      "documentation":"<p>The language code that represents the language identified in your audio, including the associated confidence score. If you enabled channel identification in your request and each channel contained a different language, you will have more than one <code>LanguageWithScore</code> result.</p>"
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>Your client has exceeded one of the Amazon Transcribe limits. This is typically the audio length limit. Break your audio stream into smaller chunks and try your request again.</p>",
      "error":{"httpStatusCode":429},
      "exception":true
    },
    "Long":{"type":"long"},
    "MatchedCategoryDetails":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"PointsOfInterest"}
    },
    "MediaEncoding":{
      "type":"string",
      "enum":[
        "pcm",
        "ogg-opus",
        "flac"
      ]
    },
    "MediaSampleRateHertz":{
      "type":"integer",
      "max":48000,
      "min":8000
    },
    "MedicalAlternative":{
      "type":"structure",
      "members":{
        "Transcript":{
          "shape":"String",
          "documentation":"<p>Contains transcribed text.</p>"
        },
        "Items":{
          "shape":"MedicalItemList",
          "documentation":"<p>Contains words, phrases, or punctuation marks in your transcription output.</p>"
        },
        "Entities":{
          "shape":"MedicalEntityList",
          "documentation":"<p>Contains entities identified as personal health information (PHI) in your transcription output.</p>"
        }
      },
      "documentation":"<p>A list of possible alternative transcriptions for the input audio. Each alternative may contain one or more of <code>Items</code>, <code>Entities</code>, or <code>Transcript</code>.</p>"
    },
    "MedicalAlternativeList":{
      "type":"list",
      "member":{"shape":"MedicalAlternative"}
    },
    "MedicalContentIdentificationType":{
      "type":"string",
      "enum":["PHI"]
    },
    "MedicalEntity":{
      "type":"structure",
      "members":{
        "StartTime":{
          "shape":"Double",
          "documentation":"<p>The start time, in seconds, of the utterance that was identified as PHI.</p>"
        },
        "EndTime":{
          "shape":"Double",
          "documentation":"<p>The end time, in seconds, of the utterance that was identified as PHI.</p>"
        },
        "Category":{
          "shape":"String",
          "documentation":"<p>The category of information identified. The only category is <code>PHI</code>.</p>"
        },
        "Content":{
          "shape":"String",
          "documentation":"<p>The word or words identified as PHI.</p>"
        },
        "Confidence":{
          "shape":"Confidence",
          "documentation":"<p>The confidence score associated with the identified PHI entity in your audio.</p> <p>Confidence scores are values between 0 and 1. A larger value indicates a higher probability that the identified entity correctly matches the entity spoken in your media.</p>"
        }
      },
      "documentation":"<p>Contains entities identified as personal health information (PHI) in your transcription output, along with various associated attributes. Examples include category, confidence score, type, stability score, and start and end times.</p>"
    },
    "MedicalEntityList":{
      "type":"list",
      "member":{"shape":"MedicalEntity"}
    },
    "MedicalItem":{
      "type":"structure",
      "members":{
        "StartTime":{
          "shape":"Double",
          "documentation":"<p>The start time, in seconds, of the transcribed item.</p>"
        },
        "EndTime":{
          "shape":"Double",
          "documentation":"<p>The end time, in seconds, of the transcribed item.</p>"
        },
        "Type":{
          "shape":"ItemType",
          "documentation":"<p>The type of item identified. Options are: <code>PRONUNCIATION</code> (spoken words) and <code>PUNCTUATION</code>.</p>"
        },
        "Content":{
          "shape":"String",
          "documentation":"<p>The word or punctuation that was transcribed.</p>"
        },
        "Confidence":{
          "shape":"Confidence",
          "documentation":"<p>The confidence score associated with a word or phrase in your transcript.</p> <p>Confidence scores are values between 0 and 1. A larger value indicates a higher probability that the identified item correctly matches the item spoken in your media.</p>"
        },
        "Speaker":{
          "shape":"String",
          "documentation":"<p>If speaker partitioning is enabled, <code>Speaker</code> labels the speaker of the specified item.</p>"
        }
      },
      "documentation":"<p>A word, phrase, or punctuation mark in your transcription output, along with various associated attributes, such as confidence score, type, and start and end times.</p>"
    },
    "MedicalItemList":{
      "type":"list",
      "member":{"shape":"MedicalItem"}
    },
    "MedicalResult":{
      "type":"structure",
      "members":{
        "ResultId":{
          "shape":"String",
          "documentation":"<p>Provides a unique identifier for the <code>Result</code>.</p>"
        },
        "StartTime":{
          "shape":"Double",
          "documentation":"<p>The start time, in seconds, of the <code>Result</code>.</p>"
        },
        "EndTime":{
          "shape":"Double",
          "documentation":"<p>The end time, in seconds, of the <code>Result</code>.</p>"
        },
        "IsPartial":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the segment is complete.</p> <p>If <code>IsPartial</code> is <code>true</code>, the segment is not complete. If <code>IsPartial</code> is <code>false</code>, the segment is complete.</p>"
        },
        "Alternatives":{
          "shape":"MedicalAlternativeList",
          "documentation":"<p>A list of possible alternative transcriptions for the input audio. Each alternative may contain one or more of <code>Items</code>, <code>Entities</code>, or <code>Transcript</code>.</p>"
        },
        "ChannelId":{
          "shape":"String",
          "documentation":"<p>Indicates the channel identified for the <code>Result</code>.</p>"
        }
      },
      "documentation":"<p>The <code>Result</code> associated with a <code/>.</p> <p>Contains a set of transcription results from one or more audio segments, along with additional information per your request parameters. This can include information relating to alternative transcriptions, channel identification, partial result stabilization, language identification, and other transcription-related data.</p>"
    },
    "MedicalResultList":{
      "type":"list",
      "member":{"shape":"MedicalResult"}
    },
    "MedicalScribeAudioEvent":{
      "type":"structure",
      "required":["AudioChunk"],
      "members":{
        "AudioChunk":{
          "shape":"AudioChunk",
          "documentation":"<p> An audio blob containing the next segment of audio from your application, with a maximum duration of 1 second. The maximum size in bytes varies based on audio properties. </p> <p>Find recommended size in <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html#best-practices\">Transcribing streaming best practices</a>. </p> <p> Size calculation: <code>Duration (s) * Sample Rate (Hz) * Number of Channels * 2 (Bytes per Sample)</code> </p> <p> For example, a 1-second chunk of 16 kHz, 2-channel, 16-bit audio would be <code>1 * 16000 * 2 * 2 = 64000 bytes</code>. </p> <p> For 8 kHz, 1-channel, 16-bit audio, a 1-second chunk would be <code>1 * 8000 * 1 * 2 = 16000 bytes</code>. </p>",
          "eventpayload":true
        }
      },
      "documentation":"<p>A wrapper for your audio chunks</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/event-stream.html\">Event stream encoding</a>. </p>",
      "event":true
    },
    "MedicalScribeChannelDefinition":{
      "type":"structure",
      "required":[
        "ChannelId",
        "ParticipantRole"
      ],
      "members":{
        "ChannelId":{
          "shape":"MedicalScribeChannelId",
          "documentation":"<p>Specify the audio channel you want to define.</p>"
        },
        "ParticipantRole":{
          "shape":"MedicalScribeParticipantRole",
          "documentation":"<p>Specify the participant that you want to flag. The allowed options are <code>CLINICIAN</code> and <code>PATIENT</code>. </p>"
        }
      },
      "documentation":"<p>Makes it possible to specify which speaker is on which channel. For example, if the clinician is the first participant to speak, you would set the <code>ChannelId</code> of the first <code>ChannelDefinition</code> in the list to <code>0</code> (to indicate the first channel) and <code>ParticipantRole</code> to <code>CLINICIAN</code> (to indicate that it's the clinician speaking). Then you would set the <code>ChannelId</code> of the second <code>ChannelDefinition</code> in the list to <code>1</code> (to indicate the second channel) and <code>ParticipantRole</code> to <code>PATIENT</code> (to indicate that it's the patient speaking). </p> <p>If you don't specify a channel definition, HealthScribe will diarize the transcription and identify speaker roles for each speaker.</p>"
    },
    "MedicalScribeChannelDefinitions":{
      "type":"list",
      "member":{"shape":"MedicalScribeChannelDefinition"},
      "max":2,
      "min":2
    },
    "MedicalScribeChannelId":{
      "type":"integer",
      "max":1,
      "min":0
    },
    "MedicalScribeConfigurationEvent":{
      "type":"structure",
      "required":[
        "ResourceAccessRoleArn",
        "PostStreamAnalyticsSettings"
      ],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>Specify the name of the custom vocabulary you want to use for your streaming session. Custom vocabulary names are case-sensitive. </p>"
        },
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>Specify the name of the custom vocabulary filter you want to include in your streaming session. Custom vocabulary filter names are case-sensitive. </p> <p>If you include <code>VocabularyFilterName</code> in the <code>MedicalScribeConfigurationEvent</code>, you must also include <code>VocabularyFilterMethod</code>. </p>"
        },
        "VocabularyFilterMethod":{
          "shape":"MedicalScribeVocabularyFilterMethod",
          "documentation":"<p>Specify how you want your custom vocabulary filter applied to the streaming session.</p> <p>To replace words with <code>***</code>, specify <code>mask</code>. </p> <p>To delete words, specify <code>remove</code>. </p> <p>To flag words without changing them, specify <code>tag</code>. </p>"
        },
        "ResourceAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an IAM role that has permissions to access the Amazon S3 output bucket you specified, and use your KMS key if supplied. If the role that you specify doesn’t have the appropriate permissions, your request fails. </p> <p> IAM role ARNs have the format <code>arn:partition:iam::account:role/role-name-with-path</code>. For example: <code>arn:aws:iam::111122223333:role/Admin</code>. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/health-scribe-streaming.html\">Amazon Web Services HealthScribe</a>.</p>"
        },
        "ChannelDefinitions":{
          "shape":"MedicalScribeChannelDefinitions",
          "documentation":"<p>Specify which speaker is on which audio channel.</p>"
        },
        "EncryptionSettings":{
          "shape":"MedicalScribeEncryptionSettings",
          "documentation":"<p>Specify the encryption settings for your streaming session.</p>"
        },
        "PostStreamAnalyticsSettings":{
          "shape":"MedicalScribePostStreamAnalyticsSettings",
          "documentation":"<p>Specify settings for post-stream analytics.</p>"
        },
        "MedicalScribeContext":{
          "shape":"MedicalScribeContext",
          "documentation":"<p>The <code>MedicalScribeContext</code> object that contains contextual information used to generate customized clinical notes.</p>"
        }
      },
      "documentation":"<p>Specify details to configure the streaming session, including channel definitions, encryption settings, post-stream analytics settings, resource access role ARN and vocabulary settings. </p> <p>Whether you are starting a new session or resuming an existing session, your first event must be a <code>MedicalScribeConfigurationEvent</code>. If you are resuming a session, then this event must have the same configurations that you provided to start the session. </p>",
      "event":true
    },
    "MedicalScribeContext":{
      "type":"structure",
      "members":{
        "PatientContext":{
          "shape":"MedicalScribePatientContext",
          "documentation":"<p>Contains patient-specific information used to customize the clinical note generation.</p>"
        }
      },
      "documentation":"<p>The <code>MedicalScribeContext</code> object that contains contextual information which is used during clinical note generation to add relevant context to the note.</p>"
    },
    "MedicalScribeEncryptionSettings":{
      "type":"structure",
      "required":["KmsKeyId"],
      "members":{
        "KmsEncryptionContext":{
          "shape":"KMSEncryptionContextMap",
          "documentation":"<p>A map of plain text, non-secret key:value pairs, known as encryption context pairs, that provide an added layer of security for your data. For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/key-management.html#kms-context\">KMSencryption context </a> and <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/symmetric-asymmetric.html\">Asymmetric keys in KMS </a>. </p>"
        },
        "KmsKeyId":{
          "shape":"KMSKeyId",
          "documentation":"<p>The ID of the KMS key you want to use for your streaming session. You can specify its KMS key ID, key Amazon Resource Name (ARN), alias name, or alias ARN. When using an alias name, prefix it with <code>\"alias/\"</code>. To specify a KMS key in a different Amazon Web Services account, you must use the key ARN or alias ARN.</p> <p>For example:</p> <ul> <li> <p>Key ID: 1234abcd-12ab-34cd-56ef-1234567890ab</p> </li> <li> <p>Key ARN: arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</p> </li> <li> <p> Alias name: alias/ExampleAlias</p> </li> <li> <p> Alias ARN: arn:aws:kms:us-east-2:111122223333:alias/ExampleAlias </p> </li> </ul> <p> To get the key ID and key ARN for a KMS key, use the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_ListKeys.html\">ListKeys</a> or <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html\">DescribeKey</a> KMS API operations. To get the alias name and alias ARN, use <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_ListAliases.html\">ListKeys</a> API operation. </p>"
        }
      },
      "documentation":"<p>Contains encryption related settings to be used for data encryption with Key Management Service, including KmsEncryptionContext and KmsKeyId. The KmsKeyId is required, while KmsEncryptionContext is optional for additional layer of security. </p> <p>By default, Amazon Web Services HealthScribe provides encryption at rest to protect sensitive customer data using Amazon S3-managed keys. HealthScribe uses the KMS key you specify as a second layer of encryption.</p> <p> Your <code>ResourceAccessRoleArn</code> must permission to use your KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/health-scribe-encryption.html\">Data Encryption at rest for Amazon Web Services HealthScribe</a>. </p>"
    },
    "MedicalScribeInputStream":{
      "type":"structure",
      "members":{
        "AudioEvent":{"shape":"MedicalScribeAudioEvent"},
        "SessionControlEvent":{
          "shape":"MedicalScribeSessionControlEvent",
          "documentation":"<p>Specify the lifecycle of your streaming session, such as ending the session.</p>"
        },
        "ConfigurationEvent":{
          "shape":"MedicalScribeConfigurationEvent",
          "documentation":"<p>Specify additional streaming session configurations beyond those provided in your initial start request headers. For example, specify channel definitions, encryption settings, and post-stream analytics settings. </p> <p>Whether you are starting a new session or resuming an existing session, your first event must be a <code>MedicalScribeConfigurationEvent</code>. </p>"
        }
      },
      "documentation":"<p>An encoded stream of events. The stream is encoded as HTTP/2 data frames.</p> <p>An input stream consists of the following types of events. The first element of the input stream must be the <code>MedicalScribeConfigurationEvent</code> event type.</p> <ul> <li> <p> <code>MedicalScribeConfigurationEvent</code> </p> </li> <li> <p> <code>MedicalScribeAudioEvent</code> </p> </li> <li> <p> <code>MedicalScribeSessionControlEvent</code> </p> </li> </ul>",
      "eventstream":true
    },
    "MedicalScribeLanguageCode":{
      "type":"string",
      "enum":["en-US"]
    },
    "MedicalScribeMediaEncoding":{
      "type":"string",
      "enum":[
        "pcm",
        "ogg-opus",
        "flac"
      ]
    },
    "MedicalScribeMediaSampleRateHertz":{
      "type":"integer",
      "max":48000,
      "min":16000
    },
    "MedicalScribeNoteTemplate":{
      "type":"string",
      "enum":[
        "HISTORY_AND_PHYSICAL",
        "GIRPP",
        "DAP",
        "SIRP",
        "BIRP",
        "BEHAVIORAL_SOAP",
        "PHYSICAL_SOAP"
      ]
    },
    "MedicalScribeParticipantRole":{
      "type":"string",
      "enum":[
        "PATIENT",
        "CLINICIAN"
      ]
    },
    "MedicalScribePatientContext":{
      "type":"structure",
      "members":{
        "Pronouns":{
          "shape":"Pronouns",
          "documentation":"<p>The patient's preferred pronouns that the user wants to provide as a context for clinical note generation .</p>"
        }
      },
      "documentation":"<p>Contains patient-specific information. </p>"
    },
    "MedicalScribePostStreamAnalyticsResult":{
      "type":"structure",
      "members":{
        "ClinicalNoteGenerationResult":{
          "shape":"ClinicalNoteGenerationResult",
          "documentation":"<p>Provides the Clinical Note Generation result for post-stream analytics.</p>"
        }
      },
      "documentation":"<p>Contains details for the result of post-stream analytics. </p>"
    },
    "MedicalScribePostStreamAnalyticsSettings":{
      "type":"structure",
      "required":["ClinicalNoteGenerationSettings"],
      "members":{
        "ClinicalNoteGenerationSettings":{
          "shape":"ClinicalNoteGenerationSettings",
          "documentation":"<p>Specify settings for the post-stream clinical note generation.</p>"
        }
      },
      "documentation":"<p>The settings for post-stream analytics. </p>"
    },
    "MedicalScribeResultStream":{
      "type":"structure",
      "members":{
        "TranscriptEvent":{
          "shape":"MedicalScribeTranscriptEvent",
          "documentation":"<p>The transcript event that contains real-time transcription results. </p>"
        },
        "BadRequestException":{"shape":"BadRequestException"},
        "LimitExceededException":{"shape":"LimitExceededException"},
        "InternalFailureException":{"shape":"InternalFailureException"},
        "ConflictException":{"shape":"ConflictException"},
        "ServiceUnavailableException":{"shape":"ServiceUnavailableException"}
      },
      "documentation":"<p>Result stream where you will receive the output events. The details are provided in the <code>MedicalScribeTranscriptEvent</code> object. </p>",
      "eventstream":true
    },
    "MedicalScribeSessionControlEvent":{
      "type":"structure",
      "required":["Type"],
      "members":{
        "Type":{
          "shape":"MedicalScribeSessionControlEventType",
          "documentation":"<p>The type of <code>MedicalScribeSessionControlEvent</code>. </p> <p>Possible Values:</p> <ul> <li> <p> <code>END_OF_SESSION</code> - Indicates the audio streaming is complete. After you send an END_OF_SESSION event, Amazon Web Services HealthScribe starts the post-stream analytics. The session can't be resumed after this event is sent. After Amazon Web Services HealthScribe processes the event, the real-time <code>StreamStatus</code> is <code>COMPLETED</code>. You get the <code>StreamStatus</code> and other stream details with the <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/API_streaming_GetMedicalScribeStream.html\">GetMedicalScribeStream</a> API operation. For more information about different streaming statuses, see the <code>StreamStatus</code> description in the <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/API_streaming_MedicalScribeStreamDetails.html\">MedicalScribeStreamDetails</a>. </p> </li> </ul>"
        }
      },
      "documentation":"<p>Specify the lifecycle of your streaming session.</p>",
      "event":true
    },
    "MedicalScribeSessionControlEventType":{
      "type":"string",
      "enum":["END_OF_SESSION"]
    },
    "MedicalScribeStreamDetails":{
      "type":"structure",
      "members":{
        "SessionId":{
          "shape":"SessionId",
          "documentation":"<p>The identifier of the HealthScribe streaming session.</p>"
        },
        "StreamCreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The date and time when the HealthScribe streaming session was created.</p>"
        },
        "StreamEndedAt":{
          "shape":"DateTime",
          "documentation":"<p>The date and time when the HealthScribe streaming session was ended.</p>"
        },
        "LanguageCode":{
          "shape":"MedicalScribeLanguageCode",
          "documentation":"<p>The Language Code of the HealthScribe streaming session.</p>"
        },
        "MediaSampleRateHertz":{
          "shape":"MedicalScribeMediaSampleRateHertz",
          "documentation":"<p>The sample rate (in hertz) of the HealthScribe streaming session.</p>"
        },
        "MediaEncoding":{
          "shape":"MedicalScribeMediaEncoding",
          "documentation":"<p>The Media Encoding of the HealthScribe streaming session.</p>"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The vocabulary name of the HealthScribe streaming session.</p>"
        },
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>The name of the vocabulary filter used for the HealthScribe streaming session .</p>"
        },
        "VocabularyFilterMethod":{
          "shape":"MedicalScribeVocabularyFilterMethod",
          "documentation":"<p>The method of the vocabulary filter for the HealthScribe streaming session.</p>"
        },
        "ResourceAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the role used in the HealthScribe streaming session.</p>"
        },
        "ChannelDefinitions":{
          "shape":"MedicalScribeChannelDefinitions",
          "documentation":"<p>The Channel Definitions of the HealthScribe streaming session.</p>"
        },
        "EncryptionSettings":{
          "shape":"MedicalScribeEncryptionSettings",
          "documentation":"<p>The Encryption Settings of the HealthScribe streaming session.</p>"
        },
        "StreamStatus":{
          "shape":"MedicalScribeStreamStatus",
          "documentation":"<p>The streaming status of the HealthScribe streaming session.</p> <p>Possible Values:</p> <ul> <li> <p> <code>IN_PROGRESS</code> </p> </li> <li> <p> <code>PAUSED</code> </p> </li> <li> <p> <code>FAILED</code> </p> </li> <li> <p> <code>COMPLETED</code> </p> </li> </ul> <note> <p>This status is specific to real-time streaming. A <code>COMPLETED</code> status doesn't mean that the post-stream analytics is complete. To get status of an analytics result, check the <code>Status</code> field for the analytics result within the <code>MedicalScribePostStreamAnalyticsResult</code>. For example, you can view the status of the <code>ClinicalNoteGenerationResult</code>. </p> </note>"
        },
        "PostStreamAnalyticsSettings":{
          "shape":"MedicalScribePostStreamAnalyticsSettings",
          "documentation":"<p>The post-stream analytics settings of the HealthScribe streaming session.</p>"
        },
        "PostStreamAnalyticsResult":{
          "shape":"MedicalScribePostStreamAnalyticsResult",
          "documentation":"<p>The result of post-stream analytics for the HealthScribe streaming session.</p>"
        },
        "MedicalScribeContextProvided":{
          "shape":"NullableBoolean",
          "documentation":"<p>Indicates whether the <code>MedicalScribeContext</code> object was provided when the stream was started.</p>"
        }
      },
      "documentation":"<p>Contains details about a Amazon Web Services HealthScribe streaming session.</p>"
    },
    "MedicalScribeStreamStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "PAUSED",
        "FAILED",
        "COMPLETED"
      ]
    },
    "MedicalScribeTranscriptEvent":{
      "type":"structure",
      "members":{
        "TranscriptSegment":{
          "shape":"MedicalScribeTranscriptSegment",
          "documentation":"<p>The <code>TranscriptSegment</code> associated with a <code>MedicalScribeTranscriptEvent</code>. </p>"
        }
      },
      "documentation":"<p>The event associated with <code>MedicalScribeResultStream</code>. </p> <p>Contains <code>MedicalScribeTranscriptSegment</code>, which contains segment related information. </p>",
      "event":true
    },
    "MedicalScribeTranscriptItem":{
      "type":"structure",
      "members":{
        "BeginAudioTime":{
          "shape":"Double",
          "documentation":"<p>The start time, in milliseconds, of the transcribed item.</p>"
        },
        "EndAudioTime":{
          "shape":"Double",
          "documentation":"<p>The end time, in milliseconds, of the transcribed item.</p>"
        },
        "Type":{
          "shape":"MedicalScribeTranscriptItemType",
          "documentation":"<p>The type of item identified. Options are: <code>PRONUNCIATION</code> (spoken words) and <code>PUNCTUATION</code>. </p>"
        },
        "Confidence":{
          "shape":"Confidence",
          "documentation":"<p>The confidence score associated with a word or phrase in your transcript.</p> <p>Confidence scores are values between 0 and 1. A larger value indicates a higher probability that the identified item correctly matches the item spoken in your media. </p>"
        },
        "Content":{
          "shape":"String",
          "documentation":"<p>The word, phrase or punctuation mark that was transcribed.</p>"
        },
        "VocabularyFilterMatch":{
          "shape":"NullableBoolean",
          "documentation":"<p>Indicates whether the specified item matches a word in the vocabulary filter included in your configuration event. If <code>true</code>, there is a vocabulary filter match. </p>"
        }
      },
      "documentation":"<p>A word, phrase, or punctuation mark in your transcription output, along with various associated attributes, such as confidence score, type, and start and end times. </p>"
    },
    "MedicalScribeTranscriptItemList":{
      "type":"list",
      "member":{"shape":"MedicalScribeTranscriptItem"}
    },
    "MedicalScribeTranscriptItemType":{
      "type":"string",
      "enum":[
        "pronunciation",
        "punctuation"
      ]
    },
    "MedicalScribeTranscriptSegment":{
      "type":"structure",
      "members":{
        "SegmentId":{
          "shape":"String",
          "documentation":"<p>The identifier of the segment.</p>"
        },
        "BeginAudioTime":{
          "shape":"Double",
          "documentation":"<p>The start time, in milliseconds, of the segment.</p>"
        },
        "EndAudioTime":{
          "shape":"Double",
          "documentation":"<p>The end time, in milliseconds, of the segment.</p>"
        },
        "Content":{
          "shape":"String",
          "documentation":"<p>Contains transcribed text of the segment.</p>"
        },
        "Items":{
          "shape":"MedicalScribeTranscriptItemList",
          "documentation":"<p>Contains words, phrases, or punctuation marks in your segment.</p>"
        },
        "IsPartial":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the segment is complete.</p> <p>If <code>IsPartial</code> is <code>true</code>, the segment is not complete. If <code>IsPartial</code> is <code>false</code>, the segment is complete. </p>"
        },
        "ChannelId":{
          "shape":"String",
          "documentation":"<p>Indicates which audio channel is associated with the <code>MedicalScribeTranscriptSegment</code>. </p> <p>If <code>MedicalScribeChannelDefinition</code> is not provided in the <code>MedicalScribeConfigurationEvent</code>, then this field will not be included. </p>"
        }
      },
      "documentation":"<p>Contains a set of transcription results, along with additional information of the segment.</p>"
    },
    "MedicalScribeVocabularyFilterMethod":{
      "type":"string",
      "enum":[
        "remove",
        "mask",
        "tag"
      ]
    },
    "MedicalTranscript":{
      "type":"structure",
      "members":{
        "Results":{
          "shape":"MedicalResultList",
          "documentation":"<p>Contains a set of transcription results from one or more audio segments, along with additional information per your request parameters. This can include information relating to alternative transcriptions, channel identification, partial result stabilization, language identification, and other transcription-related data.</p>"
        }
      },
      "documentation":"<p>The <code>MedicalTranscript</code> associated with a <code/>.</p> <p> <code>MedicalTranscript</code> contains <code>Results</code>, which contains a set of transcription results from one or more audio segments, along with additional information per your request parameters.</p>"
    },
    "MedicalTranscriptEvent":{
      "type":"structure",
      "members":{
        "Transcript":{
          "shape":"MedicalTranscript",
          "documentation":"<p>Contains <code>Results</code>, which contains a set of transcription results from one or more audio segments, along with additional information per your request parameters. This can include information relating to alternative transcriptions, channel identification, partial result stabilization, language identification, and other transcription-related data.</p>"
        }
      },
      "documentation":"<p>The <code>MedicalTranscriptEvent</code> associated with a <code>MedicalTranscriptResultStream</code>.</p> <p>Contains a set of transcription results from one or more audio segments, along with additional information per your request parameters.</p>",
      "event":true
    },
    "MedicalTranscriptResultStream":{
      "type":"structure",
      "members":{
        "TranscriptEvent":{
          "shape":"MedicalTranscriptEvent",
          "documentation":"<p>The <code>MedicalTranscriptEvent</code> associated with a <code>MedicalTranscriptResultStream</code>.</p> <p>Contains a set of transcription results from one or more audio segments, along with additional information per your request parameters. This can include information relating to alternative transcriptions, channel identification, partial result stabilization, language identification, and other transcription-related data.</p>"
        },
        "BadRequestException":{"shape":"BadRequestException"},
        "LimitExceededException":{"shape":"LimitExceededException"},
        "InternalFailureException":{"shape":"InternalFailureException"},
        "ConflictException":{"shape":"ConflictException"},
        "ServiceUnavailableException":{"shape":"ServiceUnavailableException"}
      },
      "documentation":"<p>Contains detailed information about your streaming session.</p>",
      "eventstream":true
    },
    "ModelName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z._-]+"
    },
    "NonEmptyString":{
      "type":"string",
      "max":2000,
      "min":1,
      "pattern":".*\\S.*"
    },
    "NullableBoolean":{
      "type":"boolean",
      "box":true
    },
    "NumberOfChannels":{
      "type":"integer",
      "min":2
    },
    "PartialResultsStability":{
      "type":"string",
      "enum":[
        "high",
        "medium",
        "low"
      ]
    },
    "ParticipantRole":{
      "type":"string",
      "enum":[
        "AGENT",
        "CUSTOMER"
      ]
    },
    "PiiEntityTypes":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[A-Z_, ]+"
    },
    "PointsOfInterest":{
      "type":"structure",
      "members":{
        "TimestampRanges":{
          "shape":"TimestampRanges",
          "documentation":"<p>Contains the timestamp ranges (start time through end time) of matched categories and rules.</p>"
        }
      },
      "documentation":"<p>Contains the timestamps of matched categories.</p>"
    },
    "PostCallAnalyticsSettings":{
      "type":"structure",
      "required":[
        "OutputLocation",
        "DataAccessRoleArn"
      ],
      "members":{
        "OutputLocation":{
          "shape":"String",
          "documentation":"<p>The Amazon S3 location where you want your Call Analytics post-call transcription output stored. You can use any of the following formats to specify the output location:</p> <ol> <li> <p>s3://DOC-EXAMPLE-BUCKET</p> </li> <li> <p>s3://DOC-EXAMPLE-BUCKET/my-output-folder/</p> </li> <li> <p>s3://DOC-EXAMPLE-BUCKET/my-output-folder/my-call-analytics-job.json</p> </li> </ol>"
        },
        "DataAccessRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of an IAM role that has permissions to access the Amazon S3 bucket that contains your input files. If the role that you specify doesn’t have the appropriate permissions to access the specified Amazon S3 location, your request fails.</p> <p>IAM role ARNs have the format <code>arn:partition:iam::account:role/role-name-with-path</code>. For example: <code>arn:aws:iam::111122223333:role/Admin</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns\">IAM ARNs</a>.</p>"
        },
        "ContentRedactionOutput":{
          "shape":"ContentRedactionOutput",
          "documentation":"<p>Specify whether you want only a redacted transcript or both a redacted and an unredacted transcript. If you choose redacted and unredacted, two JSON files are generated and stored in the Amazon S3 output location you specify.</p> <p>Note that to include <code>ContentRedactionOutput</code> in your request, you must enable content redaction (<code>ContentRedactionType</code>).</p>"
        },
        "OutputEncryptionKMSKeyId":{
          "shape":"String",
          "documentation":"<p>The KMS key you want to use to encrypt your Call Analytics post-call output.</p> <p>If using a key located in the <b>current</b> Amazon Web Services account, you can specify your KMS key in one of four ways:</p> <ol> <li> <p>Use the KMS key ID itself. For example, <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p> </li> <li> <p>Use an alias for the KMS key ID. For example, <code>alias/ExampleAlias</code>.</p> </li> <li> <p>Use the Amazon Resource Name (ARN) for the KMS key ID. For example, <code>arn:aws:kms:region:account-ID:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p> </li> <li> <p>Use the ARN for the KMS key alias. For example, <code>arn:aws:kms:region:account-ID:alias/ExampleAlias</code>.</p> </li> </ol> <p>If using a key located in a <b>different</b> Amazon Web Services account than the current Amazon Web Services account, you can specify your KMS key in one of two ways:</p> <ol> <li> <p>Use the ARN for the KMS key ID. For example, <code>arn:aws:kms:region:account-ID:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p> </li> <li> <p>Use the ARN for the KMS key alias. For example, <code>arn:aws:kms:region:account-ID:alias/ExampleAlias</code>.</p> </li> </ol> <p>Note that the role making the request must have permission to use the specified KMS key.</p>"
        }
      },
      "documentation":"<p>Allows you to specify additional settings for your Call Analytics post-call request, including output locations for your redacted transcript, which IAM role to use, and which encryption key to use.</p> <p> <code>DataAccessRoleArn</code> and <code>OutputLocation</code> are required fields.</p> <p> <code>PostCallAnalyticsSettings</code> provides you with the same insights as a Call Analytics post-call transcription. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tca-post-call.html\">Post-call analytics</a> for more information on this feature.</p>"
    },
    "Pronouns":{
      "type":"string",
      "enum":[
        "HE_HIM",
        "SHE_HER",
        "THEY_THEM"
      ],
      "sensitive":true
    },
    "RequestId":{"type":"string"},
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The request references a resource which doesn't exist.</p>",
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "Result":{
      "type":"structure",
      "members":{
        "ResultId":{
          "shape":"String",
          "documentation":"<p>Provides a unique identifier for the <code>Result</code>.</p>"
        },
        "StartTime":{
          "shape":"Double",
          "documentation":"<p>The start time of the <code>Result</code> in seconds, with millisecond precision (e.g., 1.056).</p>"
        },
        "EndTime":{
          "shape":"Double",
          "documentation":"<p>The end time of the <code>Result</code> in seconds, with millisecond precision (e.g., 1.056).</p>"
        },
        "IsPartial":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the segment is complete.</p> <p>If <code>IsPartial</code> is <code>true</code>, the segment is not complete. If <code>IsPartial</code> is <code>false</code>, the segment is complete.</p>"
        },
        "Alternatives":{
          "shape":"AlternativeList",
          "documentation":"<p>A list of possible alternative transcriptions for the input audio. Each alternative may contain one or more of <code>Items</code>, <code>Entities</code>, or <code>Transcript</code>.</p>"
        },
        "ChannelId":{
          "shape":"String",
          "documentation":"<p>Indicates which audio channel is associated with the <code>Result</code>.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code that represents the language spoken in your audio stream.</p>"
        },
        "LanguageIdentification":{
          "shape":"LanguageIdentification",
          "documentation":"<p>The language code of the dominant language identified in your stream.</p> <p>If you enabled channel identification and each channel of your audio contains a different language, you may have more than one result.</p>"
        }
      },
      "documentation":"<p>The <code>Result</code> associated with a <code/>.</p> <p>Contains a set of transcription results from one or more audio segments, along with additional information per your request parameters. This can include information relating to alternative transcriptions, channel identification, partial result stabilization, language identification, and other transcription-related data.</p>"
    },
    "ResultList":{
      "type":"list",
      "member":{"shape":"Result"}
    },
    "Sentiment":{
      "type":"string",
      "enum":[
        "POSITIVE",
        "NEGATIVE",
        "MIXED",
        "NEUTRAL"
      ]
    },
    "ServiceUnavailableException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The service is currently unavailable. Try your request later.</p>",
      "error":{"httpStatusCode":503},
      "exception":true
    },
    "SessionId":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
    },
    "Specialty":{
      "type":"string",
      "enum":[
        "PRIMARYCARE",
        "CARDIOLOGY",
        "NEUROLOGY",
        "ONCOLOGY",
        "RADIOLOGY",
        "UROLOGY"
      ]
    },
    "Stable":{"type":"boolean"},
    "StartCallAnalyticsStreamTranscriptionRequest":{
      "type":"structure",
      "required":[
        "MediaSampleRateHertz",
        "MediaEncoding",
        "AudioStream"
      ],
      "members":{
        "LanguageCode":{
          "shape":"CallAnalyticsLanguageCode",
          "documentation":"<p>Specify the language code that represents the language spoken in your audio.</p> <p>For a list of languages supported with real-time Call Analytics, refer to the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "documentation":"<p>The sample rate of the input audio (in hertz). Low-quality audio, such as telephone audio, is typically around 8,000 Hz. High-quality audio typically ranges from 16,000 Hz to 48,000 Hz. Note that the sample rate you specify must match that of your audio.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "documentation":"<p>Specify the encoding of your input audio. Supported formats are:</p> <ul> <li> <p>FLAC</p> </li> <li> <p>OPUS-encoded audio in an Ogg container</p> </li> <li> <p>PCM (only signed 16-bit little-endian audio formats, which does not include WAV)</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-input.html#how-input-audio\">Media formats</a>.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>Specify the name of the custom vocabulary that you want to use when processing your transcription. Note that vocabulary names are case sensitive.</p> <p>If the language of the specified custom vocabulary doesn't match the language identified in your media, the custom vocabulary is not applied to your transcription.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary.html\">Custom vocabularies</a>.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "SessionId":{
          "shape":"SessionId",
          "documentation":"<p>Specify a name for your Call Analytics transcription session. If you don't include this parameter in your request, Amazon Transcribe generates an ID and returns it in the response.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "AudioStream":{
          "shape":"AudioStream",
          "documentation":"<p>An encoded stream of audio blobs. Audio streams are encoded as either HTTP/2 or WebSocket data frames.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html\">Transcribing streaming audio</a>.</p>"
        },
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>Specify the name of the custom vocabulary filter that you want to use when processing your transcription. Note that vocabulary filter names are case sensitive.</p> <p>If the language of the specified custom vocabulary filter doesn't match the language identified in your media, the vocabulary filter is not applied to your transcription.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/vocabulary-filtering.html\">Using vocabulary filtering with unwanted words</a>.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-name"
        },
        "VocabularyFilterMethod":{
          "shape":"VocabularyFilterMethod",
          "documentation":"<p>Specify how you want your vocabulary filter applied to your transcript.</p> <p>To replace words with <code>***</code>, choose <code>mask</code>.</p> <p>To delete words, choose <code>remove</code>.</p> <p>To flag words without changing them, choose <code>tag</code>.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-method"
        },
        "LanguageModelName":{
          "shape":"ModelName",
          "documentation":"<p>Specify the name of the custom language model that you want to use when processing your transcription. Note that language model names are case sensitive.</p> <p>The language of the specified language model must match the language code you specify in your transcription request. If the languages don't match, the custom language model isn't applied. There are no errors or warnings associated with a language mismatch.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-language-models.html\">Custom language models</a>.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-model-name"
        },
        "IdentifyLanguage":{
          "shape":"Boolean",
          "documentation":"<p>Enables automatic language identification for your Call Analytics transcription.</p> <p>If you include <code>IdentifyLanguage</code>, you must include a list of language codes, using <code>LanguageOptions</code>, that you think may be present in your audio stream. You must provide a minimum of two language selections.</p> <p>You can also include a preferred language using <code>PreferredLanguage</code>. Adding a preferred language can help Amazon Transcribe identify the language faster than if you omit this parameter.</p> <p>Note that you must include either <code>LanguageCode</code> or <code>IdentifyLanguage</code> in your request. If you include both parameters, your transcription job fails.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-identify-language"
        },
        "LanguageOptions":{
          "shape":"LanguageOptions",
          "documentation":"<p>Specify two or more language codes that represent the languages you think may be present in your media.</p> <p>Including language options can improve the accuracy of language identification.</p> <p>If you include <code>LanguageOptions</code> in your request, you must also include <code>IdentifyLanguage</code>.</p> <p>For a list of languages supported with Call Analytics streaming, refer to the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table.</p> <important> <p>You can only include one language dialect per language per stream. For example, you cannot include <code>en-US</code> and <code>en-AU</code> in the same request.</p> </important>",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-options"
        },
        "PreferredLanguage":{
          "shape":"CallAnalyticsLanguageCode",
          "documentation":"<p>Specify a preferred language from the subset of languages codes you specified in <code>LanguageOptions</code>.</p> <p>You can only use this parameter if you've included <code>IdentifyLanguage</code> and <code>LanguageOptions</code> in your request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-preferred-language"
        },
        "VocabularyNames":{
          "shape":"VocabularyNames",
          "documentation":"<p>Specify the names of the custom vocabularies that you want to use when processing your Call Analytics transcription. Note that vocabulary names are case sensitive.</p> <p>If the custom vocabulary's language doesn't match the identified media language, it won't be applied to the transcription.</p> <important> <p>This parameter is only intended for use <b>with</b> the <code>IdentifyLanguage</code> parameter. If you're <b>not</b> including <code>IdentifyLanguage</code> in your request and want to use a custom vocabulary with your transcription, use the <code>VocabularyName</code> parameter instead.</p> </important> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary.html\">Custom vocabularies</a>.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-names"
        },
        "VocabularyFilterNames":{
          "shape":"VocabularyFilterNames",
          "documentation":"<p>Specify the names of the custom vocabulary filters that you want to use when processing your Call Analytics transcription. Note that vocabulary filter names are case sensitive.</p> <p>These filters serve to customize the transcript output.</p> <important> <p>This parameter is only intended for use <b>with</b> the <code>IdentifyLanguage</code> parameter. If you're <b>not</b> including <code>IdentifyLanguage</code> in your request and want to use a custom vocabulary filter with your transcription, use the <code>VocabularyFilterName</code> parameter instead.</p> </important> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/vocabulary-filtering.html\">Using vocabulary filtering with unwanted words</a>.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-names"
        },
        "EnablePartialResultsStabilization":{
          "shape":"Boolean",
          "documentation":"<p>Enables partial result stabilization for your transcription. Partial result stabilization can reduce latency in your output, but may impact accuracy. For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html#streaming-partial-result-stabilization\">Partial-result stabilization</a>.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-partial-results-stabilization"
        },
        "PartialResultsStability":{
          "shape":"PartialResultsStability",
          "documentation":"<p>Specify the level of stability to use when you enable partial results stabilization (<code>EnablePartialResultsStabilization</code>).</p> <p>Low stability provides the highest accuracy. High stability transcribes faster, but with slightly lower accuracy.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html#streaming-partial-result-stabilization\">Partial-result stabilization</a>.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-partial-results-stability"
        },
        "ContentIdentificationType":{
          "shape":"ContentIdentificationType",
          "documentation":"<p>Labels all personally identifiable information (PII) identified in your transcript.</p> <p>Content identification is performed at the segment level; PII specified in <code>PiiEntityTypes</code> is flagged upon complete transcription of an audio segment. If you don't include <code>PiiEntityTypes</code> in your request, all PII is identified.</p> <p>You can’t set <code>ContentIdentificationType</code> and <code>ContentRedactionType</code> in the same request. If you set both, your request returns a <code>BadRequestException</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/pii-redaction.html\">Redacting or identifying personally identifiable information</a>.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        },
        "ContentRedactionType":{
          "shape":"ContentRedactionType",
          "documentation":"<p>Redacts all personally identifiable information (PII) identified in your transcript.</p> <p>Content redaction is performed at the segment level; PII specified in <code>PiiEntityTypes</code> is redacted upon complete transcription of an audio segment. If you don't include <code>PiiEntityTypes</code> in your request, all PII is redacted.</p> <p>You can’t set <code>ContentRedactionType</code> and <code>ContentIdentificationType</code> in the same request. If you set both, your request returns a <code>BadRequestException</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/pii-redaction.html\">Redacting or identifying personally identifiable information</a>.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-redaction-type"
        },
        "PiiEntityTypes":{
          "shape":"PiiEntityTypes",
          "documentation":"<p>Specify which types of personally identifiable information (PII) you want to redact in your transcript. You can include as many types as you'd like, or you can select <code>ALL</code>.</p> <p>Values must be comma-separated and can include: <code>ADDRESS</code>, <code>BANK_ACCOUNT_NUMBER</code>, <code>BANK_ROUTING</code>, <code>CREDIT_DEBIT_CVV</code>, <code>CREDIT_DEBIT_EXPIRY</code>, <code>CREDIT_DEBIT_NUMBER</code>, <code>EMAIL</code>, <code>NAME</code>, <code>PHONE</code>, <code>PIN</code>, <code>SSN</code>, or <code>ALL</code>.</p> <p>Note that if you include <code>PiiEntityTypes</code> in your request, you must also include <code>ContentIdentificationType</code> or <code>ContentRedactionType</code>.</p> <p>If you include <code>ContentRedactionType</code> or <code>ContentIdentificationType</code> in your request, but do not include <code>PiiEntityTypes</code>, all PII is redacted or identified.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-pii-entity-types"
        }
      },
      "payload":"AudioStream"
    },
    "StartCallAnalyticsStreamTranscriptionResponse":{
      "type":"structure",
      "members":{
        "RequestId":{
          "shape":"RequestId",
          "documentation":"<p>Provides the identifier for your real-time Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-request-id"
        },
        "LanguageCode":{
          "shape":"CallAnalyticsLanguageCode",
          "documentation":"<p>Provides the language code that you specified in your Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "documentation":"<p>Provides the sample rate that you specified in your Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "documentation":"<p>Provides the media encoding you specified in your Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>Provides the name of the custom vocabulary that you specified in your Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "SessionId":{
          "shape":"SessionId",
          "documentation":"<p>Provides the identifier for your Call Analytics transcription session.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "CallAnalyticsTranscriptResultStream":{
          "shape":"CallAnalyticsTranscriptResultStream",
          "documentation":"<p>Provides detailed information about your real-time Call Analytics session.</p>"
        },
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>Provides the name of the custom vocabulary filter that you specified in your Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-name"
        },
        "VocabularyFilterMethod":{
          "shape":"VocabularyFilterMethod",
          "documentation":"<p>Provides the vocabulary filtering method used in your Call Analytics transcription.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-method"
        },
        "LanguageModelName":{
          "shape":"ModelName",
          "documentation":"<p>Provides the name of the custom language model that you specified in your Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-model-name"
        },
        "IdentifyLanguage":{
          "shape":"Boolean",
          "documentation":"<p>Shows whether automatic language identification was enabled for your Call Analytics transcription.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-identify-language"
        },
        "LanguageOptions":{
          "shape":"LanguageOptions",
          "documentation":"<p>Provides the language codes that you specified in your Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-options"
        },
        "PreferredLanguage":{
          "shape":"CallAnalyticsLanguageCode",
          "documentation":"<p>Provides the preferred language that you specified in your Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-preferred-language"
        },
        "VocabularyNames":{
          "shape":"VocabularyNames",
          "documentation":"<p>Provides the names of the custom vocabularies that you specified in your Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-names"
        },
        "VocabularyFilterNames":{
          "shape":"VocabularyFilterNames",
          "documentation":"<p>Provides the names of the custom vocabulary filters that you specified in your Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-names"
        },
        "EnablePartialResultsStabilization":{
          "shape":"Boolean",
          "documentation":"<p>Shows whether partial results stabilization was enabled for your Call Analytics transcription.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-partial-results-stabilization"
        },
        "PartialResultsStability":{
          "shape":"PartialResultsStability",
          "documentation":"<p>Provides the stabilization level used for your transcription.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-partial-results-stability"
        },
        "ContentIdentificationType":{
          "shape":"ContentIdentificationType",
          "documentation":"<p>Shows whether content identification was enabled for your Call Analytics transcription.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        },
        "ContentRedactionType":{
          "shape":"ContentRedactionType",
          "documentation":"<p>Shows whether content redaction was enabled for your Call Analytics transcription.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-redaction-type"
        },
        "PiiEntityTypes":{
          "shape":"PiiEntityTypes",
          "documentation":"<p>Lists the PII entity types you specified in your Call Analytics request.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-pii-entity-types"
        }
      },
      "payload":"CallAnalyticsTranscriptResultStream"
    },
    "StartMedicalScribeStreamRequest":{
      "type":"structure",
      "required":[
        "LanguageCode",
        "MediaSampleRateHertz",
        "MediaEncoding",
        "InputStream"
      ],
      "members":{
        "SessionId":{
          "shape":"SessionId",
          "documentation":"<p>Specify an identifier for your streaming session (in UUID format). If you don't include a SessionId in your request, Amazon Web Services HealthScribe generates an ID and returns it in the response. </p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "LanguageCode":{
          "shape":"MedicalScribeLanguageCode",
          "documentation":"<p>Specify the language code for your HealthScribe streaming session.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MedicalScribeMediaSampleRateHertz",
          "documentation":"<p>Specify the sample rate of the input audio (in hertz). Amazon Web Services HealthScribe supports a range from 16,000 Hz to 48,000 Hz. The sample rate you specify must match that of your audio. </p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MedicalScribeMediaEncoding",
          "documentation":"<p>Specify the encoding used for the input audio.</p> <p>Supported formats are:</p> <ul> <li> <p>FLAC</p> </li> <li> <p>OPUS-encoded audio in an Ogg container</p> </li> <li> <p>PCM (only signed 16-bit little-endian audio formats, which does not include WAV) </p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-input.html#how-input-audio\">Media formats</a>. </p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "InputStream":{
          "shape":"MedicalScribeInputStream",
          "documentation":"<p>Specify the input stream where you will send events in real time.</p> <p>The first element of the input stream must be a <code>MedicalScribeConfigurationEvent</code>. </p>"
        }
      },
      "payload":"InputStream"
    },
    "StartMedicalScribeStreamResponse":{
      "type":"structure",
      "members":{
        "SessionId":{
          "shape":"SessionId",
          "documentation":"<p>The identifier (in UUID format) for your streaming session.</p> <p>If you already started streaming, this is same ID as the one you specified in your initial <code>StartMedicalScribeStreamRequest</code>. </p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "RequestId":{
          "shape":"RequestId",
          "documentation":"<p>The unique identifier for your streaming request. </p>",
          "location":"header",
          "locationName":"x-amzn-request-id"
        },
        "LanguageCode":{
          "shape":"MedicalScribeLanguageCode",
          "documentation":"<p>The Language Code that you specified in your request. Same as provided in the <code>StartMedicalScribeStreamRequest</code>. </p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MedicalScribeMediaSampleRateHertz",
          "documentation":"<p>The sample rate (in hertz) that you specified in your request. Same as provided in the <code>StartMedicalScribeStreamRequest</code> </p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MedicalScribeMediaEncoding",
          "documentation":"<p>The Media Encoding you specified in your request. Same as provided in the <code>StartMedicalScribeStreamRequest</code> </p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "ResultStream":{
          "shape":"MedicalScribeResultStream",
          "documentation":"<p>The result stream where you will receive the output events. </p>"
        }
      },
      "payload":"ResultStream"
    },
    "StartMedicalStreamTranscriptionRequest":{
      "type":"structure",
      "required":[
        "LanguageCode",
        "MediaSampleRateHertz",
        "MediaEncoding",
        "Specialty",
        "Type",
        "AudioStream"
      ],
      "members":{
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>Specify the language code that represents the language spoken in your audio.</p> <important> <p>Amazon Transcribe Medical only supports US English (<code>en-US</code>).</p> </important>",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "documentation":"<p>The sample rate of the input audio (in hertz). Amazon Transcribe Medical supports a range from 16,000 Hz to 48,000 Hz. Note that the sample rate you specify must match that of your audio.</p>",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
[...]
