{
    "useAutoConstructList" : true,
    "authPolicyActions" : {
      "fileNamePrefix" : "CloudWatch",
      "actionPrefix" : "cloudwatch"
    },
    "simpleMethods" : {
      "ListMetrics" : {
        "methodForms" : [[ ]]
      },
      "DescribeAlarms" : {
        "methodForms" : [[ ]]
      },
      "DescribeAlarmHistory" : {
        "methodForms" : [[ ]]
      }
    }
}
