{
  "verifiedSimpleMethods": [
    "describeActivations",
    "describeAutomationExecutions",
    "describeAvailablePatches",
    "describeInstanceInformation",
    "describeInventoryDeletions",
    "describeMaintenanceWindows",
    "describeParameters",
    "describePatchBaselines",
    "describePatchGroups",
    "getDefaultPatchBaseline",
    "getInventory",
    "getInventorySchema",
    "listAssociations",
    "listCommandInvocations",
    "listCommands",
    "listComplianceSummaries",
    "listDocuments",
    "listResourceComplianceSummaries",
    "listResourceDataSync"
  ],
  "blacklistedSimpleMethods": [
    "deleteAssociation",
    "describeAssociation",
    "listComplianceItems",
    "describeMaintenanceWindowSchedule"
  ]
}
