{
    "sdkModeledExceptionBaseClassName": "WafException",
    "authPolicyActions": {
        "fileNamePrefix": "WafRegional"
    },
    "shareModelConfig" : {
        "shareModelWith" : "waf",
        "packageName" : "regional"
    },
    "sdkRequestBaseClassName": "WafRequest",
    "sdkResponseBaseClassName": "WafResponse"
}
