{
    "sdkModeledExceptionBaseClassName": "WafException",
    "shareModelConfig" : {
        "shareModelWith" : "waf",
        "packageName" : "regional"
    },
    "sdkRequestBaseClassName": "WafRequest",
    "sdkResponseBaseClassName": "WafResponse",
    "blacklistedSimpleMethods" : [
        "listActivatedRulesInRuleGroup",
        "listLoggingConfigurations"
    ]
}
