{
    "verifiedSimpleMethods" : [
        "allTypes",
        "deleteOperation",
        "mapOfStringToListOfStringInQueryParams",
        "membersInHeaders",
        "membersInQueryParams",
        "operationWithExplicitPayloadBlob",
        "operationWithModeledContentType",
        "queryParamWithoutValue",
        "restXmlTypes",
        "idempotentOperation",
        "nestedContainers",
        "operationWithNoInputOrOutput",
        "furtherNestedContainers"
    ],
    "shapeModifiers": {
        "AllTypesStructure": {
            "modify":[
              {
                "BigDecimalMember": {
                    "emitAsType": "bigdecimal"
                }
              }
            ]
        }
    }
}
