{
  "verifiedSimpleMethods": [
    "listAcceptedPortfolioShares",
    "listPortfolios",
    "listProvisionedProductPlans",
    "listRecordHistory",
    "listServiceActions",
    "scanProvisionedProducts",
    "searchProducts",
    "searchProductsAsAdmin",
    "listTagOptions",
    "searchProvisionedProducts",
    "getAWSOrganizationsAccessStatus"
  ]
}
