{
    "verifiedSimpleMethods" : [
        "exportConfigurations",
        "startExportTask",
        "describeAgents",
        "describeTags",
        "describeExportTasks",
        "describeExportConfigurations",
        "getDiscoverySummary"
    ],
    "blacklistedSimpleMethods" : [
        "startContinuousExport",
        "describeContinuousExports"
    ]
}
