{
    "verifiedSimpleMethods": [
        "exportConfigurations",
        "startExportTask",
        "describeAgents",
        "describeImportTasks",
        "describeTags",
        "describeExportTasks",
        "describeExportConfigurations",
        "getDiscoverySummary"
    ],
    "excludedSimpleMethods": [
        "startContinuousExport",
        "describeContinuousExports"
    ],
    "deprecatedOperations": [
        "DescribeExportConfigurations",
        "ExportConfigurations"
    ]
}
