{
  "skipSmokeTests": true,
  "authPolicyActions" : {	
    "skip" : true	
  },
  "deprecatedSuppressions": ["ClientMutationMethods", "ClientConstructors"],
  "blacklistedSimpleMethods" : ["listBonusPayments"],
  "verifiedSimpleMethods" : [
    "listWorkerBlocks",
    "listReviewableHITs",
    "getAccountBalance",
    "listQualificationRequests",
    "listHITs"
  ]
}