{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "authPolicyActions" : {
        "skip" : true
    },
    "shapeModifiers" : {
        "UploadDocumentsRequest": {
            "inject": [
                {
                    "ContentLength": {
                        "shape": "Long",
                        "locationName": "Content-Length",
                        "location": "header"
                    }
                }
            ]
        },

        "SearchRequest": {
            "modify": [
                {
                    "return": {
                        "emitPropertyName": "returnValues"
                    }
                }
            ]
        }
    }
}
