{
     "authPolicyActions" : {
         "skip" : true
     },
     "verifiedSimpleMethods" : [
        "createSubscription",
        "deleteSubscription",
        "describeSubscription",
        "listProtections",
        "disassociateDRTRole"
     ],
     "blacklistedSimpleMethods" : [
        "updateEmergencyContactSettings",
        "updateSubscription",
        "describeDRTAccess",
        "describeEmergencyContactSettings"
     ]
}
