{
  "verifiedSimpleMethods": [
    "createSubscription",
    "deleteSubscription",
    "describeSubscription",
    "listProtections",
    "disassociateDRTRole",
    "listAttacks",
    "getSubscriptionState"
  ],
  "blacklistedSimpleMethods": [
    "updateEmergencyContactSettings",
    "updateSubscription",
    "describeDRTAccess",
    "describeEmergencyContactSettings"
  ],
  "deprecatedOperations": [
    "DeleteSubscription"
  ]
}
