{
    "verifiedSimpleMethods": [
        "getAccountSettings",
        "listEventSourceMappings",
        "listFunctions",
        "listLayers"
    ],
    "deprecatedOperations": [
        "InvokeAsync"
    ],
    "enableGenerateCompiledEndpointRules": true,
    "enableFastUnmarshaller": true,
    "useLegacyEventGenerationScheme": {
        "InvokeWithResponseStreamResponseEvent": {
            "PayloadChunk": "NO_UNIQUE_EVENT_NAMES",
            "InvokeComplete": "NO_UNIQUE_EVENT_NAMES"
        }
    }
}