{
    "authPolicyActions": {
        "skip": true
    },

    "stringOverloadForInputStreamMember": {
        "shapeName": "InvokeAsyncRequest",
        "memberName": "InvokeArgs"
    },

    "stringOverloadForByteBufferMember": {
        "shapeName": "InvocationRequest",
        "memberName": "Payload"
    }
}
