{
    "authPolicyActions": {
        "skip": true
    },
    "convenienceTypeOverloads": [
        {
            "shapeName": "InvocationRequest",
            "memberName": "Payload",
            "convenienceType": "java.lang.String",
            "typeAdapterFqcn": "software.amazon.awssdk.core.adapter.StringToSdkBytesAdapter"
        }
    ]
}
