{
    "batchManager": {
        "sendRequest": {
            "batchMethod": "sendRequestBatch",
            "batchRequestEntry": "SendRequestBatchRequestEntry",
            "successBatchEntry": "SendRequestBatchResultEntry",
            "errorBatchEntry": "BatchResultErrorEntry",
            "successEntriesMethod": "successful",
            "errorEntriesMethod": "failed",
            "batchKey": "destination",
            "errorCodeMethod": "errorCode",
            "batchRequestIdentifier": "id"
        },
        "deleteRequest": {
            "batchMethod": "deleteRequestBatch",
            "batchRequestEntry": "DeleteRequestBatchRequestEntry",
            "successBatchEntry": "DeleteRequestBatchResultEntry",
            "successEntriesMethod": "responses",
            "batchKey": "destination",
            "errorCodeMethod": "errorCode",
            "batchRequestIdentifier": "id"
        }
    }
}
