{
    "batchManagerMethods": {
        "sendRequest": {
            "batchMethod": "sendRequestBatch",
            "batchRequestEntry": "SendRequestBatchRequestEntry",
            "successBatchEntry": "SendRequestBatchResultEntry",
            "errorBatchEntry": "BatchResultErrorEntry",
            "successEntriesMethod": "successful",
            "errorEntriesMethod": "failed",
            "batchKey": "destination",
            "errorCodeMethod": "errorCode",
            "errorMessageMethod": "errorMessage",
            "batchRequestIdentifier": "id",
            "maxBatchItems": 15,
            "maxBatchOpenInMs": 200
        },
        "deleteRequest": {
            "batchMethod": "deleteRequestBatch",
            "batchRequestEntry": "DeleteRequestBatchRequestEntry",
            "successBatchEntry": "DeleteRequestBatchResultEntry",
            "errorBatchEntry": "BatchResultErrorEntry",
            "successEntriesMethod": "successful",
            "errorEntriesMethod": "failed",
            "batchKey": "destination",
            "errorCodeMethod": "errorCode",
            "errorMessageMethod": "errorMessage",
            "batchRequestIdentifier": "id",
            "maxBatchItems": 10,
            "maxBatchOpenInMs": 100
        }
    }
}
