{
    "shapeModifiers": {
        // Do not keep adding to this list. Make the service team do the right thing across all SDKs.
        "AccessDeniedException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "AuthorizationPendingException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "ExpiredTokenException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "InternalServerException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "InvalidClientException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "InvalidClientMetadataException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "InvalidGrantException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "InvalidRequestException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "InvalidScopeException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "SlowDownException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "UnauthorizedClientException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "UnsupportedGrantTypeException": {
            "modify": [
                {
                    "error_description": {
                        "emitPropertyName": "errorDescription",
                        "existingNameDeprecated": true
                    }
                }
            ]
        }
    }
}