{
  "verifiedSimpleMethods": [
    "createAccessKey",
    "deleteAccountPasswordPolicy",
    "generateCredentialReport",
    "getCredentialReport",
    "getAccountPasswordPolicy",
    "listServiceSpecificCredentials",
    "listSigningCertificates",
    "getUser",
    "listMFADevices",
    "listSSHPublicKeys",
    "listSigningCertificates",
    "listAccessKeys",
    "listSAMLProviders",
    "listGroups",
    "getAccountSummary",
    "listAccountAliases",
    "listOpenIDConnectProviders",
    "listInstanceProfiles",
    "listUsers",
    "listVirtualMFADevices",
    "listRoles",
    "listServerCertificates",
    "updateAccountPasswordPolicy",
    "getAccountAuthorizationDetails",
    "listPolicies"
  ],
  "blacklistedSimpleMethods": [
    "updateAccountPasswordPolicy"
  ],
  "excludeClientCreateMethod": true
}
