{
    "authPolicyActions" : {
        "skip" : true
    },
    "verifiedSimpleMethods" : [
        "createAccessKey",
        "deleteAccountPasswordPolicy",
        "generateCredentialReport",
        "getCredentialReport",
        "getAccountPasswordPolicy",
        "listServiceSpecificCredentials",
        "listSigningCertificates",
        "getUser",
        "listMFADevices",
        "listSSHPublicKeys",
        "listSigningCertificates",
        "listAccessKeys"
    ],
    "blacklistedSimpleMethods" : ["updateAccountPasswordPolicy"]
}