{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "additionalShapeConstructors" : {
        "CreateAccountAliasRequest" : {
            "constructorForms" : [
                ["AccountAlias"]
            ]
        },
        "DeleteAccountAliasRequest" : {
            "constructorForms" : [
                ["AccountAlias"]
            ]
        },
        "AccessKey" : {
            "constructorForms" : [
                ["UserName", "AccessKeyId", "Status", "SecretAccessKey"]
            ]
        },
        "EnableMFADeviceRequest" : {
            "constructorForms" : [
                ["UserName", "SerialNumber", "AuthenticationCode1", "AuthenticationCode2"]
            ]
        },
        "DeleteUserRequest" : {
            "constructorForms" : [
                ["UserName"]
            ]
        },
        "DeleteUserPolicyRequest" : {
            "constructorForms" : [
                ["UserName", "PolicyName"]
            ]
        },
        "DeleteSigningCertificateRequest" : {
            "constructorForms" : [
                ["CertificateId"]
            ]
        },
        "DeleteServerCertificateRequest" : {
            "constructorForms" : [
                ["ServerCertificateName"]
            ]
        },
        "DeleteLoginProfileRequest" : {
            "constructorForms" : [
                ["UserName"]
            ]
        },
        "DeleteGroupRequest" : {
            "constructorForms" : [
                ["GroupName"]
            ]
        },
        "DeleteGroupPolicyRequest" : {
            "constructorForms" : [
                ["GroupName", "PolicyName"]
            ]
        },
        "DeleteAccessKeyRequest" : {
            "constructorForms" : [
                ["UserName", "AccessKeyId"]
            ]
        },
        "DeactivateMFADeviceRequest" : {
            "constructorForms" : [
                ["UserName", "SerialNumber"]
            ]
        },
        "CreateUserRequest" : {
            "constructorForms" : [
                ["UserName"]
            ]
        },
        "CreateLoginProfileRequest" : {
            "constructorForms" : [
                ["UserName", "Password"]
            ]
        },
        "CreateGroupRequest" : {
            "constructorForms" : [
                ["GroupName"]
            ]
        },
        "CreateAccessKeyRequest" : {
            "constructorForms" : [
                ["UserName"]
            ]
        },
        "AddUserToGroupRequest" : {
            "constructorForms" : [
                ["GroupName", "UserName"]
            ]
        },
        "ResyncMFADeviceRequest" : {
            "constructorForms" : [
                ["UserName", "SerialNumber", "AuthenticationCode1", "AuthenticationCode2"]
            ]
        },
        "RemoveUserFromGroupRequest" : {
            "constructorForms" : [
                ["GroupName", "UserName"]
            ]
        },
        "PutUserPolicyRequest" : {
            "constructorForms" : [
                ["UserName", "PolicyName", "PolicyDocument"]
            ]
        },
        "PutGroupPolicyRequest" : {
            "constructorForms" : [
                ["GroupName", "PolicyName", "PolicyDocument"]
            ]
        },
        "MFADevice" : {
            "constructorForms" : [
                ["UserName", "SerialNumber", "EnableDate"]
            ]
        },
        "LoginProfile" : {
            "constructorForms" : [
                ["UserName", "CreateDate"]
            ]
        },
        "ListUserPoliciesRequest" : {
            "constructorForms" : [
                ["UserName"]
            ]
        },
        "ListGroupPoliciesRequest" : {
            "constructorForms" : [
                ["GroupName"]
            ]
        },
        "ListGroupsForUserRequest" : {
            "constructorForms" : [
                ["UserName"]
            ]
        },
        "ListMFADevicesRequest" : {
            "constructorForms" : [
                ["UserName"]
            ]
        },
        "Group" : {
            "constructorForms" : [
                ["Path", "GroupName", "GroupId", "Arn", "CreateDate"]
            ]
        },
        "GetUserPolicyRequest" : {
            "constructorForms" : [
                ["UserName", "PolicyName"]
            ]
        },
        "GetServerCertificateRequest" : {
            "constructorForms" : [
                ["ServerCertificateName"]
            ]
        },
        "GetLoginProfileRequest" : {
            "constructorForms" : [
                ["UserName"]
            ]
        },
        "GetGroupRequest" : {
            "constructorForms" : [
                ["GroupName"]
            ]
        },
        "GetGroupPolicyRequest" : {
            "constructorForms" : [
                ["GroupName", "PolicyName"]
            ]
        },
        "UploadSigningCertificateRequest" : {
            "constructorForms" : [
                ["CertificateBody"]
            ]
        },
        "UploadServerCertificateRequest" : {
            "constructorForms" : [
                ["ServerCertificateName", "CertificateBody", "PrivateKey"]
            ]
        },
        "UpdateUserRequest" : {
            "constructorForms" : [
                ["UserName"]
            ]
        },
        "UpdateSigningCertificateRequest" : {
            "constructorForms" : [
                ["CertificateId", "Status"]
            ]
        },
        "UpdateServerCertificateRequest" : {
            "constructorForms" : [
                ["ServerCertificateName"]
            ]
        },
        "UpdateLoginProfileRequest" : {
            "constructorForms" : [
                ["UserName"]
            ]
        },
        "UpdateGroupRequest" : {
            "constructorForms" : [
                ["GroupName"]
            ]
        },
        "UpdateAccessKeyRequest" : {
            "constructorForms" : [
                ["AccessKeyId", "Status"],
                ["UserName", "AccessKeyId", "Status"]
            ]
        },
        "SigningCertificate" : {
            "constructorForms" : [
                ["UserName", "CertificateId", "CertificateBody", "Status"]
            ]
        },
        "ServerCertificateMetadata" : {
            "constructorForms" : [
                ["Path", "ServerCertificateName", "ServerCertificateId", "Arn"]
            ]
        },
        "ServerCertificate" : {
            "constructorForms" : [
                ["ServerCertificateMetadata", "CertificateBody"]
            ]
        },
        "User" : {
            "constructorForms" : [
                ["Path", "UserName", "UserId", "Arn", "CreateDate"]
            ]
        }
    },
    "simpleMethods" : {
        "ListGroups" : {
            "methodForms" : [[ ]]
        },
        "ListSSHPublicKeys" : {
            "methodForms" : [[ ]]
        },
        "ListSAMLProviders" : {
            "methodForms" : [[ ]]
        },
        "ListUsers" : {
            "methodForms" : [[ ]]
        },
        "GetCredentialReport" : {
            "methodForms" : [[ ]]
        },
        "DeleteAccountPasswordPolicy" : {
            "methodForms" : [[ ]]
        },
        "CreateAccessKey" : {
            "methodForms" : [[ ]]
        },
        "GetUser" : {
            "methodForms" : [[ ]]
        },
        "ListMFADevices" : {
            "methodForms" : [[ ]]
        },
        "ListAccountAliases" : {
            "methodForms" : [[ ]]
        },
        "ListSigningCertificates" : {
            "methodForms" : [[ ]]
        },
        "GetAccountAuthorizationDetails" : {
            "methodForms" : [[ ]]
        },
        "ListAccessKeys" : {
            "methodForms" : [[ ]]
        },
        "ListOpenIDConnectProviders" : {
            "methodForms" : [[ ]]
        },
        "GetAccountSummary" : {
            "methodForms" : [[ ]]
        },
        "ListServerCertificates" : {
            "methodForms" : [[ ]]
        },
        "ListPolicies" : {
            "methodForms" : [[ ]]
        },
        "GenerateCredentialReport" : {
            "methodForms" : [[ ]]
        },
        "ListInstanceProfiles" : {
            "methodForms" : [[ ]]
        },
        "ListVirtualMFADevices" : {
            "methodForms" : [[ ]]
        },
        "ListRoles" : {
            "methodForms" : [[ ]]
        },
        "GetAccountPasswordPolicy" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : true
    }
}