{
    "verifiedSimpleMethods": [
        "createCluster",
        "listContainerInstances",
        "listServices",
        "listTasks",
        "describeClusters",
        "listAccountSettings",
        "listClusters",
        "listTaskDefinitionFamilies",
        "listTaskDefinitions"
    ],
    "excludedSimpleMethods": [
        "discoverPollEndpoint",
        "registerContainerInstance",
        "submitContainerStateChange",
        "submitTaskStateChange"
    ]

}
