{
    "authPolicyActions" : {
        "skip" : true
    },
    "verifiedSimpleMethods" : [
        "createCluster",
        "listContainerInstances",
        "listServices",
        "listTasks"
    ],
    "blacklistedSimpleMethods" : [
        "discoverPollEndpoint",
        "registerContainerInstance",
        "submitContainerStateChange",
        "submitTaskStateChange"
    ]
}