{
    "useAutoConstructList" : true,
    "simpleMethods" : {
        "SubmitContainerStateChange" : {
            "methodForms" : [[ ]]
        },
        "ListTaskDefinitions" : {
            "methodForms" : [[ ]]
        },
        "ListClusters" : {
            "methodForms" : [[ ]]
        },
        "CreateCluster" : {
            "methodForms" : [[ ]]
        },
        "DescribeClusters" : {
            "methodForms" : [[ ]]
        },
        "ListContainerInstances" : {
            "methodForms" : [[ ]]
        },
        "ListServices" : {
            "methodForms" : [[ ]]
        },
        "ListTaskDefinitionFamilies" : {
            "methodForms" : [[ ]]
        },
        "DiscoverPollEndpoint" : {
            "methodForms" : [[ ]]
        },
        "ListTasks" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "skip" : true
    }
}