{
    "authPolicyActions" : {
        "skip" : true
    },
    "customServiceMetadata": {
        "protocol": "cbor"
    },
    "skipSmokeTests": "true",
    "blacklistedSimpleMethods": ["deregisterStreamConsumer", "describeStreamConsumer", "listShards"],
    "customRetryPolicy" : "software.amazon.awssdk.services.kinesis.KinesisRetryPolicy",
    "customResponseMetadata" : {
        "EXTENDED_REQUEST_ID" : "x-amz-id-2"
    }
}
