{
  "enableGenerateCompiledEndpointRules": true,
  "verifiedSimpleMethods": [
    "describeLimits",
    "listStreams"
  ],
  "customServiceMetadata": {
    "protocol": "cbor"
  },
  "excludedSimpleMethods": [
    "deregisterStreamConsumer",
    "describeStreamConsumer",
    "listShards"
  ],
  "customRetryPolicy": "software.amazon.awssdk.services.kinesis.KinesisRetryPolicy",
  "customResponseMetadata": {
    "EXTENDED_REQUEST_ID": "x-amz-id-2"
  },
  "serviceSpecificHttpConfig": "software.amazon.awssdk.services.kinesis.internal.KinesisHttpConfigurationOptions",
  "useLegacyEventGenerationScheme": {
      "SubscribeToShardEventStream": "NO_ES_EVENT_IMPL"
    },
    "skipEndpointTests": {
        "Account endpoint targeting control operation type in ADC regions": "Test is broken for client tests, need operationInputs.",
        "Account endpoint targeting control operation type": "Test is broken for client tests, need operationInputs.",
        "Account endpoint targeting data operation type in ADC regions": "Test is broken for client tests, need operationInputs.",
        "Account endpoint targeting data operation type": "Test is broken for client tests, need operationInputs.",
        "Account endpoint with Dual Stack and FIPS enabled": "Test is broken for client tests, need operationInputs.",
        "Account endpoint with Dual Stack enabled": "Test is broken for client tests, need operationInputs.",
        "Account endpoint with FIPS and DualStack disabled": "Test is broken for client tests, need operationInputs.",
        "Account endpoint with FIPS and DualStack enabled for cn regions.": "Test is broken for client tests, need operationInputs.",
        "Account endpoint with FIPS enabled": "Test is broken for client tests, need operationInputs.",
        "Account endpoint with fips targeting control operation type in ADC regions": "Test is broken for client tests, need operationInputs.",
        "Account endpoint with fips targeting control operation type": "Test is broken for client tests, need operationInputs.",
        "Account endpoint with fips targeting data operation type in ADC regions": "Test is broken for client tests, need operationInputs.",
        "Account endpoint with fips targeting data operation type": "Test is broken for client tests, need operationInputs.",
        "Both StreamARN and ConsumerARN specified. StreamARN should take precedence": "Test is broken for client tests, need operationInputs.",
        "ConsumerARN targeting US-EAST-1": "Test is broken for client tests, need operationInputs.",
        "Custom Endpoint is specified": "Test is broken for client tests, need operationInputs.",
        "Dual Stack not supported region.": "Test is broken for client tests, need operationInputs.",
        "Invalid ARN: Failed to parse ARN.": "Test is broken for client tests, need operationInputs.",
        "Invalid ARN: Invalid account id": "Test is broken for client tests, need operationInputs.",
        "Invalid ARN: Kinesis ARNs only support stream arn/consumer arn types": "Test is broken for client tests, need operationInputs.",
        "Invalid ARN: Not Kinesis": "Test is broken for client tests, need operationInputs.",
        "Invalid ARN: Region is empty string in ARN": "Test is broken for client tests, need operationInputs.",
        "Invalid ARN: Region is missing in ARN": "Test is broken for client tests, need operationInputs.",
        "Invalid ARN: partition missing from ARN.": "Test is broken for client tests, need operationInputs.",
        "Invalid ARN: partitions mismatch.": "Test is broken for client tests, need operationInputs.",
        "Invalid ConsumerARN: Failed to parse ARN.": "Test is broken for client tests, need operationInputs.",
        "Invalid ConsumerARN: partition missing from ARN.": "Test is broken for client tests, need operationInputs.",
        "OperationType not set": "Test is broken for client tests, need operationInputs.",
        "Invalid ARN: Kinesis ARNs only support stream arn types": "Test is broken for client tests, need operationInputs.",
        "RegionMismatch: client region should be used for endpoint region": "Test is broken for client tests, need operationInputs."
    },
    "usePriorKnowledgeForH2": true,
    "enableFastUnmarshaller": false
}
