{
    "authPolicyActions" : {
        "skip" : true
    },
    "customServiceMetadata": {
        "protocol": "cbor"
    },
    "skipSmokeTests": "true",
    "verifiedSimpleMethods": ["deregisterStreamConsumer"],
    "skipSyncClientGeneration": true
    "blacklistedSimpleMethods": ["deregisterStreamConsumer", "describeStreamConsumer", "listShards"]
     "customRetryPolicy" : "software.amazon.awssdk.services.kinesis.KinesisRetryPolicy"
}
