{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-07-26",
    "endpointPrefix":"email",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"Pinpoint Email",
    "serviceFullName":"Amazon Pinpoint Email Service",
    "serviceId":"Pinpoint Email",
    "signatureVersion":"v4",
    "signingName":"ses",
    "targetPrefix":"com.amazonaws.services.pinpoint.email",
    "uid":"pinpoint-email-2018-07-26"
  },
  "operations":{
    "GetBlacklistReports":{
      "name":"GetBlacklistReports",
      "http":{
        "method":"GET",
        "requestUri":"/v1/email/deliverability-dashboard/blacklist-report"
      },
      "input":{"shape":"GetBlacklistReportsRequest"},
      "output":{"shape":"GetBlacklistReportsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Retrieve a list of the blacklists that your dedicated IP addresses appear on.</p>"
    },
    "GetDedicatedIps":{
      "name":"GetDedicatedIps",
      "http":{
        "method":"GET",
        "requestUri":"/v1/email/dedicated-ips"
      },
      "input":{"shape":"GetDedicatedIpsRequest"},
      "output":{"shape":"GetDedicatedIpsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>List the dedicated IP addresses that are associated with your Amazon Pinpoint account.</p>"
    }
  },
  "shapes":{
    "AmazonResourceName":{"type":"string"},
    "BadRequestException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The input you provided is invalid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "BlacklistEntries":{
      "type":"list",
      "member":{"shape":"BlacklistEntry"}
    },
    "BlacklistEntry":{
      "type":"structure",
      "members":{
        "RblName":{
          "shape":"RblName",
          "documentation":"<p>The name of the blacklist that the IP address appears on.</p>"
        },
        "ListingTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the blacklisting event occurred, shown in Unix time format.</p>"
        },
        "Description":{
          "shape":"BlacklistingDescription",
          "documentation":"<p>Additional information about the blacklisting event, as provided by the blacklist maintainer.</p>"
        }
      },
      "documentation":"<p>An object that contains information about a blacklisting event that impacts one of the dedicated IP addresses that is associated with your account.</p>"
    },
    "BlacklistItemName":{
      "type":"string",
      "documentation":"<p>An IP address that you want to obtain blacklist information for.</p>"
    },
    "BlacklistItemNames":{
      "type":"list",
      "member":{"shape":"BlacklistItemName"}
    },
    "BlacklistReport":{
      "type":"map",
      "key":{"shape":"BlacklistItemName"},
      "value":{"shape":"BlacklistEntries"}
    },
    "BlacklistingDescription":{
      "type":"string",
      "documentation":"<p>A description of the blacklisting event.</p>"
    },
    "Body":{
      "type":"structure",
      "members":{
        "Text":{
          "shape":"Content",
          "documentation":"<p>An object that represents the version of the message that is displayed in email clients that don't support HTML, or clients where the recipient has disabled HTML rendering.</p>"
        },
        "Html":{
          "shape":"Content",
          "documentation":"<p>An object that represents the version of the message that is displayed in email clients that support HTML. HTML messages can include formatted text, hyperlinks, images, and more. </p>"
        }
      },
      "documentation":"<p>Represents the body of the email message.</p>"
    },
    "Charset":{"type":"string"},
    "CloudWatchDestination":{
      "type":"structure",
      "required":["DimensionConfigurations"],
      "members":{
        "DimensionConfigurations":{
          "shape":"CloudWatchDimensionConfigurations",
          "documentation":"<p>An array of objects that define the dimensions to use when you send email events to Amazon CloudWatch.</p>"
        }
      },
      "documentation":"<p>An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to monitor and gain insights on your email sending metrics.</p>"
    },
    "CloudWatchDimensionConfiguration":{
      "type":"structure",
      "required":[
        "DimensionName",
        "DimensionValueSource",
        "DefaultDimensionValue"
      ],
      "members":{
        "DimensionName":{
          "shape":"DimensionName",
          "documentation":"<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>"
        },
        "DimensionValueSource":{
          "shape":"DimensionValueSource",
          "documentation":"<p>The location where Amazon Pinpoint finds the value of a dimension to publish to Amazon CloudWatch. If you want Amazon Pinpoint to use the message tags that you specify using an X-SES-MESSAGE-TAGS header or a parameter to the SendEmail/SendRawEmail API, choose <code>messageTag</code>. If you want Amazon Pinpoint to use your own email headers, choose <code>emailHeader</code>. If you want Amazon Pinpoint to use link tags, choose <code>linkTags</code>.</p>"
        },
        "DefaultDimensionValue":{
          "shape":"DefaultDimensionValue",
          "documentation":"<p>The default value of the dimension that is published to Amazon CloudWatch if you don't provide the value of the dimension when you send an email. This value has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>"
        }
      },
      "documentation":"<p>An object that defines the dimension configuration to use when you send Amazon Pinpoint email events to Amazon CloudWatch.</p>"
    },
    "CloudWatchDimensionConfigurations":{
      "type":"list",
      "member":{"shape":"CloudWatchDimensionConfiguration"}
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The resource is being modified by another operation or thread.</p>",
      "error":{"httpStatusCode":500},
      "exception":true
    },
    "ConfigurationSetName":{
      "type":"string",
      "documentation":"<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>"
    },
    "ConfigurationSetNameList":{
      "type":"list",
      "member":{"shape":"ConfigurationSetName"}
    },
    "Content":{
      "type":"structure",
      "required":["Data"],
      "members":{
        "Data":{
          "shape":"MessageData",
          "documentation":"<p>The content of the message itself.</p>"
        },
        "Charset":{
          "shape":"Charset",
          "documentation":"<p>The character set for the content. Because of the constraints of the SMTP protocol, Amazon Pinpoint uses 7-bit ASCII by default. If the text includes characters outside of the ASCII range, you have to specify a character set. For example, you could specify <code>UTF-8</code>, <code>ISO-8859-1</code>, or <code>Shift_JIS</code>.</p>"
        }
      },
      "documentation":"<p>An object that represents the content of the email, and optionally a character set specification.</p>"
    },
    "CustomRedirectDomain":{
      "type":"string",
      "documentation":"<p>The domain that you want to use for tracking open and click events.</p>"
    },
    "DedicatedIp":{
      "type":"structure",
      "required":[
        "Ip",
        "WarmupStatus",
        "WarmupPercentage"
      ],
      "members":{
        "Ip":{
          "shape":"Ip",
          "documentation":"<p>An IP address that is reserved for use by your Amazon Pinpoint account.</p>"
        },
        "WarmupStatus":{
          "shape":"WarmupStatus",
          "documentation":"<p>The warm-up status of a dedicated IP address. The status can have one of the following values:</p> <ul> <li> <p> <code>IN_PROGRESS</code> – The IP address isn't ready to use because the dedicated IP warm-up process is ongoing.</p> </li> <li> <p> <code>DONE</code> – The dedicated IP warm-up process is complete, and the IP address is ready to use.</p> </li> </ul>"
        },
        "WarmupPercentage":{
          "shape":"Percentage100Wrapper",
          "documentation":"<p>Indicates how complete the dedicated IP warm-up process is. When this value equals 1, the address has completed the warm-up process and is ready for use.</p>"
        },
        "PoolName":{
          "shape":"PoolName",
          "documentation":"<p>The name of the dedicated IP pool that the IP address is associated with.</p>"
        }
      },
      "documentation":"<p>Contains information about a dedicated IP address that is associated with your Amazon Pinpoint account.</p> <p/>"
    },
    "DedicatedIpList":{
      "type":"list",
      "member":{"shape":"DedicatedIp"},
      "documentation":"<p>A list of dedicated IP addresses that are associated with your Amazon Pinpoint account.</p>"
    },
    "DefaultDimensionValue":{
      "type":"string",
      "documentation":"<p>The default value of the dimension that is published to Amazon CloudWatch if you don't provide the value of the dimension when you send an email. This value has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>"
    },
    "DeliverabilityTestReport":{
      "type":"structure",
      "members":{
        "ReportId":{
          "shape":"ReportId",
          "documentation":"<p>A unique string that identifies the predictive inbox placement test.</p>"
        },
        "ReportName":{
          "shape":"ReportName",
          "documentation":"<p>A name that helps you identify a predictive inbox placement test report.</p>"
        },
        "Subject":{
          "shape":"DeliverabilityTestSubject",
          "documentation":"<p>The subject line for an email that you submitted in a predictive inbox placement test.</p>"
        },
        "FromEmailAddress":{
          "shape":"EmailAddress",
          "documentation":"<p>The sender address that you specified for the predictive inbox placement test.</p>"
        },
        "CreateDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time when the predictive inbox placement test was created, in Unix time format.</p>"
        },
        "DeliverabilityTestStatus":{
          "shape":"DeliverabilityTestStatus",
          "documentation":"<p>The status of the predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test is currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the test. If the status is <code>COMPLETE</code>, then the test is finished, and you can use the <code>GetDeliverabilityTestReport</code> to view the results of the test.</p>"
        }
      },
      "documentation":"<p>An object that contains metadata related to a predictive inbox placement test.</p>"
    },
    "DeliverabilityTestReports":{
      "type":"list",
      "member":{"shape":"DeliverabilityTestReport"}
    },
    "DeliverabilityTestStatus":{
      "type":"string",
      "documentation":"<p>The status of a predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test is currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the test. If the status is <code>COMPLETE</code>, then the test is finished, and you can use the <code>GetDeliverabilityTestReport</code> operation to view the results of the test.</p>",
      "enum":[
        "IN_PROGRESS",
        "COMPLETED"
      ]
    },
    "DeliverabilityTestSubject":{
      "type":"string",
      "documentation":"<p>The subject line for an email that you submitted in a predictive inbox placement test.</p>"
    },
    "DeliveryOptions":{
      "type":"structure",
      "members":{
        "SendingPoolName":{
          "shape":"PoolName",
          "documentation":"<p>The name of the dedicated IP pool that you want to associate with the configuration set.</p>"
        }
      },
      "documentation":"<p>Used to associate a configuration set with a dedicated IP pool.</p>"
    },
    "Destination":{
      "type":"structure",
      "members":{
        "ToAddresses":{
          "shape":"EmailAddressList",
          "documentation":"<p>An array that contains the email addresses of the \"To\" recipients for the email.</p>"
        },
        "CcAddresses":{
          "shape":"EmailAddressList",
          "documentation":"<p>An array that contains the email addresses of the \"CC\" (carbon copy) recipients for the email.</p>"
        },
        "BccAddresses":{
          "shape":"EmailAddressList",
          "documentation":"<p>An array that contains the email addresses of the \"BCC\" (blind carbon copy) recipients for the email.</p>"
        }
      },
      "documentation":"<p>An object that describes the recipients for an email.</p>"
    },
    "DimensionName":{
      "type":"string",
      "documentation":"<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>"
    },
    "DimensionValueSource":{
      "type":"string",
      "documentation":"<p>The location where Amazon Pinpoint finds the value of a dimension to publish to Amazon CloudWatch. If you want Amazon Pinpoint to use the message tags that you specify using an X-SES-MESSAGE-TAGS header or a parameter to the SendEmail/SendRawEmail API, choose <code>messageTag</code>. If you want Amazon Pinpoint to use your own email headers, choose <code>emailHeader</code>. If you want Amazon Pinpoint to use link tags, choose <code>linkTags</code>.</p>",
      "enum":[
        "MESSAGE_TAG",
        "EMAIL_HEADER",
        "LINK_TAG"
      ]
    },
    "DkimAttributes":{
      "type":"structure",
      "members":{
        "SigningEnabled":{
          "shape":"Enabled",
          "documentation":"<p>If the value is <code>true</code>, then the messages that Amazon Pinpoint sends from the identity are DKIM-signed. If the value is <code>false</code>, then the messages that Amazon Pinpoint sends from the identity aren't DKIM-signed.</p>"
        },
        "Status":{
          "shape":"DkimStatus",
          "documentation":"<p>Describes whether or not Amazon Pinpoint has successfully located the DKIM records in the DNS records for the domain. The status can be one of the following:</p> <ul> <li> <p> <code>PENDING</code> – Amazon Pinpoint hasn't yet located the DKIM records in the DNS configuration for the domain, but will continue to attempt to locate them.</p> </li> <li> <p> <code>SUCCESS</code> – Amazon Pinpoint located the DKIM records in the DNS configuration for the domain and determined that they're correct. Amazon Pinpoint can now send DKIM-signed email from the identity.</p> </li> <li> <p> <code>FAILED</code> – Amazon Pinpoint was unable to locate the DKIM records in the DNS settings for the domain, and won't continue to search for them.</p> </li> <li> <p> <code>TEMPORARY_FAILURE</code> – A temporary issue occurred, which prevented Amazon Pinpoint from determining the DKIM status for the domain.</p> </li> <li> <p> <code>NOT_STARTED</code> – Amazon Pinpoint hasn't yet started searching for the DKIM records in the DKIM records for the domain.</p> </li> </ul>"
        },
        "Tokens":{
          "shape":"DnsTokenList",
          "documentation":"<p>A set of unique strings that you use to create a set of CNAME records that you add to the DNS configuration for your domain. When Amazon Pinpoint detects these records in the DNS configuration for your domain, the DKIM authentication process is complete. Amazon Pinpoint usually detects these records within about 72 hours of adding them to the DNS configuration for your domain.</p>"
        }
      },
      "documentation":"<p>An object that contains information about the DKIM configuration for an email identity.</p>"
    },
    "DkimStatus":{
      "type":"string",
      "documentation":"<p>The DKIM authentication status of the identity. The status can be one of the following:</p> <ul> <li> <p> <code>PENDING</code> – The DKIM verification process was initiated, and Amazon Pinpoint is still waiting for the required CNAME records to appear in the DNS configuration for the domain.</p> </li> <li> <p> <code>SUCCESS</code> – The DKIM authentication process completed successfully.</p> </li> <li> <p> <code>FAILED</code> – The DKIM authentication process failed. This can happen when Amazon Pinpoint fails to find the required CNAME records in the DNS configuration of the domain.</p> </li> <li> <p> <code>TEMPORARY_FAILURE</code> – A temporary issue is preventing Amazon Pinpoint from determining the DKIM authentication status of the domain.</p> </li> <li> <p> <code>NOT_STARTED</code> – The DKIM verification process hasn't been initiated for the domain.</p> </li> </ul>",
      "enum":[
        "PENDING",
        "SUCCESS",
        "FAILED",
        "TEMPORARY_FAILURE",
        "NOT_STARTED"
      ]
    },
    "DnsToken":{"type":"string"},
    "DnsTokenList":{
      "type":"list",
      "member":{"shape":"DnsToken"}
    },
    "DomainIspPlacement":{
      "type":"structure",
      "members":{
        "IspName":{
          "shape":"IspName",
          "documentation":"<p>The name of the email provider that the inbox placement data applies to.</p>"
        },
        "InboxRawCount":{
          "shape":"Volume",
          "documentation":"<p>The total number of messages that were sent from the selected domain to the specified email provider that arrived in recipients' inboxes.</p>"
        },
        "SpamRawCount":{
          "shape":"Volume",
          "documentation":"<p>The total number of messages that were sent from the selected domain to the specified email provider that arrived in recipients' spam or junk mail folders.</p>"
        },
        "InboxPercentage":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of messages that were sent from the selected domain to the specified email provider that arrived in recipients' inboxes.</p>"
        },
        "SpamPercentage":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of messages that were sent from the selected domain to the specified email provider that arrived in recipients' spam or junk mail folders.</p>"
        }
      },
      "documentation":"<p>An object that contains inbox placement data for email sent from one of your email domains to a specific email provider.</p>"
    },
    "DomainIspPlacements":{
      "type":"list",
      "member":{"shape":"DomainIspPlacement"}
    },
    "EmailAddress":{"type":"string"},
    "EmailAddressList":{
      "type":"list",
      "member":{"shape":"EmailAddress"}
    },
    "EmailContent":{
      "type":"structure",
      "members":{
        "Simple":{
          "shape":"Message",
          "documentation":"<p>The simple email message. The message consists of a subject and a message body.</p>"
        },
        "Raw":{
          "shape":"RawMessage",
          "documentation":"<p>The raw email message. The message has to meet the following criteria:</p> <ul> <li> <p>The message has to contain a header and a body, separated by one blank line.</p> </li> <li> <p>All of the required header fields must be present in the message.</p> </li> <li> <p>Each part of a multipart MIME message must be formatted properly.</p> </li> <li> <p>If you include attachments, they must be in a file format that Amazon Pinpoint supports. </p> </li> <li> <p>The entire message must be Base64 encoded.</p> </li> <li> <p>If any of the MIME parts in your message contain content that is outside of the 7-bit ASCII character range, you should encode that content to ensure that recipients' email clients render the message properly.</p> </li> <li> <p>The length of any single line of text in the message can't exceed 1,000 characters. This restriction is defined in <a href=\"https://tools.ietf.org/html/rfc5321\">RFC 5321</a>.</p> </li> </ul>"
        }
      },
      "documentation":"<p>An object that defines the entire content of the email, including the message headers and the body content. You can create a simple email message, in which you specify the subject and the text and HTML versions of the message body. You can also create raw messages, in which you specify a complete MIME-formatted message. Raw messages can include attachments and custom headers.</p>"
    },
    "Enabled":{"type":"boolean"},
    "GeneralEnforcementStatus":{"type":"string"},
    "GetBlacklistReportsRequest":{
      "type":"structure",
      "required":["BlacklistItemNames"],
      "members":{
        "BlacklistItemNames":{
          "shape":"BlacklistItemNames",
          "documentation":"<p>A list of IP addresses that you want to retrieve blacklist information about. You can only specify the dedicated IP addresses that you use to send email using Amazon Pinpoint or Amazon SES.</p>"
        }
      },
      "documentation":"<p>A request to retrieve a list of the blacklists that your dedicated IP addresses appear on.</p>"
    },
    "GetBlacklistReportsResponse":{
      "type":"structure",
      "required":["BlacklistReport"],
      "members":{
        "BlacklistReport":{
          "shape":"BlacklistReport",
          "documentation":"<p>An object that contains information about a blacklist that one of your dedicated IP addresses appears on.</p>"
        }
      },
      "documentation":"<p>An object that contains information about blacklist events.</p>"
    },
    "GetDedicatedIpsRequest":{
      "type":"structure",
      "members":{
        "PoolName":{
          "shape":"PoolName",
          "documentation":"<p>The name of the IP pool that the dedicated IP address is associated with.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>A token returned from a previous call to <code>GetDedicatedIps</code> to indicate the position of the dedicated IP pool in the list of IP pools.</p>"
        },
        "PageSize":{
          "shape":"MaxItems",
          "documentation":"<p>The number of results to show in a single call to <code>GetDedicatedIpsRequest</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.</p>"
        }
      },
      "documentation":"<p>A request to obtain more information about dedicated IP pools.</p>"
    },
    "GetDedicatedIpsResponse":{
      "type":"structure",
      "members":{
        "DedicatedIps":{
          "shape":"DedicatedIpList",
          "documentation":"<p>A list of dedicated IP addresses that are reserved for use by your Amazon Pinpoint account.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>A token that indicates that there are additional dedicated IP addresses to list. To view additional addresses, issue another request to <code>GetDedicatedIps</code>, passing this token in the <code>NextToken</code> parameter.</p>"
        }
      },
      "documentation":"<p>Information about the dedicated IP addresses that are associated with your Amazon Pinpoint account.</p>"
    },
    "Ip":{
      "type":"string",
      "documentation":"<p>A dedicated IP address that is associated with your Amazon Pinpoint account.</p>"
    },
    "IspName":{
      "type":"string",
      "documentation":"<p>The name of an email provider.</p>"
    },
    "IspPlacement":{
      "type":"structure",
      "members":{
        "IspName":{
          "shape":"IspName",
          "documentation":"<p>The name of the email provider that the inbox placement data applies to.</p>"
        },
        "PlacementStatistics":{
          "shape":"PlacementStatistics",
          "documentation":"<p>An object that contains inbox placement metrics for a specific email provider.</p>"
        }
      },
      "documentation":"<p>An object that describes how email sent during the predictive inbox placement test was handled by a certain email provider.</p>"
    },
    "IspPlacements":{
      "type":"list",
      "member":{"shape":"IspPlacement"}
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>There are too many instances of the specified resource type.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ListOfDedicatedIpPools":{
      "type":"list",
      "member":{"shape":"PoolName"},
      "documentation":"<p>A list of dedicated IP pools that are associated with your Amazon Pinpoint account.</p>"
    },
    "MaxItems":{"type":"integer"},
    "Message":{
      "type":"structure",
      "required":[
        "Subject",
        "Body"
      ],
      "members":{
        "Subject":{
          "shape":"Content",
          "documentation":"<p>The subject line of the email. The subject line can only contain 7-bit ASCII characters. However, you can specify non-ASCII characters in the subject line by using encoded-word syntax, as described in <a href=\"https://tools.ietf.org/html/rfc2047\">RFC 2047</a>.</p>"
        },
        "Body":{
          "shape":"Body",
          "documentation":"<p>The body of the message. You can specify an HTML version of the message, a text-only version of the message, or both.</p>"
        }
      },
      "documentation":"<p>Represents the email message that you're sending. The <code>Message</code> object consists of a subject line and a message body.</p>"
    },
    "MessageContent":{
      "type":"string",
      "documentation":"<p>The body of an email message.</p>"
    },
    "MessageData":{"type":"string"},
    "MessageRejected":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The message can't be sent because it contains invalid content.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "MessageTag":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{
          "shape":"MessageTagName",
          "documentation":"<p>The name of the message tag. The message tag name has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a–z, A–Z), numbers (0–9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>"
        },
        "Value":{
          "shape":"MessageTagValue",
          "documentation":"<p>The value of the message tag. The message tag value has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a–z, A–Z), numbers (0–9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Contains the name and value of a tag that you apply to an email. You can use message tags when you publish email sending events. </p>"
    },
    "MessageTagList":{
      "type":"list",
      "member":{"shape":"MessageTag"},
      "documentation":"<p>A list of message tags.</p>"
    },
    "MessageTagName":{
      "type":"string",
      "documentation":"<p>The name of the message tag. The message tag name has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a–z, A–Z), numbers (0–9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>"
    },
    "MessageTagValue":{
      "type":"string",
      "documentation":"<p>The value of the message tag. The message tag value has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a–z, A–Z), numbers (0–9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>"
    },
    "NextToken":{"type":"string"},
    "NotFoundException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The resource you attempted to access doesn't exist.</p>",
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "Percentage":{
      "type":"double",
      "documentation":"<p>An object that contains information about inbox placement percentages.</p>"
    },
    "Percentage100Wrapper":{"type":"integer"},
    "PinpointDestination":{
      "type":"structure",
      "members":{
        "ApplicationArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Pinpoint project that you want to send email events to.</p>"
        }
      },
      "documentation":"<p>An object that defines a Amazon Pinpoint destination for email events. You can use Amazon Pinpoint events to create attributes in Amazon Pinpoint projects. You can use these attributes to create segments for your campaigns.</p>"
    },
    "PlacementStatistics":{
      "type":"structure",
      "members":{
        "InboxPercentage":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of emails that arrived in recipients' inboxes during the predictive inbox placement test.</p>"
        },
        "SpamPercentage":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of emails that arrived in recipients' spam or junk mail folders during the predictive inbox placement test.</p>"
        },
        "MissingPercentage":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of emails that didn't arrive in recipients' inboxes at all during the predictive inbox placement test.</p>"
        },
        "SpfPercentage":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of emails that were authenticated by using Sender Policy Framework (SPF) during the predictive inbox placement test.</p>"
        },
        "DkimPercentage":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of emails that were authenticated by using DomainKeys Identified Mail (DKIM) during the predictive inbox placement test.</p>"
        }
      },
      "documentation":"<p>An object that contains inbox placement data for an email provider.</p>"
    },
    "PoolName":{
      "type":"string",
      "documentation":"<p>The name of a dedicated IP pool.</p>"
    },
    "RawMessage":{
      "type":"structure",
      "required":["Data"],
      "members":{
        "Data":{
          "shape":"RawMessageData",
          "documentation":"<p>The raw email message. The message has to meet the following criteria:</p> <ul> <li> <p>The message has to contain a header and a body, separated by one blank line.</p> </li> <li> <p>All of the required header fields must be present in the message.</p> </li> <li> <p>Each part of a multipart MIME message must be formatted properly.</p> </li> <li> <p>Attachments must be in a file format that Amazon Pinpoint supports. </p> </li> <li> <p>The entire message must be Base64 encoded.</p> </li> <li> <p>If any of the MIME parts in your message contain content that is outside of the 7-bit ASCII character range, you should encode that content to ensure that recipients' email clients render the message properly.</p> </li> <li> <p>The length of any single line of text in the message can't exceed 1,000 characters. This restriction is defined in <a href=\"https://tools.ietf.org/html/rfc5321\">RFC 5321</a>.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The raw email message.</p>"
    },
    "RawMessageData":{
      "type":"blob",
      "documentation":"<p>The raw email message. The message has to meet the following criteria:</p> <ul> <li> <p>The message has to contain a header and a body, separated by one blank line.</p> </li> <li> <p>All of the required header fields must be present in the message.</p> </li> <li> <p>Each part of a multipart MIME message must be formatted properly.</p> </li> <li> <p>Attachments must be in a file format that Amazon Pinpoint supports. </p> </li> <li> <p>The entire message must be Base64 encoded.</p> </li> <li> <p>If any of the MIME parts in your message contain content that is outside of the 7-bit ASCII character range, you should encode that content to ensure that recipients' email clients render the message properly.</p> </li> <li> <p>The length of any single line of text in the message can't exceed 1,000 characters. This restriction is defined in <a href=\"https://tools.ietf.org/html/rfc5321\">RFC 5321</a>.</p> </li> </ul>"
    },
    "RblName":{
      "type":"string",
      "documentation":"<p>The name of a blacklist that an IP address was found on.</p>"
    },
    "ReportId":{
      "type":"string",
      "documentation":"<p>A unique string that identifies a Deliverability dashboard report.</p>"
    },
    "ReportName":{
      "type":"string",
      "documentation":"<p>A name that helps you identify a report generated by the Deliverability dashboard.</p>"
    },
    "Tag":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{
          "shape":"TagKey",
          "documentation":"<p>One part of a key-value pair that defines a tag. The maximum length of a tag key is 128 characters. The minimum length is 1 character.</p>"
        },
        "Value":{
          "shape":"TagValue",
          "documentation":"<p>The optional part of a key-value pair that defines a tag. The maximum length of a tag value is 256 characters. The minimum length is 0 characters. If you don’t want a resource to have a specific tag value, don’t specify a value for this parameter. Amazon Pinpoint will set the value to an empty string.</p>"
        }
      },
      "documentation":"<p>An object that defines the tags that are associated with a resource. A <i>tag</i> is a label that you optionally define and associate with a resource in Amazon Pinpoint. Tags can help you categorize and manage resources in different ways, such as by purpose, owner, environment, or other criteria. A resource can have as many as 50 tags.</p> <p>Each tag consists of a required <i>tag key</i> and an associated <i>tag value</i>, both of which you define. A tag key is a general label that acts as a category for a more specific tag value. A tag value acts as a descriptor within a tag key. For example, if you have two versions of an Amazon Pinpoint project, one for internal testing and another for external use, you might assign a <code>Stack</code> tag key to both projects. The value of the <code>Stack</code> tag key might be <code>Test</code> for one project and <code>Production</code> for the other project.</p> <p>A tag key can contain as many as 128 characters. A tag value can contain as many as 256 characters. The characters can be Unicode letters, digits, white space, or one of the following symbols: _ . : / = + -. The following additional restrictions apply to tags:</p> <ul> <li> <p>Tag keys and values are case sensitive.</p> </li> <li> <p>For each associated resource, each tag key must be unique and it can have only one value.</p> </li> <li> <p>The <code>aws:</code> prefix is reserved for use by AWS; you can’t use it in any tag keys or values that you define. In addition, you can't edit or remove tag keys or values that use this prefix. Tags that use this prefix don’t count against the limit of 50 tags per resource.</p> </li> <li> <p>You can associate tags with public or shared resources, but the tags are available only for your AWS account, not any other accounts that share the resource. In addition, the tags are available only for resources that are located in the specified AWS Region for your AWS account.</p> </li> </ul>"
    },
    "TagKey":{"type":"string"},
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"}
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"}
    },
    "TagValue":{"type":"string"},
    "Timestamp":{"type":"timestamp"},
    "TooManyRequestsException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Too many requests have been made to the operation.</p>",
      "error":{"httpStatusCode":429},
      "exception":true
    },
    "TrackingOptions":{
      "type":"structure",
      "required":["CustomRedirectDomain"],
      "members":{
        "CustomRedirectDomain":{
          "shape":"CustomRedirectDomain",
          "documentation":"<p>The domain that you want to use for tracking open and click events.</p>"
        }
      },
      "documentation":"<p>An object that defines the tracking options for a configuration set. When you use Amazon Pinpoint to send an email, it contains an invisible image that's used to track when recipients open your email. If your email contains links, those links are changed slightly in order to track when recipients click them.</p> <p>These images and links include references to a domain operated by AWS. You can optionally configure Amazon Pinpoint to use a domain that you operate for these images and links.</p>"
    },
    "Volume":{
      "type":"long",
      "documentation":"<p>An object that contains information about inbox placement volume.</p>"
    },
    "VolumeStatistics":{
      "type":"structure",
      "members":{
        "InboxRawCount":{
          "shape":"Volume",
          "documentation":"<p>The total number of emails that arrived in recipients' inboxes.</p>"
        },
        "SpamRawCount":{
          "shape":"Volume",
          "documentation":"<p>The total number of emails that arrived in recipients' spam or junk mail folders.</p>"
        },
        "ProjectedInbox":{
          "shape":"Volume",
          "documentation":"<p>An estimate of the percentage of emails sent from the current domain that will arrive in recipients' inboxes.</p>"
        },
        "ProjectedSpam":{
          "shape":"Volume",
          "documentation":"<p>An estimate of the percentage of emails sent from the current domain that will arrive in recipients' spam or junk mail folders.</p>"
        }
      },
      "documentation":"<p>An object that contains information about the amount of email that was delivered to recipients.</p>"
    },
    "WarmupStatus":{
      "type":"string",
      "documentation":"<p>The warmup status of a dedicated IP.</p>",
      "enum":[
        "IN_PROGRESS",
        "DONE"
      ]
    }
  },
  "documentation":"<fullname>Amazon Pinpoint Email Service</fullname> <p> This document contains reference information for the <a href=\"https://aws.amazon.com/pinpoint\">Amazon Pinpoint</a> Email API, version 1.0. This document is best used in conjunction with the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/welcome.html\">Amazon Pinpoint Developer Guide</a>.</p> <p>The Amazon Pinpoint Email API is available in the US East (N. Virginia), US West (Oregon), EU (Frankfurt), and EU (Ireland) Regions at the following endpoints:</p> <ul> <li> <p> <b>US East (N. Virginia)</b>: <code>email.us-east-1.amazonaws.com</code> </p> </li> <li> <p> <b>US West (Oregon)</b>: <code>email.us-west-2.amazonaws.com</code> </p> </li> <li> <p> <b>EU (Frankfurt)</b>: <code>email.eu-central-1.amazonaws.com</code> </p> </li> <li> <p> <b>EU (Ireland)</b>: <code>email.eu-west-1.amazonaws.com</code> </p> </li> </ul>"
}
