{
    "authPolicyActions" : {
        "skip" : true
    },
    "presignersFqcn": "software.amazon.awssdk.services.acm.presign.AcmClientPresigners",
    "serviceSpecificHttpConfig": "software.amazon.MyServiceHttpConfig",
    "serviceSpecificClientConfigClass": "ServiceConfiguration",
    "verifiedSimpleMethods" : ["paginatedOperationWithResultKey"],
    "blacklistedSimpleMethods" : [
        "eventStreamOperation"
    ],
  "utilitiesMethod": {
    "returnType": "software.amazon.awssdk.services.json.JsonUtilities",
    "createMethodParams": ["param1", "param2", "param3"]
  }
}
