{
    "authPolicyActions" : {
        "skip" : true
    },
    "presignersFqcn": "software.amazon.awssdk.services.acm.presign.AcmClientPresigners",
    "serviceSpecificHttpConfig": "MyServiceHttpConfig.CONFIG",
    "serviceSpecificClientConfigClass": "ServiceConfiguration",
    "verifiedSimpleMethods" : ["paginatedOperationWithResultKey"],
    "blacklistedSimpleMethods" : [
        "eventStreamOperation"
    ]
}
