{
    "authPolicyActions" : {
        "skip" : true
    },
    "presignersFqcn": "software.amazon.awssdk.services.acm.presign.AcmClientPresigners",
    "serviceSpecificHttpConfig": "software.amazon.MyServiceHttpConfig",
    "serviceSpecificClientConfigClass": "ServiceConfiguration",
    "verifiedSimpleMethods" : ["paginatedOperationWithResultKey"],
    "blacklistedSimpleMethods" : [
        "eventStreamOperation"
    ],
    "enhancementClientConfig": {
        "syncClientInterface": "software.amazon.awssdk.services.json.EnhancementClient",
        "syncClientImpl": "software.amazon.awssdk.services.json.DefaultEnhancementClient",
        "asyncClientInterface": "software.amazon.awssdk.services.json.AsyncEnhancementClient",
        "asyncClientImpl": "software.amazon.awssdk.services.json.DefaultAsyncEnhancementClient",
        "enhancementMethods": [
          {
            "name": "customOperation",
            "returnType": "software.amazon.awssdk.services.json.customOperationResponse",
            "parameters": [
              {
                "type": "software.amazon.awssdk.services.json.RequestParamOne",
                "name": "param1"
              },
              {
                "type": "software.amazon.awssdk.services.json.RequestParamTwo",
                "name": "param2"
              }
            ],
            "exceptions": [
              "software.amazon.awssdk.awscore.exception.AwsServiceException",
              "java.net.MalformedURLException"
            ]
          }
        ]
    }
}
