{
    "shapeModifiers": {
        "AccessDeniedException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "DomainNotWhitelistedException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "IdentityTypeNotSupportedException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "InternalFailureException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "InvalidNextTokenException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "InvalidParameterValueException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "LimitExceededException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "PreconditionNotMetException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "QuickSightUserNotFoundException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "ResourceExistsException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "ResourceNotFoundException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "ResourceUnavailableException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "SessionLifetimeInMinutesInvalidException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "ThrottlingException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        },
        "UnsupportedUserEditionException": {
            "modify": [
                {
                    "RequestId": {
                        "emitPropertyName": "quicksightRequestId"
                    }
                }
            ]
        }
    }
}
