{
    "authPolicyActions" : {
        "fileNamePrefix" : "CloudFormation"
    },
    "shapeModifiers" : {
        "ListStacksInput" : {
            "modify" : [
                {
                    "StackStatusFilter" : {
                        "emitPropertyName" : "stackStatusFilters"
                    }
                }
            ]
        }
    },
    "blacklistedSimpleMethods" : [
        "estimateTemplateCost",
        "validateTemplate",
        "getTemplate",
        "describeStackResources",
        "describeStackEvents",
        "getTemplateSummary"
    ]
}
