{
  "verifiedSimpleMethods": [
    "describeAccountLimits",
    "describeStacks",
    "listExports",
    "listStackSets",
    "listStacks"
  ],
  "shapeModifiers": {
    "ListStacksInput": {
      "modify": [
        {
          "StackStatusFilter": {
            "emitPropertyName": "stackStatusFilters"
          }
        }
      ]
    }
  },
  "blacklistedSimpleMethods": [
    "estimateTemplateCost",
    "validateTemplate",
    "getTemplate",
    "describeStackResources",
    "describeStackEvents",
    "getTemplateSummary"
  ]
}
