{
    "sendExplicitlyEmptyListsForQuery": true,
    "useAutoConstructList" : true,
    "authPolicyActions" : {
        "fileNamePrefix" : "CloudFormation"
    },
    "simpleMethods" : {
        "GetTemplateSummary" : {
            "methodForms" : [[ ]]
        },
        "DescribeStacks" : {
            "methodForms" : [[ ]]
        },
        "ListStacks" : {
            "methodForms" : [[ ]]
        },
        "EstimateTemplateCost" : {
            "methodForms" : [[ ]]
        }
    },
    "shapeModifiers" : {
        "ListStacksInput" : {
            "modify" : [
                {
                    "StackStatusFilter" : {
                        "emitPropertyName" : "stackStatusFilters"
                    }
                }
            ]
        }
    }
}
