{
    "blacklistedSimpleMethods" : [
        "listActivatedRulesInRuleGroup",
        "listLoggingConfigurations"
    ],
    "verifiedSimpleMethods" : [
        "getChangeToken",
        "listByteMatchSets",
        "listGeoMatchSets",
        "listIPSets",
        "listRateBasedRules",
        "listRegexMatchSets",
        "listRegexPatternSets",
        "listRuleGroups",
        "listRules",
        "listSizeConstraintSets",
        "listSqlInjectionMatchSets",
        "listSubscribedRuleGroups",
        "listWebACLs",
        "listXssMatchSets"
    ]
}
