{
  "useAutoConstructList" : true,
  "additionalShapeConstructors": {
    "Restrictions": {"constructorForms":[["GeoRestriction"]]},
    "GeoRestriction": {"constructorForms":[["RestrictionType"]]},
    "GetDistributionConfigRequest": {"constructorForms":[["Id"]]},
    "InvalidationBatch": {
      "constructorForms": [
        ["Paths", "CallerReference"],
        ["CallerReference"]
      ]
    },
    "ActiveTrustedSigners": {"constructorForms":[["Items"]]},
    "GetCloudFrontOriginAccessIdentityConfigRequest": {"constructorForms":[["Id"]]},
    "ListInvalidationsRequest": {"constructorForms":[["DistributionId"]]},
    "Distribution": {"constructorForms":[["Id","Status","DomainName"]]},
    "GetInvalidationRequest": {"constructorForms":[["DistributionId","Id"]]},
    "CreateStreamingDistributionRequest": {"constructorForms":[["StreamingDistributionConfig"]]},
    "CreateDistributionRequest": {"constructorForms":[["DistributionConfig"]]},
    "TrustedSigners": {"constructorForms":[["Items"]]},
    "GetCloudFrontOriginAccessIdentityRequest": {"constructorForms":[["Id"]]},
    "UpdateCloudFrontOriginAccessIdentityRequest": {"constructorForms":[["CloudFrontOriginAccessIdentityConfig","Id","IfMatch"]]},
    "UpdateDistributionRequest": {"constructorForms":[["DistributionConfig","Id","IfMatch"]]},
    "DeleteCloudFrontOriginAccessIdentityRequest": {"constructorForms":[["Id","IfMatch"]]},
    "GetDistributionRequest": {"constructorForms":[["Id"]]},
    "LoggingConfig": {"constructorForms":[["Bucket","Prefix"]]},
    "S3Origin": {
      "constructorForms": [
        ["DomainName"],
        ["DomainName","OriginAccessIdentity"]
      ]
    },
    "StreamingDistributionConfig": {"constructorForms":[["CallerReference","S3Origin","Enabled"]]},
    "GetStreamingDistributionConfigRequest": {"constructorForms":[["Id"]]},
    "DeleteDistributionRequest": {"constructorForms":[["Id","IfMatch"]]},
    "DistributionConfig": {"constructorForms":[["CallerReference","Enabled"]]},
    "UpdateStreamingDistributionRequest": {"constructorForms":[["StreamingDistributionConfig","Id","IfMatch"]]},
    "CloudFrontOriginAccessIdentity": {"constructorForms":[["Id","S3CanonicalUserId"]]},
    "CreateCloudFrontOriginAccessIdentityRequest": {"constructorForms":[["CloudFrontOriginAccessIdentityConfig"]]},
    "CreateInvalidationRequest": {"constructorForms":[["DistributionId","InvalidationBatch"]]},
    "GetStreamingDistributionRequest": {"constructorForms":[["Id"]]},
    "CloudFrontOriginAccessIdentityConfig": {"constructorForms":[["CallerReference"]]},
    "DeleteStreamingDistributionRequest": {"constructorForms":[["Id","IfMatch"]]}
  },
    "authPolicyActions" : {
    "fileNamePrefix" : "CloudFront"
  }
}