{
    "verifiedSimpleMethods": [
        "listCloudFrontOriginAccessIdentities",
        "listDistributions",
        "listFieldLevelEncryptionConfigs",
        "listFieldLevelEncryptionProfiles",
        "listPublicKeys",
        "listStreamingDistributions"
    ],
    "utilitiesMethod": {
        "returnType": "software.amazon.awssdk.services.cloudfront.CloudFrontUtilities",
        "createMethodParams": []
    }

}
