{
  "version": "2.0",
  "metadata": {
    "apiVersion": "1999-12-31",
    "auth": [
      "aws.auth#sigv4"
    ],
    "endpointPrefix": "awsrestxmldataplane",
    "protocol": "rest-xml",
    "protocols": [
      "rest-xml"
    ],
    "serviceFullName": "AWS REST XML Data Plane",
    "serviceId": "RestXmlDataPlane",
    "signatureVersion": "v4",
    "signingName": "awsrestxmldataplane",
    "uid": "restxmldataplane-1999-12-31"
  },
  "operations": {
    "CopyObject": {
      "name": "CopyObject",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}?x-id=CopyObject",
        "responseCode": 200
      },
      "input": {
        "shape": "CopyObjectRequest"
      },
      "output": {
        "shape": "CopyObjectOutput"
      }
    },
    "GetMetricData": {
      "name": "GetMetricData",
      "http": {
        "method": "POST",
        "requestUri": "/GetMetricData",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMetricDataInput",
        "locationName": "GetMetricDataRequest",
        "xmlNamespace": {
          "uri": "https://awsrestxmldataplane.amazonaws.com"
        }
      },
      "output": {
        "shape": "GetMetricDataOutput"
      }
    },
    "GetObject": {
      "name": "GetObject",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}/{Key}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetObjectRequest"
      },
      "output": {
        "shape": "GetObjectOutput"
      },
      "httpChecksum": {
        "requestValidationModeMember": "ChecksumMode",
        "responseAlgorithms": [
          "CRC64NVME",
          "CRC32",
          "CRC32C",
          "SHA256",
          "SHA1"
        ]
      }
    },
    "Healthcheck": {
      "name": "Healthcheck",
      "http": {
        "method": "GET",
        "requestUri": "/Healthcheck",
        "responseCode": 200
      },
      "output": {
        "shape": "HealthcheckOutput"
      },
      "readonly": true
    },
    "PutMetricData": {
      "name": "PutMetricData",
      "http": {
        "method": "POST",
        "requestUri": "/PutMetricData",
        "responseCode": 200
      },
      "input": {
        "shape": "PutMetricDataInput",
        "locationName": "PutMetricDataRequest",
        "xmlNamespace": {
          "uri": "https://awsrestxmldataplane.amazonaws.com"
        }
      }
    },
    "PutObject": {
      "name": "PutObject",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key}",
        "responseCode": 200
      },
      "input": {
        "shape": "PutObjectRequest"
      },
      "output": {
        "shape": "PutObjectOutput"
      },
      "httpChecksum": {
        "requestAlgorithmMember": "ChecksumAlgorithm",
        "requestChecksumRequired": false
      }
    }
  },
  "shapes": {
    "Blob": {
      "type": "blob"
    },
    "Boolean": {
      "type": "boolean",
      "box": true
    },
    "ChecksumAlgorithm": {
      "type": "string",
      "enum": [
        "CRC32",
        "CRC32C",
        "SHA1",
        "SHA256",
        "CRC64NVME"
      ]
    },
    "ChecksumMode": {
      "type": "string",
      "enum": [
        "ENABLED"
      ]
    },
    "CopyObjectOutput": {
      "type": "structure",
      "members": {
        "Expiration": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-expiration"
        },
        "CopySourceVersionId": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-copy-source-version-id"
        },
        "VersionId": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-version-id"
        },
        "ServerSideEncryption": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "SSECustomerAlgorithm": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        },
        "SSEKMSEncryptionContext": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-context"
        },
        "BucketKeyEnabled": {
          "shape": "Boolean",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-bucket-key-enabled"
        },
        "RequestCharged": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-request-charged"
        },
        "ETag": {
          "shape": "String"
        },
        "LastModified": {
          "shape": "Timestamp",
          "timestampFormat": "iso8601"
        },
        "ChecksumType": {
          "shape": "String"
        },
        "ChecksumCRC32": {
          "shape": "String"
        },
        "ChecksumCRC32C": {
          "shape": "String"
        },
        "ChecksumCRC64NVME": {
          "shape": "String"
        },
        "ChecksumSHA1": {
          "shape": "String"
        },
        "ChecksumSHA256": {
          "shape": "String"
        }
      }
    },
    "CopyObjectRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "CopySource",
        "Key"
      ],
      "members": {
        "ACL": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-acl"
        },
        "Bucket": {
          "shape": "String",
          "location": "uri",
          "locationName": "Bucket"
        },
        "CacheControl": {
          "shape": "String",
          "location": "header",
          "locationName": "Cache-Control"
        },
        "ChecksumAlgorithm": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-algorithm"
        },
        "ContentDisposition": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Disposition"
        },
        "ContentEncoding": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Encoding"
        },
        "ContentLanguage": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Language"
        },
        "ContentType": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Type"
        },
        "CopySource": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-copy-source"
        },
        "CopySourceIfMatch": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-copy-source-if-match"
        },
        "CopySourceIfModifiedSince": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "x-amz-copy-source-if-modified-since"
        },
        "CopySourceIfNoneMatch": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-copy-source-if-none-match"
        },
        "CopySourceIfUnmodifiedSince": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "x-amz-copy-source-if-unmodified-since"
        },
        "Expires": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "Expires"
        },
        "GrantFullControl": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-grant-full-control"
        },
        "GrantRead": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-grant-read"
        },
        "GrantReadACP": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-grant-read-acp"
        },
        "GrantWriteACP": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-grant-write-acp"
        },
        "IfMatch": {
          "shape": "String",
          "location": "header",
          "locationName": "If-Match"
        },
        "IfNoneMatch": {
          "shape": "String",
          "location": "header",
          "locationName": "If-None-Match"
        },
        "Key": {
          "shape": "String",
          "location": "uri",
          "locationName": "Key"
        },
        "MetadataDirective": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-metadata-directive"
        },
        "TaggingDirective": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-tagging-directive"
        },
        "ServerSideEncryption": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "StorageClass": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-storage-class"
        },
        "WebsiteRedirectLocation": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-website-redirect-location"
        },
        "SSECustomerAlgorithm": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        },
        "SSEKMSEncryptionContext": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-context"
        },
        "BucketKeyEnabled": {
          "shape": "Boolean",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-bucket-key-enabled"
        },
        "CopySourceSSECustomerAlgorithm": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-copy-source-server-side-encryption-customer-algorithm"
        },
        "CopySourceSSECustomerKey": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-copy-source-server-side-encryption-customer-key"
        },
        "CopySourceSSECustomerKeyMD5": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-copy-source-server-side-encryption-customer-key-MD5"
        },
        "RequestPayer": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-request-payer"
        },
        "Tagging": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-tagging"
        },
        "ObjectLockMode": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-object-lock-mode"
        },
        "ObjectLockRetainUntilDate": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "x-amz-object-lock-retain-until-date"
        },
        "ObjectLockLegalHoldStatus": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-object-lock-legal-hold"
        },
        "ExpectedBucketOwner": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-expected-bucket-owner"
        },
        "ExpectedSourceBucketOwner": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-source-expected-bucket-owner"
        }
      }
    },
    "Counts": {
      "type": "list",
      "member": {
        "shape": "Double"
      }
    },
    "Dimension": {
      "type": "structure",
      "required": [
        "Name",
        "Value"
      ],
      "members": {
        "Name": {
          "shape": "DimensionNameString"
        },
        "Value": {
          "shape": "DimensionValueString"
        }
      }
    },
    "DimensionNameString": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "DimensionValueString": {
      "type": "string",
      "max": 1024,
      "min": 1
    },
    "Dimensions": {
      "type": "list",
      "member": {
        "shape": "Dimension"
      },
      "max": 30,
      "min": 0
    },
    "Double": {
      "type": "double",
      "box": true
    },
    "Entity": {
      "type": "structure",
      "members": {
        "KeyAttributes": {
          "shape": "EntityKeyAttributesMap"
        },
        "Attributes": {
          "shape": "EntityAttributesMap"
        }
      }
    },
    "EntityAttributesMap": {
      "type": "map",
      "key": {
        "shape": "EntityAttributesMapKeyString"
      },
      "value": {
        "shape": "EntityAttributesMapValueString"
      },
      "max": 10,
      "min": 0
    },
    "EntityAttributesMapKeyString": {
      "type": "string",
      "max": 256,
      "min": 1
    },
    "EntityAttributesMapValueString": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "EntityKeyAttributesMap": {
      "type": "map",
      "key": {
        "shape": "EntityKeyAttributesMapKeyString"
      },
      "value": {
        "shape": "EntityKeyAttributesMapValueString"
      },
      "max": 4,
      "min": 2
    },
    "EntityKeyAttributesMapKeyString": {
      "type": "string",
      "max": 32,
      "min": 1
    },
    "EntityKeyAttributesMapValueString": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "EntityMetricDataList": {
      "type": "list",
      "member": {
        "shape": "EntityMetricDatum"
      }
    },
    "EntityMetricDatum": {
      "type": "structure",
      "members": {
        "Entity": {
          "shape": "Entity"
        },
        "MetricData": {
          "shape": "MetricData"
        }
      }
    },
    "GetMetricDataInput": {
      "type": "structure",
      "required": [
        "MetricDataQueries",
        "StartTime",
        "EndTime"
      ],
      "members": {
        "MetricDataQueries": {
          "shape": "MetricDataQueries"
        },
        "StartTime": {
          "shape": "Timestamp"
        },
        "EndTime": {
          "shape": "Timestamp"
        },
        "NextToken": {
          "shape": "String"
        },
        "ScanBy": {
          "shape": "ScanBy"
        },
        "MaxDatapoints": {
          "shape": "Integer"
        },
        "LabelOptions": {
          "shape": "LabelOptions"
        }
      }
    },
    "GetMetricDataOutput": {
      "type": "structure",
      "members": {
        "MetricDataResults": {
          "shape": "MetricDataResults"
        },
        "NextToken": {
          "shape": "String"
        },
        "Messages": {
          "shape": "MetricDataResultMessages"
        }
      }
    },
    "GetObjectOutput": {
      "type": "structure",
      "members": {
        "Body": {
          "shape": "Blob"
        },
        "DeleteMarker": {
          "shape": "Boolean",
          "location": "header",
          "locationName": "x-amz-delete-marker"
        },
        "AcceptRanges": {
          "shape": "String",
          "location": "header",
          "locationName": "accept-ranges"
        },
        "Expiration": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-expiration"
        },
        "Restore": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-restore"
        },
        "LastModified": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "Last-Modified"
        },
        "ContentLength": {
          "shape": "Long",
          "location": "header",
          "locationName": "Content-Length"
        },
        "ETag": {
          "shape": "String",
          "location": "header",
          "locationName": "ETag"
        },
        "ChecksumCRC32": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-crc32"
        },
        "ChecksumCRC32C": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-crc32c"
        },
        "ChecksumCRC64NVME": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-crc64nvme"
        },
        "ChecksumSHA1": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-sha1"
        },
        "ChecksumSHA256": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-sha256"
        },
        "ChecksumType": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-type"
        },
        "MissingMeta": {
          "shape": "Integer",
          "location": "header",
          "locationName": "x-amz-missing-meta"
        },
        "VersionId": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-version-id"
        },
        "CacheControl": {
          "shape": "String",
          "location": "header",
          "locationName": "Cache-Control"
        },
        "ContentDisposition": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Disposition"
        },
        "ContentEncoding": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Encoding"
        },
        "ContentLanguage": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Language"
        },
        "ContentType": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Type"
        },
        "Expires": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "Expires"
        },
        "WebsiteRedirectLocation": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-website-redirect-location"
        },
        "ServerSideEncryption": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "SSECustomerAlgorithm": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        },
        "BucketKeyEnabled": {
          "shape": "Boolean",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-bucket-key-enabled"
        },
        "StorageClass": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-storage-class"
        },
        "RequestCharged": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-request-charged"
        },
        "ReplicationStatus": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-replication-status"
        },
        "PartsCount": {
          "shape": "Integer",
          "location": "header",
          "locationName": "x-amz-mp-parts-count"
        },
        "TagCount": {
          "shape": "Integer",
          "location": "header",
          "locationName": "x-amz-tagging-count"
        },
        "ObjectLockMode": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-object-lock-mode"
        },
        "ObjectLockRetainUntilDate": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "x-amz-object-lock-retain-until-date"
        },
        "ObjectLockLegalHoldStatus": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-object-lock-legal-hold"
        }
      },
      "payload": "Body"
    },
    "GetObjectRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {
          "shape": "String",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "String",
          "location": "uri",
          "locationName": "Key"
        },
        "IfMatch": {
          "shape": "String",
          "location": "header",
          "locationName": "If-Match"
        },
        "IfModifiedSince": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "If-Modified-Since"
        },
        "IfNoneMatch": {
          "shape": "String",
          "location": "header",
          "locationName": "If-None-Match"
        },
        "IfUnmodifiedSince": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "If-Unmodified-Since"
        },
        "Range": {
          "shape": "String",
          "location": "header",
          "locationName": "Range"
        },
        "ResponseCacheControl": {
          "shape": "String",
          "location": "querystring",
          "locationName": "response-cache-control"
        },
        "ResponseContentDisposition": {
          "shape": "String",
          "location": "querystring",
          "locationName": "response-content-disposition"
        },
        "ResponseContentEncoding": {
          "shape": "String",
          "location": "querystring",
          "locationName": "response-content-encoding"
        },
        "ResponseContentLanguage": {
          "shape": "String",
          "location": "querystring",
          "locationName": "response-content-language"
        },
        "ResponseContentType": {
          "shape": "String",
          "location": "querystring",
          "locationName": "response-content-type"
        },
        "ResponseExpires": {
          "shape": "Timestamp",
          "location": "querystring",
          "locationName": "response-expires"
        },
        "VersionId": {
          "shape": "String",
          "location": "querystring",
          "locationName": "versionId"
        },
        "SSECustomerAlgorithm": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "RequestPayer": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-request-payer"
        },
        "PartNumber": {
          "shape": "Integer",
          "location": "querystring",
          "locationName": "partNumber"
        },
        "ExpectedBucketOwner": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-expected-bucket-owner"
        },
        "ChecksumMode": {
          "shape": "ChecksumMode",
          "location": "header",
          "locationName": "x-amz-checksum-mode"
        }
      }
    },
    "HealthcheckOutput": {
      "type": "structure",
      "members": {
        "ok": {
          "shape": "String"
        }
      }
    },
    "Integer": {
      "type": "integer",
      "box": true
    },
    "LabelOptions": {
      "type": "structure",
      "members": {
        "Timezone": {
          "shape": "String"
        }
      }
    },
    "Long": {
      "type": "long",
      "box": true
    },
    "MessageData": {
      "type": "structure",
      "members": {
        "Code": {
          "shape": "String"
        },
        "Value": {
          "shape": "String"
        }
      }
    },
    "Metadata": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "String"
      }
    },
    "Metric": {
      "type": "structure",
      "members": {
        "Namespace": {
          "shape": "String"
        },
        "MetricName": {
          "shape": "String"
        },
        "Dimensions": {
          "shape": "Dimensions"
        }
      }
    },
    "MetricData": {
      "type": "list",
      "member": {
        "shape": "MetricDatum"
      }
    },
    "MetricDataQueries": {
      "type": "list",
      "member": {
        "shape": "MetricDataQuery"
      }
    },
    "MetricDataQuery": {
      "type": "structure",
      "required": [
        "Id"
      ],
      "members": {
        "Id": {
          "shape": "MetricDataQueryIdString"
        },
        "MetricStat": {
          "shape": "MetricStat"
        },
        "Expression": {
          "shape": "MetricDataQueryExpressionString"
        },
        "Label": {
          "shape": "String"
        },
        "ReturnData": {
          "shape": "Boolean"
        },
        "Period": {
          "shape": "MetricDataQueryPeriodInteger"
        },
        "AccountId": {
          "shape": "String"
        }
      }
    },
    "MetricDataQueryExpressionString": {
      "type": "string",
      "max": 2048,
      "min": 1
    },
    "MetricDataQueryIdString": {
      "type": "string",
      "max": 255,
      "min": 1
    },
    "MetricDataQueryPeriodInteger": {
      "type": "integer",
      "box": true,
      "min": 1
    },
    "MetricDataResult": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "String"
        },
        "Label": {
          "shape": "String"
        },
        "Timestamps": {
          "shape": "Timestamps"
        },
        "Values": {
          "shape": "Values"
        },
        "StatusCode": {
          "shape": "StatusCode"
        },
        "Messages": {
          "shape": "MetricDataResultMessages"
        }
      }
    },
    "MetricDataResultMessages": {
      "type": "list",
      "member": {
        "shape": "MessageData"
      }
    },
    "MetricDataResults": {
      "type": "list",
      "member": {
        "shape": "MetricDataResult"
      }
    },
    "MetricDatum": {
      "type": "structure",
      "required": [
        "MetricName"
      ],
      "members": {
        "MetricName": {
          "shape": "String"
        },
        "Dimensions": {
          "shape": "Dimensions"
        },
        "Timestamp": {
          "shape": "Timestamp"
        },
        "Value": {
          "shape": "Double"
        },
        "StatisticValues": {
          "shape": "StatisticSet"
        },
        "Values": {
          "shape": "Values"
        },
        "Counts": {
          "shape": "Counts"
        },
        "Unit": {
          "shape": "StandardUnit"
        },
        "StorageResolution": {
          "shape": "Integer"
        }
      }
    },
    "MetricStat": {
      "type": "structure",
      "required": [
        "Metric",
        "Period",
        "Stat"
      ],
      "members": {
        "Metric": {
          "shape": "Metric"
        },
        "Period": {
          "shape": "Integer"
        },
        "Stat": {
          "shape": "String"
        },
        "Unit": {
          "shape": "StandardUnit"
        }
      }
    },
    "PutMetricDataInput": {
      "type": "structure",
      "required": [
        "Namespace"
      ],
      "members": {
        "Namespace": {
          "shape": "String"
        },
        "MetricData": {
          "shape": "MetricData"
        },
        "EntityMetricData": {
          "shape": "EntityMetricDataList"
        },
        "StrictEntityValidation": {
          "shape": "Boolean"
        }
      }
    },
    "PutObjectOutput": {
      "type": "structure",
      "members": {
        "Expiration": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-expiration"
        },
        "ETag": {
          "shape": "String",
          "location": "header",
          "locationName": "ETag"
        },
        "ChecksumCRC32": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-crc32"
        },
        "ChecksumCRC32C": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-crc32c"
        },
        "ChecksumCRC64NVME": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-crc64nvme"
        },
        "ChecksumSHA1": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-sha1"
        },
        "ChecksumSHA256": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-sha256"
        },
        "ChecksumType": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-type"
        },
        "ServerSideEncryption": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "VersionId": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-version-id"
        },
        "SSECustomerAlgorithm": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        },
        "SSEKMSEncryptionContext": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-context"
        },
        "BucketKeyEnabled": {
          "shape": "Boolean",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-bucket-key-enabled"
        },
        "Size": {
          "shape": "Long",
          "location": "header",
          "locationName": "x-amz-object-size"
        },
        "RequestCharged": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-request-charged"
        }
      }
    },
    "PutObjectRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {
          "shape": "String",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "String",
          "location": "uri",
          "locationName": "Key"
        },
        "Body": {
          "shape": "Blob"
        },
        "ACL": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-acl"
        },
        "CacheControl": {
          "shape": "String",
          "location": "header",
          "locationName": "Cache-Control"
        },
        "ContentDisposition": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Disposition"
        },
        "ContentEncoding": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Encoding"
        },
        "ContentLanguage": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Language"
        },
        "ContentLength": {
          "shape": "Long",
          "location": "header",
          "locationName": "Content-Length"
        },
        "ContentMD5": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-MD5"
        },
        "ContentType": {
          "shape": "String",
          "location": "header",
          "locationName": "Content-Type"
        },
        "ChecksumAlgorithm": {
          "shape": "ChecksumAlgorithm",
          "location": "header",
          "locationName": "x-amz-sdk-checksum-algorithm"
        },
        "ChecksumCRC32": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-crc32"
        },
        "ChecksumCRC32C": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-crc32c"
        },
        "ChecksumCRC64NVME": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-crc64nvme"
        },
        "ChecksumSHA1": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-sha1"
        },
        "ChecksumSHA256": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-checksum-sha256"
        },
        "Expires": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "Expires"
        },
        "IfMatch": {
          "shape": "String",
          "location": "header",
          "locationName": "If-Match"
        },
        "IfNoneMatch": {
          "shape": "String",
          "location": "header",
          "locationName": "If-None-Match"
        },
        "GrantFullControl": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-grant-full-control"
        },
        "GrantRead": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-grant-read"
        },
        "GrantReadACP": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-grant-read-acp"
        },
        "GrantWriteACP": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-grant-write-acp"
        },
        "WriteOffsetBytes": {
          "shape": "Long",
          "location": "header",
          "locationName": "x-amz-write-offset-bytes"
        },
        "Metadata": {
          "shape": "Metadata",
          "location": "headers",
          "locationName": "x-amz-meta-"
        },
        "ServerSideEncryption": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "StorageClass": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-storage-class"
        },
        "WebsiteRedirectLocation": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-website-redirect-location"
        },
        "SSECustomerAlgorithm": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        },
        "SSEKMSEncryptionContext": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-context"
        },
        "BucketKeyEnabled": {
          "shape": "Boolean",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-bucket-key-enabled"
        },
        "RequestPayer": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-request-payer"
        },
        "Tagging": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-tagging"
        },
        "ObjectLockMode": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-object-lock-mode"
        },
        "ObjectLockRetainUntilDate": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "x-amz-object-lock-retain-until-date"
        },
        "ObjectLockLegalHoldStatus": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-object-lock-legal-hold"
        },
        "ExpectedBucketOwner": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-expected-bucket-owner"
        }
      },
      "payload": "Body"
    },
    "ScanBy": {
      "type": "string",
      "enum": [
        "TimestampDescending",
        "TimestampAscending"
      ]
    },
    "StandardUnit": {
      "type": "string",
      "enum": [
        "Seconds",
        "Microseconds",
        "Milliseconds",
        "Bytes",
        "Kilobytes",
        "Megabytes",
        "Gigabytes",
        "Terabytes",
        "Bits",
        "Kilobits",
        "Megabits",
        "Gigabits",
        "Terabits",
        "Percent",
        "Count",
        "Bytes/Second",
        "Kilobytes/Second",
        "Megabytes/Second",
        "Gigabytes/Second",
        "Terabytes/Second",
        "Bits/Second",
        "Kilobits/Second",
        "Megabits/Second",
        "Gigabits/Second",
        "Terabits/Second",
        "Count/Second",
        "None"
      ]
    },
    "StatisticSet": {
      "type": "structure",
      "required": [
        "SampleCount",
        "Sum",
        "Minimum",
        "Maximum"
      ],
      "members": {
        "SampleCount": {
          "shape": "Double"
        },
        "Sum": {
          "shape": "Double"
        },
        "Minimum": {
          "shape": "Double"
        },
        "Maximum": {
          "shape": "Double"
        }
      }
    },
    "StatusCode": {
      "type": "string",
      "enum": [
        "Complete",
        "InternalError",
        "PartialData",
        "Forbidden"
      ]
    },
    "String": {
      "type": "string"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "Timestamps": {
      "type": "list",
      "member": {
        "shape": "Timestamp"
      }
    },
    "Values": {
      "type": "list",
      "member": {
        "shape": "Double"
      }
    }
  }
}