{
    "verifiedSimpleMethods": [
        "listChannels",
        "listDatasets",
        "listDatastores",
        "listPipelines"
    ],
    "excludedSimpleMethods": [
        "describeLoggingOptions"
    ],
    "shapeModifiers": {
        "DatastoreStorage": {
            "union": true
        }
    }

}
