{
    "customServiceMetadata": {
        "contentType": "application/json"
    },
    "enableGenerateCompiledEndpointRules": true,
    "usePriorKnowledgeForH2": true,
    "enableFastUnmarshaller": true,
    "useLegacyEventGenerationScheme": {},
    "disableUniqueEventStreamShapePreprocessing": {
        "StartConversationRequestEventStream": [
            "ConfigurationEvent",
            "AudioInputEvent",
            "DTMFInputEvent",
            "TextInputEvent",
            "PlaybackCompletionEvent",
            "DisconnectionEvent"
        ],
        "StartConversationResponseEventStream": [
            "PlaybackInterruptionEvent",
            "TranscriptEvent",
            "IntentResultEvent",
            "TextResponseEvent",
            "AudioResponseEvent",
            "HeartbeatEvent",
            "AccessDeniedException",
            "ResourceNotFoundException",
            "ValidationException",
            "ThrottlingException",
            "InternalServerException",
            "ConflictException",
            "DependencyFailedException",
            "BadGatewayException"
        ]
    }
}