{
    "verifiedSimpleMethods": [
        "describeAccountLimits",
        "describeLoadBalancers",
        "describeSSLPolicies",
        "describeTargetGroups"
    ],
    "excludedSimpleMethods": [
        "describeRules",
        "describeListeners"
    ],

    "enableGenerateCompiledEndpointRules": true

}
