{
    "serviceConfig": {
      "className": "ServiceConfiguration",
      "hasCrossRegionAccessEnabledProperty": true
    },
    "utilitiesMethod": {
      "returnType": "software.amazon.awssdk.services.json.JsonUtilities",
      "createMethodParams": ["param1", "param2", "param3"]
    },
    "syncClientDecorator": "software.amazon.awssdk.services.builder.SyncClientDecorator",
    "asyncClientDecorator": "software.amazon.awssdk.services.builder.AsyncClientDecorator",
    "asyncClientDecoratorClass": true,
    "syncClientDecoratorClass": true,
     "customClientContextParams":{
       "CustomParameter":{
         "documentation":"Enables this client to use Custom Parameter",
         "type":"boolean"
       }
    }
}
