{
    "serviceConfig": {
      "className": "ServiceConfiguration",
      "hasDualstackProperty": true,
      "hasFipsProperty": true,
      "hasUseArnRegionProperty": true,
      "hasMultiRegionEnabledProperty": true,
      "hasPathStyleAccessEnabledProperty":true,
      "hasAccelerateModeEnabledProperty":true
    },
    "utilitiesMethod": {
      "returnType": "software.amazon.awssdk.services.json.JsonUtilities",
      "createMethodParams": ["param1", "param2", "param3"]
    },
    "syncClientComposer": "software.amazon.awssdk.services.builder.SyncClientComposer",
    "asyncClientComposer": "software.amazon.awssdk.services.builder.AsyncClientComposer",
    "asyncClientDecoratorClass": true,
    "syncClientDecoratorClass": true
}
