grant {
    permission java.util.PropertyPermission "*", "read,write";
    permission java.io.FilePermission "<<ALL FILES>>", "read,write";
    permission java.lang.RuntimePermission "getenv.*";
    permission "java.lang.RuntimePermission" "accessDeclaredMembers";
    permission "java.lang.RuntimePermission" "modifyThread";
    permission "javax.net.ssl.SSLPermission" "setDefaultSSLContext";
    permission "java.net.SocketPermission" "*", "connect,resolve";

    // Needed for test to remove the security manager
    permission java.lang.RuntimePermission "setSecurityManager";

    // TCP socket option permissions required by Apache HC5
    permission "jdk.net.NetworkPermission" "setOption.TCP_KEEPIDLE";
    permission "jdk.net.NetworkPermission" "setOption.TCP_KEEPINTERVAL";
    permission "jdk.net.NetworkPermission" "setOption.TCP_KEEPCOUNT";
};
