{
    "verifiedSimpleMethods": [
        "allTypes",
        "deleteOperation",
        "mapOfStringToListOfStringInQueryParams",
        "membersInHeaders",
        "membersInQueryParams",
        "operationWithExplicitPayloadBlob",
        "operationWithModeledContentType",
        "queryParamWithoutValue",
        "restXmlTypes"
    ],
    "skipEndpointTestGeneration": true,
    "useLegacyEventGenerationScheme": {},
    "disableUniqueEventStreamShapePreprocessing": {
        "EventStream": [
            "EventPayloadEvent",
            "NonEventPayloadEvent",
            "SecondEventPayloadEvent"
        ]
    }
}