{
    "verifiedSimpleMethods": [
        "allTypes",
        "deleteOperation",
        "mapOfStringToListOfStringInQueryParams",
        "membersInHeaders",
        "membersInQueryParams",
        "operationWithExplicitPayloadBlob",
        "operationWithModeledContentType",
        "queryParamWithoutValue",
        "restXmlTypes"
    ],
    "skipEndpointTestGeneration": true,
    "useLegacyEventGenerationScheme": {
        "EventStream": {
            "EventPayloadEvent": "NO_UNIQUE_EVENT_NAMES",
            "NonEventPayloadEvent": "NO_UNIQUE_EVENT_NAMES",
            "SecondEventPayloadEvent": "NO_UNIQUE_EVENT_NAMES"
        }
    }
}