{
    "verifiedSimpleMethods" : [
        "allTypes",
        "deleteOperation",
        "mapOfStringToListOfStringInQueryParams",
        "membersInHeaders",
        "membersInQueryParams",
        "operationWithExplicitPayloadBlob",
        "operationWithModeledContentType",
        "queryParamWithoutValue",
        "restXmlTypes"
    ],
    // FIXME: RestXml marshallers need to be made auto construct aware
    "useAutoConstructList": false
}
