{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "additionalShapeConstructors" : {
        "DescribeEngineDefaultParametersRequest" : {
            "constructorForms" : [
                ["DBParameterGroupFamily"]
            ]
        },
        "RebootDBInstanceRequest" : {
            "constructorForms" : [
                ["DBInstanceIdentifier"]
            ]
        },
        "CreateDBSnapshotRequest" : {
            "constructorForms" : [
                ["DBSnapshotIdentifier", "DBInstanceIdentifier"]
            ]
        },
        "CreateDBInstanceRequest" : {
            "constructorForms" : [
                ["DBInstanceIdentifier", "AllocatedStorage", "DBInstanceClass", "Engine", "MasterUsername", "MasterUserPassword"]
            ]
        },
        "ModifyDBInstanceRequest" : {
            "constructorForms" : [
                ["DBInstanceIdentifier"]
            ]
        },
        "DeleteDBSnapshotRequest" : {
            "constructorForms" : [
                ["DBSnapshotIdentifier"]
            ]
        },
        "DescribeDBParametersRequest" : {
            "constructorForms" : [
                ["DBParameterGroupName"]
            ]
        },
        "ResetDBParameterGroupRequest" : {
            "constructorForms" : [
                ["DBParameterGroupName"]
            ]
        },
        "DeleteDBInstanceRequest" : {
            "constructorForms" : [
                ["DBInstanceIdentifier"]
            ]
        },
        "PurchaseReservedDBInstancesOfferingRequest" : {
            "constructorForms" : [
                ["ReservedDBInstancesOfferingId"]
            ]
        },
        "AuthorizeDBSecurityGroupIngressRequest" : {
            "constructorForms" : [
                ["DBSecurityGroupName"]
            ]
        },
        "ModifyDBParameterGroupRequest" : {
            "constructorForms" : [
                ["DBParameterGroupName", "Parameters"]
            ]
        },
        "RestoreDBInstanceFromDBSnapshotRequest" : {
            "constructorForms" : [
                ["DBInstanceIdentifier", "DBSnapshotIdentifier"]
            ]
        },
        "DeleteDBParameterGroupRequest" : {
            "constructorForms" : [
                ["DBParameterGroupName"]
            ]
        },
        "DeleteDBSecurityGroupRequest" : {
            "constructorForms" : [
                ["DBSecurityGroupName"]
            ]
        },
        "CreateDBParameterGroupRequest" : {
            "constructorForms" : [
                ["DBParameterGroupName", "DBParameterGroupFamily", "Description"]
            ]
        },
        "RestoreDBInstanceToPointInTimeRequest" : {
            "constructorForms" : [
                ["SourceDBInstanceIdentifier", "TargetDBInstanceIdentifier"]
            ]
        },
        "CreateDBSecurityGroupRequest" : {
            "constructorForms" : [
                ["DBSecurityGroupName", "DBSecurityGroupDescription"]
            ]
        },
        "RevokeDBSecurityGroupIngressRequest" : {
            "constructorForms" : [
                ["DBSecurityGroupName"]
            ]
        },
        "CreateDBInstanceReadReplicaRequest" : {
            "constructorForms" : [
                ["DBInstanceIdentifier", "SourceDBInstanceIdentifier"]
            ]
        }
    },
    "simpleMethods" : {
        "DescribePendingMaintenanceActions" : {
            "methodForms" : [[]]
        },
        "DescribeOptionGroups" : {
            "methodForms" : [[]]
        },
        "DescribeDBInstances" : {
            "methodForms" : [[]]
        },
        "DescribeDBClusterParameterGroups" : {
            "methodForms" : [[]]
        },
        "DescribeDBSnapshotAttributes" : {
            "methodForms" : [[]]
        },
        "DescribeDBClusterSnapshots" : {
            "methodForms" : [[]]
        },
        "DescribeEventCategories" : {
            "methodForms" : [[]]
        },
        "DescribeDBClusters" : {
            "methodForms" : [[]]
        },
        "DescribeEvents" : {
            "methodForms" : [[]]
        },
        "DescribeDBSecurityGroups" : {
            "methodForms" : [[]]
        },
        "DescribeDBSubnetGroups" : {
            "methodForms" : [[]]
        },
        "DescribeDBParameterGroups" : {
            "methodForms" : [[]]
        },
        "DescribeEventSubscriptions" : {
            "methodForms" : [[]]
        },
        "DescribeDBSnapshots" : {
            "methodForms" : [[]]
        },
        "DescribeAccountAttributes" : {
            "methodForms" : [[]]
        },
        "DescribeDBEngineVersions" : {
            "methodForms" : [[]]
        },
        "DescribeReservedDBInstances" : {
            "methodForms" : [[]]
        },
        "FailoverDBCluster" : {
            "methodForms" : [[]]
        },
        "DescribeCertificates" : {
            "methodForms" : [[]]
        },
        "DescribeReservedDBInstancesOfferings" : {
            "methodForms" : [[]]
        }
    },
    "shapeModifiers" : {
        "CopyDBSnapshotMessage" : {
            "inject" : [
                {
                    // This is for enabling automatic request presigning only; it should not be marshalled
                    "SourceRegion" : {
                        "shape" : "String",
                        "documentation" : "The region where the source snapshot is located."
                    }
                }
            ]
        },
        "CreateDBInstanceReadReplicaMessage" : {
            "inject" : [
                {
                    // This is for enabling automatic request presigning only; it should not be marshalled
                    "SourceRegion" : {
                        "shape" : "String",
                        "documentation" : "The region where the source instance is located."
                    }
                }
            ]
        }

    },
    "authPolicyActions" : {
        "skip" : false,
        "fileNamePrefix" : "RDS"
    }
}
