{
    "shapeModifiers" : {
        "CopyDBSnapshotMessage" : {
            "inject" : [
                {
                    // This is for enabling automatic request presigning only; it should not be marshalled
                    "SourceRegion" : {
                        "shape" : "String",
                        "documentation" : "If PreSignedUrl is not specified, this is the region where the source snapshot is located. A PreSignedUrl will be generated automatically by the SDK."
                    }
                }
            ]
        },
        "CreateDBInstanceReadReplicaMessage" : {
            "inject" : [
                {
                    // This is for enabling automatic request presigning only; it should not be marshalled
                    "SourceRegion" : {
                        "shape" : "String",
                        "documentation" : "If PreSignedUrl is not specified, this is the region where the source snapshot is located. A PreSignedUrl will be generated automatically by the SDK."
                    }
                }
            ]
        },
        "CopyDBClusterSnapshotMessage" : {
            "inject" : [
                {
                    // This is for enabling automatic request presigning only; it should not be marshalled
                    "SourceRegion" : {
                        "shape" : "String",
                        "documentation" : "If PreSignedUrl is not specified, this is the region where the source snapshot is located. A PreSignedUrl will be generated automatically by the SDK."
                    }
                }
            ]
        },
        "CreateDBClusterMessage" : {
            "inject" : [
                {
                    // This is for enabling automatic request presigning only; it should not be marshalled
                    "SourceRegion" : {
                        "shape" : "String",
                        "documentation" : "If PreSignedUrl is not specified, this is the region where the source snapshot is located. A PreSignedUrl will be generated automatically by the SDK."
                    }
                }
            ]
        }
    },
    "blacklistedSimpleMethods" : ["failoverDBCluster"],
    "deprecatedShapes" : [
        "BackupPolicyNotFoundFault"
    ],
    "verifiedSimpleMethods" : [
        "describeAccountAttributes",
        "describeCertificates",
        "describeDBClusterEndpoints",
        "describeDBClusterParameterGroups",
        "describeDBClusterSnapshots",
        "describeDBClusters",
        "describeDBEngineVersions",
        "describeDBInstanceAutomatedBackups",
        "describeDBInstances",
        "describeDBParameterGroups",
        "describeDBSecurityGroups",
        "describeDBSnapshots",
        "describeDBSubnetGroups",
        "describeEventCategories",
        "describeEventSubscriptions",
        "describeEvents",
        "describeGlobalClusters",
        "describeOptionGroups",
        "describePendingMaintenanceActions",
        "describeReservedDBInstances",
        "describeReservedDBInstancesOfferings",
        "describeSourceRegions"
    ]
}
