{
     "authPolicyActions" : {
         "skip" : true
     },

     "skipSmokeTests": true,

     "convenienceTypeOverloads": [
         {
             "shapeName": "CreateStateMachineInput",
             "memberName": "definition",
             "convenienceType": "software.amazon.awssdk.services.stepfunctions.builder.StateMachine",
             "typeAdapterFqcn": "software.amazon.awssdk.services.stepfunctions.builder.StateMachineAdapter"
         }
     ]
}
