{
    "useAutoConstructList" : true,
    "authPolicyActions" : {
        "fileNamePrefix" : "AutoScaling"
    },
    "simpleMethods" : {
        "DescribeAccountLimits" : {
            "methodForms" : [[ ]]
        },
        "DescribeAutoScalingGroups" : {
            "methodForms" : [[ ]]
        },
        "DescribePolicies" : {
            "methodForms" : [[ ]]
        },
        "DescribeScalingProcessTypes" : {
            "methodForms" : [[ ]]
        },
        "DescribeScalingActivities" : {
            "methodForms" : [[ ]]
        },
        "DescribeNotificationConfigurations" : {
            "methodForms" : [[ ]]
        },
        "DescribeTerminationPolicyTypes" : {
            "methodForms" : [[ ]]
        },
        "DescribeTags" : {
            "methodForms" : [[ ]]
        },
        "DetachLoadBalancers" : {
            "methodForms" : [[ ]]
        },
        "DescribeAutoScalingNotificationTypes" : {
            "methodForms" : [[ ]]
        },
        "AttachLoadBalancers" : {
            "methodForms" : [[ ]]
        },
        "DescribeAutoScalingInstances" : {
            "methodForms" : [[ ]]
        },
        "DescribeLifecycleHookTypes" : {
            "methodForms" : [[ ]]
        },
        "DescribeLaunchConfigurations" : {
            "methodForms" : [[ ]]
        },
        "DescribeAdjustmentTypes" : {
            "methodForms" : [[ ]]
        },
        "DescribeScheduledActions" : {
            "methodForms" : [[ ]]
        },
        "DescribeMetricCollectionTypes" : {
            "methodForms" : [[ ]]
        }
    }
}
