{
    "verifiedSimpleMethods" : [
        "describeAccountLimits",
        "describeAdjustmentTypes",
        "describeAutoScalingGroups",
        "describeAutoScalingInstances",
        "describeAutoScalingNotificationTypes",
        "describeLaunchConfigurations",
        "describeLifecycleHookTypes",
        "describeMetricCollectionTypes",
        "describeNotificationConfigurations",
        "describePolicies",
        "describeScalingActivities",
        "describeScalingProcessTypes",
        "describeScheduledActions",
        "describeTags",
        "describeTerminationPolicyTypes"
    ]
}
