{
  "verifiedSimpleMethods": [
    "describeAccountLimits",
    "describeLoadBalancerPolicies",
    "describeLoadBalancerPolicyTypes",
    "describeLoadBalancers"
  ],
  "renameShapes": {
    "AccessPointNotFoundException": "LoadBalancerNotFoundException",
    "DuplicateAccessPointNameException": "DuplicateLoadBalancerNameException",
    "TooManyAccessPointsException": "TooManyLoadBalancersException",
    "InvalidEndPointException": "InvalidInstanceException"
  }
}
