{
    "useAutoConstructList" : true,
    "additionalShapeConstructors" : {
        "CreateLBCookieStickinessPolicyRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "PolicyName"]
            ]
        },
        "SetLoadBalancerPoliciesOfListenerRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "LoadBalancerPort", "PolicyNames"]
            ]
        },
        "SetLoadBalancerPoliciesOfListenerRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "LoadBalancerPort", "PolicyNames"]
            ]
        },
        "DeleteLoadBalancerPolicyRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "PolicyName"]
            ]
        },
        "AppCookieStickinessPolicy" : {
            "constructorForms" : [
                ["PolicyName", "CookieName"]
            ]
        },
        "ConfigureHealthCheckRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "HealthCheck"]
            ]
        },
        "CreateAppCookieStickinessPolicyRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "PolicyName", "CookieName"]
            ]
        },
        "CreateLoadBalancerListenersRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "Listeners"]
            ]
        },
        "CreateLoadBalancerRequest" : {
            "constructorForms" : [
                ["LoadBalancerName"],
                ["LoadBalancerName", "Listeners", "AvailabilityZones"]
            ]
        },
        "DeleteLoadBalancerListenersRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "LoadBalancerPorts"]
            ]
        },
        "DeleteLoadBalancerRequest" : {
            "constructorForms" : [
                ["LoadBalancerName"]
            ]
        },
        "DeregisterInstancesFromLoadBalancerRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "Instances"]
            ]
        },
        "DescribeInstanceHealthRequest" : {
            "constructorForms" : [
                ["LoadBalancerName"]
            ]
        },
        "DescribeLoadBalancersRequest" : {
            "constructorForms" : [
                ["LoadBalancerNames"]
            ]
        },
        "DisableAvailabilityZonesForLoadBalancerRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "AvailabilityZones"]
            ]
        },
        "EnableAvailabilityZonesForLoadBalancerRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "AvailabilityZones"]
            ]
        },
        "HealthCheck" : {
            "constructorForms" : [
                ["Target", "Interval", "Timeout", "UnhealthyThreshold", "HealthyThreshold"]
            ]
        },
        "Instance" : {
            "constructorForms" : [
                ["InstanceId"]
            ]
        },
        "LBCookieStickinessPolicy" : {
            "constructorForms" : [
                ["PolicyName", "CookieExpirationPeriod"]
            ]
        },
        "Listener" : {
            "constructorForms" : [
                ["Protocol", "LoadBalancerPort", "InstancePort"]
            ]
        },
        "PolicyAttribute" : {
            "constructorForms" : [
                ["AttributeName", "AttributeValue"]
            ]
        },
        "RegisterInstancesWithLoadBalancerRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "Instances"]
            ]
        },
        "SetLoadBalancerListenerSSLCertificateRequest" : {
            "constructorForms" : [
                ["LoadBalancerName", "LoadBalancerPort", "SSLCertificateId"]
            ]
        }
    },
    "simpleMethods" : {
        "DescribeLoadBalancerPolicyTypes" : {
            "methodForms" : [[ ]]
        },
        "DescribeLoadBalancerPolicies" : {
            "methodForms" : [[ ]]
        },
        "DescribeLoadBalancers" : {
            "methodForms" : [[ ]]
        }
    },
    "authPolicyActions" : {
        "fileNamePrefix" : "ElasticLoadBalancing"
    },
    "renameShapes" : {
        "AccessPointNotFoundException" : "LoadBalancerNotFoundException",
        "DuplicateAccessPointNameException" : "DuplicateLoadBalancerNameException",
        "TooManyAccessPointsException" : "TooManyLoadBalancersException",
        "InvalidEndPointException" : "InvalidInstanceException"
    },
    "sendEmptyAutoConstructedListAsEmptyList" : {
        "SetLoadBalancerPoliciesOfListenerRequest" : ["PolicyNames"],
        "SetLoadBalancerPoliciesForBackendServerRequest" : ["PolicyNames"]
    }
}
