{
    "blacklistedSimpleMethods" : [
        "associateSoftwareToken"
    ],
    "shapeModifiers" : {
        "AccountTakeoverActionType" : {
            "modify" : [
                {
                    // Clashes with Object#notify
                    "Notify": {
                        "emitPropertyName" : "SendNotification"
                    }
                }
            ]
        }
    }
}

