{
    "blacklistedSimpleMethods" : [
        "allTypes",
        "nestedContainers",
        "operationWithNoInputOrOutput",
        "eventStreamOperation"
    ],
    "customResponseMetadata": {
        "FOO_ID" : "x-foo-id",
        "BAR_ID" : "x-bar-id",
        "REQUEST_ID": "x-foobar-id"
    },
    "underscoresInNameBehavior": "ALLOW"
}