{
  "calculateCrc32FromCompressedData": true,
  "shapeModifiers": {
    "AttributeValue": {
        "modify": [
            {
                "NULL": {
                    "emitPropertyName": "NUL"
                }
            }
        ],
        "union": true
    }
  },
  "verifiedSimpleMethods" : [
    "describeEndpoints",
    "describeLimits",
    "listBackups",
    "listGlobalTables",
    "listTables",
    "getChangeToken",
    "listByteMatchSets",
    "listGeoMatchSets",
    "listIPSets",
    "listRateBasedRules",
    "listRegexMatchSets",
    "listRegexPatternSets",
    "listRuleGroups",
    "listRules",
    "listSizeConstraintSets",
    "listSqlInjectionMatchSets",
    "listSubscribedRuleGroups",
    "listWebACLs",
    "listXssMatchSets"
  ],
  "customRetryStrategy" : "software.amazon.awssdk.services.dynamodb.DynamoDbRetryPolicy",
  "enableEndpointDiscoveryMethodRequired": true
}
