{
  "customServiceNameForRequest": "AmazonDynamoDBv2",
  "calculateCrc32FromCompressedData": true,
  "requiredParamValidationEnabled": false,
  "authPolicyActions" : {
    "fileNamePrefix" : "DynamoDBv2"
  },
  "shapeModifiers": {
    "AttributeValue": {
        "modify": [
            {
                "NULL": {
                    "emitPropertyName": "NUL"
                }
            }
        ]
    }
  },
  "customRetryPolicy" : "software.amazon.awssdk.services.dynamodb.DynamoDbRetryPolicy"
}
