{
    "verifiedSimpleMethods": [
        "getEncryptionConfig",
        "getGroups",
        "getSamplingRules",
        "getSamplingStatisticSummaries"
    ],
    "excludedSimpleMethods": [
        "deleteSamplingRule",
        "getGroup"
    ],
    "shapeModifiers": {
        "AnnotationValue": {
            "union": true
        }
    }

}
