{
  "useAutoConstructList": true,
  "authPolicyActions": {
    "skip" : true
  },
  "simpleMethods": {
    "ListHsms": {
      "methodForms": [ [ ] ]
    },
    "ListAvailableZones": {
      "methodForms": [ [ ] ]
    },
    "ListHapgs": {
      "methodForms": [ [ ] ]
    },
    "ListLunaClients": {
      "methodForms": [ [ ] ]
    },
    "DescribeHsm": {
      "methodForms": [ [ ] ]
    },
    "DescribeLunaClient": {
      "methodForms": [ [ ] ]
    }
  },
  "shapeModifiers": {
    "ClientVersion": {
      "modify": [
        {
          "5.1": { "emitEnumName": "FIVE_ONE" }
        },
        {
          "5.3": { "emitEnumName": "FIVE_THREE" }
        }
      ]
    },
    "CloudHsmServiceException": {
      "exclude": [ "retryable" ]
    }
  }
}