{
  "shapeModifiers": {
    "ClientVersion": {
      "modify": [
        {
          "5.1": { "emitEnumName": "FIVE_ONE" }
        },
        {
          "5.3": { "emitEnumName": "FIVE_THREE" }
        }
      ]
    },
    "CloudHsmServiceException": {
      "exclude": [ "retryable" ]
    }
  },
  "blacklistedSimpleMethods" : [
    "describeHsm",
    "describeLunaClient"
  ],
  "verifiedSimpleMethods" : ["listAvailableZones", "listHapgs", "listHsms", "listLunaClients"]
}