{
    "useLegacyEventGenerationScheme": {},
    "disableUniqueEventStreamShapePreprocessing": {
        "InputEventStream": [
            "InputEvent"
        ],
        "InputEventStreamTwo": [
            "InputEventOne",
            "InputEventTwo"
        ],
        "EventStream": [
            "EventOne",
            "EventTwo",
            "secondEventOne",
            "secondeventtwo"
        ]
    }
}