{
  "verifiedSimpleMethods": [
    "listOfferingTransactions",
    "getAccountSettings",
    "getOfferingStatus",
    "listDeviceInstances",
    "listDevices",
    "listInstanceProfiles",
    "listOfferingPromotions",
    "listOfferings",
    "listProjects"
  ],
  "blacklistedSimpleMethods": [
    "purchaseOffering",
    "renewOffering",
    "listVPCEConfigurations"
  ]
}
