{
    "authPolicyActions" : {
        "skip" : true
    },
    "generateS3ExpressIdentityProvider" : "true",
    "customSdkOperations": {
      "operations":{
        "PresignedCustomOperation":{
          "name":"PresignedCustomOperation",
          "input":{
            "fqcn": "software.amazon.awssdk.codegen.poet.model.PresignedCustomOperation",
            "marshallerFqcn": "software.amazon.awssdk.codegen.poet.model.PresignedCustomOperationRequestMarshaller"
          },
          "output":{"shape":"APostOperationWithOutputResponse"}
        }
      }
    }
}
