{
    "enableGenerateCompiledEndpointRules": true,
    "usePriorKnowledgeForH2": true,
    "enableFastUnmarshaller": true,
    "useLegacyEventGenerationScheme": {},
    "disableUniqueEventStreamShapePreprocessing": {
        "ChatInputStream": [
            "configurationEvent",
            "textEvent",
            "attachmentEvent",
            "actionExecutionEvent",
            "endOfInputEvent",
            "authChallengeResponseEvent"
        ],
        "ChatOutputStream": [
            "textEvent",
            "metadataEvent",
            "actionReviewEvent",
            "failedAttachmentEvent",
            "authChallengeRequestEvent"
        ]
    }
}