{
  "verifiedSimpleMethods": [
    "downloadDefaultKeyPair",
    "isVpcPeered",
    "peerVpc",
    "unpeerVpc",
    "getActiveNames",
    "getBlueprints",
    "getBundles",
    "getCloudFormationStackRecords",
    "getDiskSnapshots",
    "getDisks",
    "getDomains",
    "getExportSnapshotRecords",
    "getInstanceSnapshots",
    "getInstances",
    "getKeyPairs",
    "getLoadBalancers",
    "getOperations",
    "getRegions",
    "getRelationalDatabaseBlueprints",
    "getRelationalDatabaseBundles",
    "getRelationalDatabaseSnapshots",
    "getRelationalDatabases",
    "getStaticIps"
  ]
}
