{
    "skipEndpointTestGeneration": true,
    "useLegacyEventGenerationScheme": {},
    "disableUniqueEventStreamShapePreprocessing": {
        "InputEventStream": [
            "BlobAndHeadersEvent",
            "StringAndHeadersEvent",
            "HeadersOnlyEvent",
            "EndEvent",
            "ImplicitPayloadAndHeadersEvent"
        ],
        "EventStream": [
            "EventOne",
            "EventTwo"
        ]
    }
}