{
  "shapeSubstitutions": {
    "CacheClusterSize": {
      "emitAsShape": "String"
    }
  },
  "blacklistedSimpleMethods" : [
    "updateAccount",
    "createApiKey",
    "generateClientCertificate"
  ],
  "verifiedSimpleMethods" : [
    "getAccount",
    "getApiKeys",
    "getClientCertificates",
    "getDomainNames",
    "getRestApis",
    "getSdkTypes",
    "getUsagePlans",
    "getVpcLinks",
    "createApiKey",
    "generateClientCertificate"
  ]
}
