{
  "authPolicyActions" : {
    "skip" : true
  },
  "deprecatedSuppressions": ["ClientMutationMethods", "ClientConstructors"],
  "skipSmokeTests": true,
  "blacklistedSimpleMethods" : [
    "associateServiceRoleToAccount",
    "createCoreDefinition",
    "createDeviceDefinition",
    "createFunctionDefinition",
    "createGroup",
    "createLoggerDefinition",
    "createSubscriptionDefinition"
  ],
  "verifiedSimpleMethods" : [
    "disassociateServiceRoleFromAccount",
    "getServiceRoleForAccount"
  ]
}
