{
    "authPolicyActions": {
        "fileNamePrefix": "ElasticBeanstalk",
        "actionPrefix": "elasticbeanstalk"
    },

    "renameShapes" : {
        // Otherwise we'll generate an inner interface 'Builder' within the
        // 'Builder' class, which is invalid Java
        "Builder" : "PlatformBuilder"
    },

    "shapeModifiers" : {
        "CreatePlatformVersionResult" : {
           "modify": [
               {
                   // Avoid colliding with the static 'builder' that returns the model builder
                   "Builder" : {
                       "emitPropertyName": "PlatformBuilder"
                   }
               }
           ]
        }
    },
    "blacklistedSimpleMethods" : [
        "abortEnvironmentUpdate",
        "composeEnvironments",
        "deletePlatformVersion",
        "rebuildEnvironment",
        "restartAppServer",
        "swapEnvironmentCNAMEs",
        "terminateEnvironment",
        "updateEnvironment",
        "describeEnvironmentResources",
        "describePlatformVersion",
        "describeEnvironmentManagedActionHistory",
        "describeEnvironmentManagedActions",
        "describeInstancesHealth",
        "describeEnvironmentHealth",
        "describeConfigurationOptions"
    ],
    "verifiedSimpleMethods" : ["createStorageLocation"]
}
