{
    "authPolicyActions": {
        "fileNamePrefix": "ElasticBeanstalk",
        "actionPrefix": "elasticbeanstalk"
    },

    "useAutoConstructList": true,

    "simpleMethods": {
        "AbortEnvironmentUpdate": {
            "methodForms": [
                []
            ]
        },
        "DescribeApplications": {
            "methodForms": [
                []
            ]
        },
        "DescribeEvents": {
            "methodForms": [
                []
            ]
        },
        "CreateStorageLocation": {
            "methodForms": [
                []
            ]
        },
        "DescribeApplicationVersions": {
            "methodForms": [
                []
            ]
        },
        "SwapEnvironmentCNAMEs": {
            "methodForms": [
                []
            ]
        },
        "ListAvailableSolutionStacks": {
            "methodForms": [
                []
            ]
        },
        "DescribeEnvironments": {
            "methodForms": [
                []
            ]
        }
    },

    "additionalShapeConstructors": {
        "UpdateConfigurationTemplateRequest": {
            "constructorForms": [
                [
                    "ApplicationName",
                    "TemplateName"
                ]
            ]
        },
        "DeleteApplicationRequest": {
            "constructorForms": [
                [
                    "ApplicationName"
                ]
            ]
        },
        "CreateApplicationVersionRequest": {
            "constructorForms": [
                [
                    "ApplicationName",
                    "VersionLabel"
                ]
            ]
        },
        "UpdateApplicationRequest": {
            "constructorForms": [
                [
                    "ApplicationName"
                ]
            ]
        },
        "CreateConfigurationTemplateRequest": {
            "constructorForms": [
                [
                    "ApplicationName",
                    "TemplateName"
                ]
            ]
        },
        "DescribeConfigurationSettingsRequest": {
            "constructorForms": [
                [
                    "ApplicationName"
                ]
            ]
        },
        "RetrieveEnvironmentInfoRequest": {
            "constructorForms": [
                [
                    "InfoType"
                ]
            ]
        },
        "UpdateApplicationVersionRequest": {
            "constructorForms": [
                [
                    "ApplicationName",
                    "VersionLabel"
                ]
            ]
        },
        "RequestEnvironmentInfoRequest": {
            "constructorForms": [
                [
                    "InfoType"
                ]
            ]
        },
        "CreateApplicationRequest": {
            "constructorForms": [
                [
                    "ApplicationName"
                ]
            ]
        },
        "CheckDNSAvailabilityRequest": {
            "constructorForms": [
                [
                    "CNAMEPrefix"
                ]
            ]
        },
        "DeleteApplicationVersionRequest": {
            "constructorForms": [
                [
                    "ApplicationName",
                    "VersionLabel"
                ]
            ]
        },
        "S3Location": {
            "constructorForms": [
                [
                    "S3Bucket",
                    "S3Key"
                ]
            ]
        },
        "ValidateConfigurationSettingsRequest": {
            "constructorForms": [
                [
                    "ApplicationName",
                    "OptionSettings"
                ]
            ]
        },
        "ConfigurationOptionSetting": {
            "constructorForms": [
                [
                    "Namespace",
                    "OptionName",
                    "Value"
                ]
            ]
        },
        "CreateEnvironmentRequest": {
            "constructorForms": [
                [
                    "ApplicationName",
                    "EnvironmentName"
                ]
            ]
        },
        "DeleteEnvironmentConfigurationRequest": {
            "constructorForms": [
                [
                    "ApplicationName",
                    "EnvironmentName"
                ]
            ]
        },
        "DeleteConfigurationTemplateRequest": {
            "constructorForms": [
                [
                    "ApplicationName",
                    "TemplateName"
                ]
            ]
        }
    },

    "renameShapes" : {
        // Otherwise we'll generate an inner interface 'Builder' within the
        // 'Builder' class, which is invalid Java
        "Builder" : "PlatformBuilder"
    },

    "shapeModifiers" : {
        "CreatePlatformVersionResult" : {
           "modify": [
               {
                   // Avoid colliding with the static 'builder' that returns the model builder
                   "Builder" : {
                       "emitPropertyName": "PlatformBuilder"
                   }
               }
           ]
        }
    }
}
