{
    "useAutoConstructList" : true,
    "authPolicyActions" : {
        "skip" : true
    },
    "simpleMethods" : {
        "ListApplications" : {
            "methodForms" : [
                  [
                  ]
              ]
        },
        "BatchGetApplications" : {
            "methodForms" : [
                  [
                  ]
              ]
        },
        "BatchGetDeployments" : {
            "methodForms" : [
                  [
                  ]
              ]
        },
        "BatchGetOnPremisesInstances" : {
            "methodForms" : [
                  [
                  ]
              ]
        },
        "ListDeploymentConfigs" : {
            "methodForms" : [
                  [
                  ]
              ]
        },
        "ListDeployments" : {
            "methodForms" : [
                  [
                  ]
              ]
        },
        "ListOnPremisesInstances" : {
            "methodForms" : [
                  [
                  ]
              ]
        },
        "UpdateApplication" : {
            "methodForms" : [
                  [
                  ]
              ]
        }
    }
}