{
  "verifiedSimpleMethods": [
    "listApplications",
    "listDeploymentConfigs",
    "listDeployments",
    "listGitHubAccountTokenNames",
    "listOnPremisesInstances"
  ],
  "blacklistedSimpleMethods": [
    "continueDeployment",
    "skipWaitTimeForInstanceTermination",
    "updateApplication",
    "batchGetApplications",
    "batchGetDeployments",
    "batchGetOnPremisesInstances",
    "deleteGitHubAccountToken",
    "putLifecycleEventHookExecutionStatus",
    "batchGetDeploymentTargets",
    "getDeploymentTarget",
    "listDeploymentTargets"
  ],
  "deprecatedOperations": [
    "BatchGetDeploymentInstances",
    "GetDeploymentInstance",
    "ListDeploymentInstances",
    "SkipWaitTimeForInstanceTermination"
  ],
  "deprecatedShapes": [
    "InstanceDoesNotExistException",
    "InstanceIdRequiredException",
    "InstanceStatus",
    "InstanceSummary"
  ]
}
