{
    "authPolicyActions" : {
        "skip" : true
    },
    "blacklistedSimpleMethods" : [
        "continueDeployment",
        "skipWaitTimeForInstanceTermination",
        "updateApplication",
        "batchGetApplications",
        "batchGetDeployments",
        "batchGetOnPremisesInstances"
    ]
}