{
    "verifiedSimpleMethods" : [
        "listQueues"
    ],
    "batchManager": {
        "errorBatchEntry": "BatchResultErrorEntry",
        "errorCodeMethod": "code",
        "successEntriesMethod": "successful",
        "errorEntriesMethod": "failed",
        "batchableFunctions": {
            "sendMessage": {
                "batchMethod": "sendMessageBatch",
                "batchRequestEntry": "SendMessageBatchRequestEntry",
                "successBatchEntry": "SendMessageBatchResultEntry",
                "destinationMethod": "queueUrl",
                "batchKeyMethods": ["queueUrl"]
            },
            "deleteMessage": {
                "batchMethod": "deleteMessageBatch",
                "batchRequestEntry": "DeleteMessageBatchRequestEntry",
                "successBatchEntry": "DeleteMessageBatchResultEntry",
                "destinationMethod": "queueUrl",
                "batchKeyMethods": ["queueUrl"]
            }
        }
    }
}
