{
    "verifiedSimpleMethods": [
        "listQueues"
    ],
    "interceptors": [
        "software.amazon.awssdk.services.sqs.internal.MessageMD5ChecksumInterceptor"
    ],
    "customClientContextParams": {
        "checksumValidationEnabled": {
            "documentation": "Enable message MD5 checksum validation.<p>Checksum validation for messages defaults to true. Only set to false if required, for instance if your cryptographic library does not support MD5.<p>Supported operations are SendMessage, ReceiveMessage and SendMessageBatch.",
            "type": "boolean"
        }
    }

}
