{
    "verifiedSimpleMethods" : [
        "listQueues"
    ],
    "interceptors": [
        "software.amazon.awssdk.services.sqs.internal.MessageMD5ChecksumInterceptor"
    ],
    "customClientContextParams":{
       "disableDefaultChecksumValidation":{
         "documentation":"Disable default Message MD5 checksum validation. Normally, checksum validation is recommended. Only turn it off if required, for instance if your cryptographic library does not support MD5.",
         "type":"boolean"
       }
    }
}
