{
  "blacklistedSimpleMethods" : [
    "deleteResourcePolicy",
    "putResourcePolicy"
  ],
  "verifiedSimpleMethods" : [
      "describeDestinations",
      "describeExportTasks",
      "describeLogGroups",
      "describeMetricFilters",
      "describeQueries",
      "describeResourcePolicies"
  ],
  "paginationCustomization": {
    "GetLogEvents" : "LastPageHasPreviousToken"
  }
}