{
    "excludedSimpleMethods": [
        "deleteResourcePolicy",
        "putResourcePolicy"
    ],
    "verifiedSimpleMethods": [
        "describeDestinations",
        "describeExportTasks",
        "describeLogGroups",
        "describeMetricFilters",
        "describeQueries",
        "describeResourcePolicies"
    ],
    "paginationCustomization": {
        "GetLogEvents": "LastPageHasPreviousToken"
    },
    "enableGenerateCompiledEndpointRules": true,
    "enableFastUnmarshaller": false,
    "useLegacyEventGenerationScheme": {
        "StartLiveTailResponseStream": {
            "sessionStart": "NO_UNIQUE_EVENT_NAMES",
            "sessionUpdate": "NO_UNIQUE_EVENT_NAMES",
            "SessionTimeoutException": "NO_UNIQUE_EVENT_NAMES",
            "SessionStreamingException": "NO_UNIQUE_EVENT_NAMES"
        }
    }
}