{
    "excludedSimpleMethods": [
        "getSupportedResourceTypes"
    ],
    "verifiedSimpleMethods": [
        "listBackupJobs",
        "listBackupPlanTemplates",
        "listBackupPlans",
        "listBackupVaults",
        "listProtectedResources",
        "listRestoreJobs"
    ],
    "useSraAuth": true,
    "enableGenerateCompiledEndpointRules": true

}
