{
  "verifiedSimpleMethods": [
    "describeCrossAccountAccessRole",
    "listAssessmentRuns",
    "listAssessmentTargets",
    "listAssessmentTemplates",
    "listEventSubscriptions",
    "listFindings",
    "listRulesPackages"
  ],
  "shapeModifiers": {
    "AccessDeniedException": {
      "modify": [
        {
          "errorCode": {
            "emitPropertyName": "inspectorErrorCode"
          }
        }
      ]
    },
    "InvalidCrossAccountRoleException": {
      "modify": [
        {
          "errorCode": {
            "emitPropertyName": "inspectorErrorCode"
          }
        }
      ]
    },
    "InvalidInputException": {
      "modify": [
        {
          "errorCode": {
            "emitPropertyName": "inspectorErrorCode"
          }
        }
      ]
    },
    "LimitExceededException": {
      "modify": [
        {
          "errorCode": {
            "emitPropertyName": "inspectorErrorCode"
          }
        }
      ]
    },
    "NoSuchEntityException": {
      "modify": [
        {
          "errorCode": {
            "emitPropertyName": "inspectorErrorCode"
          }
        }
      ]
    }
  }
}
