{
    "authPolicyActions" : {
         "skip" : true
    },
    "renameShapes": {
        "Error" : "S3Error",
        "Object" : "S3Object"
    },
    "serviceSpecificClientConfigClass": "S3AdvancedConfiguration",
    "serviceSpecificEndpointBuilderClass": "S3ServiceEndpointBuilder",
    "shapeModifiers" : {
        "GetBucketPolicyOutput" : {
            "customUnmarshallerFqcn": "software.amazon.awssdk.services.s3.transform.GetBucketPolicyResponseUnmarshaller"
        },
        "GetBucketLocationOutput" : {
            "staxTargetDepthOffset": 0
        }
    },
    "defaultExceptionUnmarshaller" : "software.amazon.awssdk.services.s3.transform.StandardS3ExceptionUnmarshaller",
    "customCodeTemplates" : {
        "exceptionUnmarshaller" : {
            "mainTemplate" : "/templates/rest-xml/s3/ExceptionUnmarshaller.ftl"
        }
    },
    "convenienceTypeOverloads": [
        {
            "shapeName": "PutObjectRequest",
            "memberName": "Tagging",
            "convenienceType": "software.amazon.awssdk.services.s3.model.Tagging",
            "typeAdapterFqcn": "software.amazon.awssdk.services.s3.TaggingAdapter"
        },
        {
            "shapeName": "CopyObjectRequest",
            "memberName": "Tagging",
            "convenienceType": "software.amazon.awssdk.services.s3.model.Tagging",
            "typeAdapterFqcn": "software.amazon.awssdk.services.s3.TaggingAdapter"
        }
    ]
}
