{
    "useAutoConstructList" : true,
    "simpleMethods" : {
        "GetGeoLocation" : {
          "methodForms" : [ [ ] ]
        },
        "GetCheckerIpRanges" : {
          "methodForms" : [ [ ] ]
        },
        "ListHealthChecks" : {
          "methodForms" : [ [ ] ]
        },
        "ListGeoLocations" : {
          "methodForms" : [ [ ] ]
        },
        "GetHealthCheckCount" : {
          "methodForms" : [ [ ] ]
        },
        "ListTrafficPolicyInstances" : {
          "methodForms" : [ [ ] ]
        },
        "ListTrafficPolicies" : {
          "methodForms" : [ [ ] ]
        },
        "ListHostedZones" : {
          "methodForms" : [ [ ] ]
        },
        "GetHostedZoneCount" : {
          "methodForms" : [ [ ] ]
        },
        "ListHostedZonesByName" : {
          "methodForms" : [ [ ] ]
        },
        "GetTrafficPolicyInstanceCount" : {
          "methodForms" : [ [ ] ]
        },
        "ListReusableDelegationSets" : {
          "methodForms" : [ [ ] ]
        }
    },
    "additionalShapeConstructors": {
        "ResourceRecord": {
          "constructorForms": [
            [ "Value" ]
          ]
        },
        "GetChangeRequest": {
          "constructorForms": [
            [ "Id" ]
          ]
        },
        "DeleteHostedZoneRequest": {
          "constructorForms": [
            [ "Id" ]
          ]
        },
        "AliasTarget": {
          "constructorForms": [
            [ "HostedZoneId", "DNSName" ]
          ]
        },
        "ChangeBatch": {
          "constructorForms": [
            [ "Changes" ]
          ]
        },
        "ChangeResourceRecordSetsRequest": {
          "constructorForms": [
            [ "HostedZoneId", "ChangeBatch" ]
          ]
        },
        "ResourceRecordSet": {
          "constructorForms": [
            [ "Name", "Type" ]
          ]
        },
        "Change": {
          "constructorForms": [
            [ "Action", "ResourceRecordSet" ]
          ]
        },
        "HostedZone": {
          "constructorForms": [
            [ "Id", "Name", "CallerReference" ]
          ]
        }, 
        "CreateHostedZoneRequest": {
          "constructorForms": [
            [ "Name", "CallerReference" ]
          ]
        },
        "ChangeInfo": {
          "constructorForms": [
            [ "Id", "Status", "SubmittedAt" ]
          ]
        },
        "GetHostedZoneRequest": {
          "constructorForms": [
            [ "Id" ]
          ]
        },
        "DelegationSet": {
          "constructorForms": [
            [ "NameServers" ]
          ]
        },
        "ListResourceRecordSetsRequest": {
          "constructorForms": [
            [ "HostedZoneId" ]
          ]
        }
    }
}