{
    "verifiedSimpleMethods" : [
        "listDocumentClassificationJobs",
        "listDocumentClassifiers",
        "listDominantLanguageDetectionJobs",
        "listEntitiesDetectionJobs",
        "listEntityRecognizers",
        "listKeyPhrasesDetectionJobs",
        "listSentimentDetectionJobs",
        "listTopicsDetectionJobs"
    ]
}
