{
    "verifiedSimpleMethods" : [
        "allTypes",
        "deleteOperation",
        "mapOfStringToListOfStringInQueryParams",
        "membersInHeaders",
        "membersInQueryParams",
        "operationWithExplicitPayloadBlob",
        "operationWithModeledContentType",
        "queryParamWithoutValue",
        "idempotentOperation",
        "queryTypes"
    ],
    // The tests expect non auto construct lists
    "useAutoConstructList": false
}
