{
    "skipEndpointTestGeneration": true,
    "requiredTraitValidationEnabled": true,
    "customSdkShapes": {
        "shapes": {
            "SdkPartType": {
                "type": "string",
                "enum": [
                    "DEFAULT",
                    "LAST"
                ]
            }
        }
    },
    "shapeModifiers": {
        "AllTypesStructure": {
            "inject": [
                {
                    "SdkPartType": {
                        "shape": "SdkPartType",
                        "documentation": "Indicates whether the request is a last part or not. This field will not be included in the request payload."
                    }
                }
            ]
        }
    },
    "useLegacyEventGenerationScheme": {
        "InputEventStream": {
            "InputEvent": "NO_UNIQUE_EVENT_NAMES"
        },
        "EventStream": {
            "EventOne": "NO_UNIQUE_EVENT_NAMES",
            "EventTwo": "NO_UNIQUE_EVENT_NAMES"
        }
    }
}