{
    "blacklistedSimpleMethods" : [
        "allTypes",
        "nestedContainers",
        "operationWithNoInputOrOutput",
        "eventStreamOperation"
    ],
    "convenienceTypeOverloads": [
        {
            "shapeName": "AllTypesStructure",
            "memberName": "BlobArg",
            "convenienceType": "java.lang.String",
            "typeAdapterFqcn": "software.amazon.awssdk.core.adapter.StringToSdkBytesAdapter"
        }
    ]
}