{
    "excludedSimpleMethods" : [
        "allTypes",
        "nestedContainers",
        "operationWithNoInputOrOutput",
        "eventStreamOperation"
    ],
    "shapeModifiers": {
        "DeprecatedRenameRequest": {
            "modify": [
                {
                    "OriginalNameNoDeprecation": {
                        "emitPropertyName":"NewNameNoDeprecation"
                    },
                    "OriginalNameDeprecated": {
                        "emitPropertyName": "NewName",
                        "existingNameDeprecated": true
                    }
                }
            ]
        },
        "OperationWithDeprecatedMemberRequest": {
            "modify": [
                {
                    "MemberModifiedAsDeprecated": {
                        "deprecated": true,
                        "deprecatedMessage": "This field is modified as deprecated."
                    }
                },
                {
                    "MemberIgnoreDataTypeFailureHandling": {
                        "ignoreDataTypeConversionFailures": "true"
                    }
                }
            ]
        },
        "BaseType": {
          "inject": [
            {
              "CustomShape1": {
                "shape": "CustomShape1",
                "documentation": "Custom shape of type string"
              },
              "CustomShape2": {
                "shape": "CustomShape2",
                "documentation": "Custom shape of type integer"
              }
            }
          ]
        }
    },
    "customSdkShapes": {
      "shapes": {
        "CustomShape1": {
          "type":"string"
        },
        "CustomShape2": {
          "type":"integer"
        }
      }
    },
    "underscoresInNameBehavior": "ALLOW",
    "requiredTraitValidationEnabled": true,
    "useLegacyEventGenerationScheme": {
        "InputEventStream": {"InputEvent": "NO_UNIQUE_EVENT_NAMES"},
        "InputEventStreamTwo": {"InputEventTwo": "NO_UNIQUE_EVENT_NAMES"},
        "EventStream": {
            "EventOne": "NO_UNIQUE_EVENT_NAMES",
            "SecondEventOne": "NO_UNIQUE_EVENT_NAMES",
            "EventTwo": "NO_UNIQUE_EVENT_NAMES",
            "SecondEventTwo": "NO_UNIQUE_EVENT_NAMES",
            "eventthree": "NO_UNIQUE_EVENT_NAMES"
        }
    }
}
