{
    "blacklistedSimpleMethods" : [
        "allTypes",
        "nestedContainers",
        "operationWithNoInputOrOutput",
        "eventStreamOperation"
    ],
    "shapeModifiers": {
        "DeprecatedRenameRequest": {
            "modify": [
                {
                    "OriginalNameNoDeprecation": {
                        "emitPropertyName":"NewNameNoDeprecation"
                    },
                    "OriginalNameDeprecated": {
                        "emitPropertyName": "NewName",
                        "existingNameDeprecated": true
                    }
                }
            ]
        }
    },
    "underscoresInNameBehavior": "ALLOW"
}