{
    "verifiedSimpleMethods": [
        "listActionTypes",
        "listPipelines",
        "listWebhooks"
    ],
    "excludedSimpleMethods": [
        "deregisterWebhookWithThirdParty",
        "registerWebhookWithThirdParty"
    ],
    "useSraAuth": true,
    "enableGenerateCompiledEndpointRules": true

}
