{
    "blacklistedSimpleMethods" : [
        "allTypes",
        "nestedContainers",
        "operationWithNoInputOrOutput"
    ],
    "verifiedSimpleMethods" : ["paginatedOperationWithResultKey"],
    "paginationCustomization": {
        "SameTokenPaginationApi" : "LastPageHasPreviousToken"
    }
}