{
    "blacklistedSimpleMethods" : [
        "allTypes",
        "nestedContainers",
        "operationWithNoInputOrOutput"
    ],
    "verifiedSimpleMethods" : ["paginatedOperationWithResultKey"],
    "paginationCustomization": {
        "SameTokenPaginationApi" : {
            "sync" : "SameTokenSyncResponseClassSpec",
            "async": "SameTokenAsyncResponseClassSpec"
        }
    }
}