{
    "authPolicyActions" : {
        "skip" : true
    },
  "skipEndpointTests": {
        "test case 4": "Does not work"
  },
  "endpointParameters": {
    "CustomEndpointArray": {
      "required": false,
      "documentation": "Parameter from the customization config",
      "type": "StringArray"
    },
    "ArnList": {
          "required": false,
          "documentation": "Parameter from the customization config",
          "type": "StringArray"
    }
  },
  "customOperationContextParams": [
    {
      "operationName": "OperationWithCustomizedOperationContextParam",
      "operationContextParamsMap": {
        "customEndpointArray": {
          "path": "ListMember.StringList[*].LeafString"
        }
      }
    }
  ],
  "preClientExecutionRequestCustomizer": {
    "OperationWithCustomMember": {
      "methodName": "dummyRequestModifier",
      "className": "software.amazon.awssdk.codegen.internal.UtilsTest"
    }
  }
}
