{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "additionalShapeConstructors" : {
        "APostOperationRequest" : {
            "constructorForms" : [
                ["SomeNestedMember"]
            ]
        }
    },
    "authPolicyActions" : {
        "skip" : true
    }
}