{
  "endpointAuthSchemeConfig": {
    "knownEndpointProperties": "software.module.test.KNOWN_PROPS"
  },
    "endpointParameters": {
      "ArnList": {
            "required": false,
            "documentation": "Parameter from the customization config",
            "type": "StringArray"
      }
    }
}