{
    "authPolicyActions" : {
        "skip" : true
    },
  "skipEndpointTests": {
        "test case 4": "Does not work"
  },
  "endpointParameters": {
    "CustomEndpointArray": {
      "required": false,
      "documentation": "Parameter from the customization config",
      "type": "StringArray"
    }
  },
  "operationContextParams": {
      "OperationWithCustomizedOperationContextParam": {
        "customEndpointArray":{"value":"ListMember.StringList[*].LeafString"}
      }
  }
  ,
  "CustomEndpointArray": {
      "required": false,
      "documentation": "Parameter from the customization config",
      "type": "StringArray"
    }
}
