{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2010-05-08",
    "endpointPrefix": "query-service",
    "globalEndpoint": "query-service.amazonaws.com",
    "protocol": "query",
    "serviceAbbreviation": "Query Service",
    "serviceFullName": "Some Service That Uses Query Protocol",
    "serviceId":"Query Service",
    "signatureVersion": "v4",
    "uid": "query-service-2010-05-08",
    "xmlNamespace": "https://query-service.amazonaws.com/doc/2010-05-08/"
  },
  "clientContextParams": {
    "booleanContextParam": {
      "type": "boolean",
      "documentation": "A boolean client context parameter"
    },
    "stringContextParam": {
      "type": "string",
      "documentation": "a string client context parameter"
    }
  },
  "operations": {
    "OperationWithContextParam": {
      "name": "OperationWithContextParam",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input":{"shape":"WithContextParam"}
    },
    "OperationWithStaticContextParams": {
      "name": "OperationWithStaticContextParams",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "staticContextParams": {
        "staticStringParam" : {
          "value": "hello"
        }
      }
    },
    "OperationWithChecksumRequired": {
      "name": "APostOperation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "httpChecksumRequired": true
    },
    "OperationWithNoneAuthType": {
      "name": "APostOperation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "authtype": "none"
    },
    "OperationWithRequestCompression": {
      "name": "APostOperation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "requestCompression": {
        "encodings": ["gzip"]
      }
    },
    "APostOperation": {
      "name": "APostOperation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "endpoint": {
        "hostPrefix": "foo-"
      },
      "input": {
        "shape": "APostOperationRequest"
      },
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "documentation": "<p>Performs a post operation to the query service and has no output</p>"
    },
    "APostOperationWithOutput": {
      "name": "APostOperation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "APostOperationWithOutputRequest"
      },
      "output": {
        "shape": "APostOperationWithOutputResponse",
        "resultWrapper": "APostOperationWithOutputResult"
      },
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "documentation": "<p>Performs a post operation to the query service and has modelled output</p>"
    },
    "BearerAuthOperation": {
      "name": "BearerAuthOperation",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BearerAuthOperationRequest"
      },
      "authtype": "bearer"
    },
    "StreamingInputOperation": {
      "name": "StreamingInputOperation",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/streamingInputOperation"
      },
      "input": {
        "shape": "StructureWithStreamingMember"
      },
      "documentation": "Some operation with a streaming input"
    },
    "StreamingOutputOperation": {
      "name": "StreamingOutputOperation",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/streamingOutputOperation"
      },
      "output": {
        "shape": "StructureWithStreamingMember"
      },
      "documentation": "Some operation with a streaming output"
    },
    "PutOperationWithChecksum":{
      "name":"PutOperationWithChecksum",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ChecksumStructureWithStreaming"},
      "output":{"shape":"ChecksumStructureWithStreaming"},
      "httpChecksum" : {
        "requestValidationModeMember": "ChecksumMode",
        "responseAlgorithms": ["CRC32C", "CRC32", "SHA1", "SHA256"]
      }
    },
    "GetOperationWithChecksum":{
      "name":"GetOperationWithChecksum",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ChecksumStructure"},
      "output":{"shape":"ChecksumStructure"},
      "httpChecksum" : {
        "requestChecksumRequired": true,
        "requestAlgorithmMember": "ChecksumAlgorithm"
      }
    }
  },
  "shapes": {
    "WithContextParam": {
      "type": "structure",
      "members": {
        "StringMember" : {
          "shape": "String",
          "contextParam": {
            "name": "operationContextParam"
          }
        },
        "NestedMember": {
          "shape": "ChecksumStructure"
        }
      }
    },
    "APostOperationRequest": {
      "type": "structure",
      "required": [
        "SomeNestedMember"
      ],
      "members": {
        "SomeNestedMember": {
          "shape": "nestedMember",
          "documentation": "<p>a member that has nested members</p>"
        },
        "OptionalMember": {
          "shape": "dateType",
          "documentation": "<p>An optional member</p>"
        }
      }
    },
    "APostOperationWithOutputRequest": {
      "type": "structure",
      "required": [
        "SomeNestedMember"
      ],
      "members": {
        "SomeNestedMember": {
          "shape": "nestedMember",
          "documentation": "<p>a member that has nested members</p>"
        },
        "OptionalMember": {
          "shape": "dateType",
          "documentation": "<p>An optional member</p>"
        }
      }
    },
    "APostOperationWithOutputResponse": {
      "type": "structure",
      "required": [
        "NestedMember"
      ],
      "members": {
        "NestedMember": {
          "shape": "nestedMember",
          "documentation": "<p>A structure containing nested members</p>"
        }
      },
      "documentation": "<p>Contains the response to a successful <a>APostOperationWithOutput</a> request. </p>"
    },
    "InvalidInputException": {
      "type": "structure",
      "members": {
        "message": {
          "shape": "invalidInputMessage"
        }
      },
      "documentation": "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
      "error": {
        "code": "InvalidInput",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true
    },
    "nestedMember": {
      "type": "structure",
      "required": [
        "SubMember",
        "CreateDate"
      ],
      "members": {
        "SubMember": {
          "shape": "subMember",
          "documentation": "<p>A sub-member</p>"
        },
        "CreateDate": {
          "shape": "dateType",
          "documentation": "<p>The date and time, in <a href=\"http://www.iso.org/iso/iso8601\">ISO 8601 date-time format</a>, when the member was created.</p>"
        }
      },
      "documentation": "<p>A shape with nested sub-members"
    },
    "subMember": {
      "type": "string",
      "max": 63,
      "min": 3,
      "pattern": "^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$"
    },
    "dateType": {
      "type": "timestamp"
    },
    "invalidInputMessage": {
      "type": "string"
    },
    "StreamType": {
      "type": "blob",
      "streaming": true
    },
    "StructureWithStreamingMember": {
      "type": "structure",
      "members": {
        "StreamingMember": {
          "shape": "StreamType",
          "documentation": "This be a stream"
        }
      },
      "payload": "StreamingMember"
    },
    "ChecksumAlgorithm":{
      "type":"string",
      "enum":[
        "CRC32",
        "CRC32C",
        "SHA1",
        "SHA256"
      ]
    },
    "ChecksumMode":{
      "type":"string",
      "enum":["ENABLED"]
    },
    "ChecksumStructureWithStreaming":{
      "type":"structure",
      "members":{
        "Body":{
          "shape":"Body",
          "documentation":"<p>Object data.</p>",
          "streaming":true
        },
        "ChecksumMode":{
          "shape":"ChecksumMode",
          "location":"header",
          "locationName":"x-amz-checksum-mode"
        },
        "ChecksumAlgorithm":{
          "shape":"ChecksumAlgorithm",
          "location":"header",
          "locationName":"x-amz-checksum-algorithm"
        }
      },
      "payload":"Body"
    },
    "Body":{"type":"blob"},
    "ChecksumStructure":{
      "type":"structure",
      "members":{
        "stringMember":{"shape":"subMember"},
        "ChecksumMode":{
          "shape":"ChecksumMode",
          "location":"header",
          "locationName":"x-amz-checksum-mode"
        },
        "ChecksumAlgorithm":{
          "shape":"ChecksumAlgorithm",
          "location":"header",
          "locationName":"x-amz-checksum-algorithm"
        }
      },
      "payload":"stringMember"
    },
    "String":{"type":"string"},
    "BearerAuthOperationRequest": {
      "type": "structure",
      "members": {
      }
    }
  },
  "documentation": "A service that is implemented using the query protocol"
}
