{
    "verifiedSimpleMethods": [
        "getAccount",
        "getDeliverabilityDashboardOptions"
    ],
    "excludedSimpleMethods": [
        "getDedicatedIps",
        "listConfigurationSets",
        "listDedicatedIpPools",
        "listDeliverabilityTestReports",
        "listEmailIdentities"
    ]

}
