{
    "useAutoConstructList" : true,
    "useAutoConstructMap" : true,
    "simpleMethods" : {
        "CreateStream" : {
            "methodForms" : [["StreamName", "ShardCount"]]
        },
        "DeleteStream" : {
            "methodForms" : [["StreamName"]]
        },
        "DescribeStream" : {
            "methodForms" : [["StreamName"], ["StreamName", "ExclusiveStartShardId"], ["StreamName", "Limit", "ExclusiveStartShardId"]]
        },
        "ListStreams" : {
            "methodForms" : [[], ["ExclusiveStartStreamName"], ["Limit", "ExclusiveStartStreamName"]]
        },
        "MergeShards" : {
            "methodForms" : [["StreamName", "ShardToMerge", "AdjacentShardToMerge"]]
        },
        "SplitShard" : {
            "methodForms" : [["StreamName", "ShardToSplit", "NewStartingHashKey"]]
        },
        "PutRecord" : {
            "methodForms" : [["StreamName", "Data", "PartitionKey"], ["StreamName", "Data", "PartitionKey", "SequenceNumberForOrdering"]]
        },
        "GetShardIterator" : {
            "methodForms" : [["StreamName", "ShardId", "ShardIteratorType"], ["StreamName", "ShardId", "ShardIteratorType", "StartingSequenceNumber"]]
        }
    },
    "authPolicyActions" : {
        "skip" : true
    },
    "customServiceMetadata": {
        "protocol": "cbor"
    },    
    "skipSmokeTests": "true"

}
