{
    "authPolicyActions" : {
        "skip" : true
    },
    "presignersFqcn": "software.amazon.awssdk.services.acm.presign.AcmClientPresigners",
    "serviceSpecificHttpConfig": "software.amazon.MyServiceHttpConfig",
    "serviceConfig": {
      "className": "ServiceConfiguration",
      "hasDualstackProperty": true,
      "hasFipsProperty": true,
      "hasUseArnRegionProperty": true,
      "hasMultiRegionEnabledProperty": true,
      "hasPathStyleAccessEnabledProperty":true,
      "hasAccelerateModeEnabledProperty":true
    },
    "customRetryPolicy": "software.amazon.MyServiceRetryPolicy",
    "customRetryStrategy": "software.amazon.MyServiceRetryStrategy",
    "verifiedSimpleMethods" : ["paginatedOperationWithResultKey"],
    "blacklistedSimpleMethods" : [
        "eventStreamOperation"
    ],
  "utilitiesMethod": {
    "returnType": "software.amazon.awssdk.services.json.JsonUtilities",
    "createMethodParams": ["param1", "param2", "param3"]
  },
    "additionalBuilderMethods": [
        {
          "methodName": "builderOne",
          "clientType": "ASYNC",
          "instanceType": "software.amazon.awssdk.services.builder.DefaultBuilder",
          "returnType": "software.amazon.awssdk.services.builder.CustomBuilder",
          "statement": "builder().build()",
          "javaDoc": "Create a default builder"
        },
        {
          "methodName": "builderTwo",
          "clientType": "ASYNC",
          "instanceType": "software.amazon.awssdk.services.builder.DefaultBuilderTwo",
          "returnType": "software.amazon.awssdk.services.builder.Builder",
          "statement": "builder2().build()",
          "javaDoc": "Create a default builder two"
        },

        {
          "methodName": "builderThree",
          "clientType": "SYNC",
          "instanceType": "software.amazon.awssdk.services.builder.DefaultBuilder",
          "returnType": "software.amazon.awssdk.services.builder.CustomBuilder",
          "statement": "builder().build()",
          "javaDoc": "Create a default builder"
        },
        {
          "methodName": "builderFour",
          "instanceType": "software.amazon.awssdk.services.builder.DefaultBuilder",
          "returnType": "software.amazon.awssdk.services.builder.CustomBuilder",
          "statement": "builder().build()",
          "javaDoc": "Create a default builder"
        }
    ],
  "useLegacyEventGenerationScheme": {
    "EventStream": ["EventOne", "event-two", "eventThree"]
  },
  "asyncClientDecoratorClass": true,
  "syncClientDecoratorClass": true
}
