{
	"skipEndpointTests": {
		"Valid EndpointId with dualstack disabled and fips enabled": "Need operationInputs for EndpointId param",
		"Valid EndpointId with dualstack enabled and fips enabled": "Need operationInputs for EndpointId param",
		"Invalid EndpointId": "Need operationInputs for EndpointId param",
		"Invalid EndpointId (empty)": "Need operationInputs for EndpointId param",
		"Valid endpointId with fips disabled and dualstack true": "Need operationInputs for EndpointId param",
		"Valid endpointId with custom sdk endpoint": "Need operationInputs for EndpointId param"
	}
}
