{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-06-08",
        "endpointPrefix": "database-service-endpoint",
        "globalEndpoint": "database-service.amazonaws.com",
        "protocol": "rest-json",
        "serviceAbbreviation": "Database Service",
        "serviceFullName": "Some Service That Uses AWS Database Protocol With Sigv4a",
        "serviceId": "Database Service",
        "signingName": "database-service",
        "signatureVersion": "v4",
        "auth": ["aws.auth#sigv4a", "aws.auth#sigv4"],
        "uid": "database-service-2023-06-08",
        "xmlNamespace": "https://database-service.amazonaws.com/doc/2023-06-08/"
    },
    "operations": {
        "GetRow": {
            "name": "GetRow",
            "http": {
                "method": "GET",
                "requestUri": "/get-row/"
            },
            "input": {
                "shape": "GetRowRequest"
            },
            "output": {
                "shape": "GetRowResponse"
            },
            "errors": [
                {
                    "shape": "InvalidInputException"
                }
            ],
            "documentation": "<p>Performs a GET request to get-row with default payload signing.</p>"        },
        "PutRow": {
            "name": "PutRow",
            "auth": ["v4"],
            "http": {
                "method": "PUT",
                "requestUri": "/put-row/"
            },
            "input": {
                "shape": "PutRowRequest"
            },
            "output": {
                "shape": "PutRowResponse"
            },
            "errors": [
                {
                    "shape": "InvalidInputException"
                }
            ],
            "documentation": "<p>Performs a PUT request to put-row with auth as sigv4.</p>"
        },
        "DeleteRow": {
            "name": "DeleteRow",
            "auth": [ "v4"],
            "http": {
                "method": "DELETE",
                "requestUri": "/delete-row/"
            },
            "input": {
                "shape": "DeleteRowRequest"
            },
            "output": {
                "shape": "DeleteRowResponse"
            },
            "errors": [
                {
                    "shape": "InvalidInputException"
                }
            ],
            "documentation": "<p>Performs a DELETE request to delete-row with auth as sigv4.</p>"
        },
        "opWithSigv4aSignedPayload": {
            "name": "OpWithSigv4aSignedPayload",
            "http": {
                "method": "GET",
                "requestUri": "/get-row/"
            },
            "input": {
                "shape": "GetRowRequest"
            },
            "output": {
                "shape": "GetRowResponse"
            },
            "errors": [
                {
                    "shape": "InvalidInputException"
                }
            ],
            "auth": ["aws.auth#sigv4a"],
            "documentation": "<p>Performs a GET request to get-row with signed payload and auth as sigv4a.</p>"
        },
        "opWithSigv4aUnSignedPayload": {
            "name": "opWithSigv4aUnSignedPayload",
            "http": {
                "method": "GET",
                "requestUri": "/get-row/"
            },
            "input": {
                "shape": "GetRowRequest"
            },
            "output": {
                "shape": "GetRowResponse"
            },
            "errors": [
                {
                    "shape": "InvalidInputException"
                }
            ],
            "auth": ["aws.auth#sigv4a"],
            "unsignedPayload": true,
            "documentation": "<p>Performs a GET request to get-row with unsigned payload and auth as sigv4a.</p>"
        },
        "opWithSigv4SignedPayload": {
            "name": "OpWithSigv4SignedPayload",
            "http": {
                "method": "GET",
                "requestUri": "/get-row/"
            },
            "input": {
                "shape": "GetRowRequest"
            },
            "output": {
                "shape": "GetRowResponse"
            },
            "errors": [
                {
                    "shape": "InvalidInputException"
                }
            ],
            "auth": ["aws.auth#sigv4"],
            "documentation": "<p>Performs a GET request to get-row with signed payload and auth as sigv4.</p>"
        },
        "opWithSigv4UnSignedPayload": {
            "name": "opWithSigv4UnSignedPayload",
            "http": {
                "method": "GET",
                "requestUri": "/get-row/"
            },
            "input": {
                "shape": "GetRowRequest"
            },
            "output": {
                "shape": "GetRowResponse"
            },
            "errors": [
                {
                    "shape": "InvalidInputException"
                }
            ],
            "auth": ["aws.auth#sigv4"],
            "unsignedPayload": true,
            "documentation": "<p>Performs a GET request to get-row with unsigned payload and auth as sigv4.</p>"
        },
        "opsWithSigv4andSigv4aSignedPayload": {
            "name": "opsWithSigv4andSigv4aSignedPayload",
            "http": {
                "method": "GET",
                "requestUri": "/get-row/"
            },
            "input": {
                "shape": "GetRowRequest"
            },
            "output": {
                "shape": "GetRowResponse"
            },
            "errors": [
                {
                    "shape": "InvalidInputException"
                }
            ],
            "auth": ["aws.auth#sigv4","aws.auth#sigv4a"],
            "documentation": "<p>Performs a GET request to get-row with signed payload and auth as sigv4 and sigv4a.</p>"
        },
        "secondOpsWithSigv4andSigv4aSignedPayload": {
            "name": "secondOpsWithSigv4andSigv4aSignedPayload",
            "http": {
                "method": "GET",
                "requestUri": "/get-row/"
            },
            "input": {
                "shape": "GetRowRequest"
            },
            "output": {
                "shape": "GetRowResponse"
            },
            "errors": [
                {
                    "shape": "InvalidInputException"
                }
            ],
            "auth": ["aws.auth#sigv4","aws.auth#sigv4a"],
            "documentation": "<p>Performs a GET request to get-row with signed payload and auth as sigv4 and sigv4a.</p>"
        },
        "opWithSigv4AndSigv4aUnSignedPayload": {
            "name": "opWithSigv4AndSigv4aUnSignedPayload",
            "http": {
                "method": "GET",
                "requestUri": "/get-row/"
            },
            "input": {
                "shape": "GetRowRequest"
            },
            "output": {
                "shape": "GetRowResponse"
            },
            "errors": [
                {
                    "shape": "InvalidInputException"
                }
            ],
            "auth": ["aws.auth#sigv4","aws.auth#sigv4a"],
            "unsignedPayload": true,
            "documentation": "<p>Performs a GET request to get-row with unsigned payload and auth as sigv4 and sigv4a.</p>"
        },
        "opWithSigv4UnSignedPayloadAndStreaming": {
            "name": "opWithSigv4UnSignedPayload",
            "http": {
                "method": "GET",
                "requestUri": "/get-row/"
            },
            "input": {
                "shape": "GetRowRequestWithStreaming"
            },
            "output": {
                "shape": "GetRowResponse"
            },
            "errors": [
                {
                    "shape": "InvalidInputException"
                }
            ],
            "unsignedPayload": true,
            "documentation": "<p>Performs a GET with unsignedPayload streaming.</p>"
        }
    },
    "shapes": {
        "GetRowRequest": {
            "type": "structure",
            "members": {
                "StringMember": {
                    "shape": "String",
                    "documentation": "<p>A string Memer</p>"
                }
            }
        },
        "GetRowResponse": {
            "type": "structure",
            "members": {
                "StringMember": {
                    "shape": "String",
                    "documentation": "<p>A string Memer</p>"
                }
            }
        },
        "PutRowRequest": {
            "type": "structure",
            "members": {
                "StringMember": {
                    "shape": "String",
                    "documentation": "<p>A string Memer</p>"
                }
            }
        },
        "PutRowResponse": {
            "type": "structure",
            "members": {
                "StringMember": {
                    "shape": "String",
                    "documentation": "<p>A string Memer</p>"
                }
            }
        },
        "DeleteRowRequest": {
            "type": "structure",
            "members": {
                "StringMember": {
                    "shape": "String",
                    "documentation": "<p>A string Memer</p>"
                }
            }
        },
        "DeleteRowResponse": {
            "type": "structure",
            "members": {
                "StringMember": {
                    "shape": "String",
                    "documentation": "<p>A string Memer</p>"
                }
            }
        },
        "InvalidInputException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "invalidInputMessage"
                }
            },
            "documentation": "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
            "error": {
                "code": "InvalidInput",
                "httpStatusCode": 400,
                "senderFault": true
            },
            "exception": true
        },
        "GetRowRequestWithStreaming":{
            "type":"structure",
            "members":{
                "Body":{
                    "shape":"Body",
                    "streaming":true
                }
            },
            "payload":"Body"
        },
        "Body":{"type":"blob"},
        "String":{"type":"string"},
        "invalidInputMessage":{"type":"string"}
    },
    "documentation": "A Database Service with Fine granularity authorization schemes"
}
