{
  "verifiedSimpleMethods": [
    "getFindings",
    "disableSecurityHub",
    "enableSecurityHub",
    "getInvitationsCount",
    "getMasterAccount",
    "listEnabledProductsForImport",
    "listInvitations",
    "listMembers"
  ],
  "blacklistedSimpleMethods": [
    "getEnabledStandards",
    "getInsights"
  ]
}
