{
    "skipEndpointTestGeneration": true,
    "useLegacyEventGenerationScheme": {
        "InputEventStream": {
            "InputEvent": "NO_UNIQUE_EVENT_NAMES",
            "InputEventB": "NO_UNIQUE_EVENT_NAMES",
            "InputEventTwo": "NO_UNIQUE_EVENT_NAMES"
        },
        "EventStream": {
            "LegacyGeneratedEvent": "NO_EVENT_SUBCLASS",
            "TheEventOne": "NO_UNIQUE_EVENT_NAMES",
            "EventTwo": "NO_UNIQUE_EVENT_NAMES",
            "SecondEventTwo": "NO_UNIQUE_EVENT_NAMES"
        }
    }
}