{
    "skipEndpointTestGeneration": true,
    "useLegacyEventGenerationScheme": {
        "EventStream": [
            "LegacyGeneratedEvent"
        ]
    },
    "disableUniqueEventStreamShapePreprocessing": {
        "InputEventStream": [
            "InputEvent",
            "InputEventB",
            "InputEventTwo"
        ],
        "EventStream": [
            "TheEventOne",
            "EventTwo",
            "SecondEventTwo"
        ]
    }
}