{
    "useAutoConstructList" : true,
    "authPolicyActions" : {
        "skip" : true
    },
    "simpleMethods" : {
        "DescribeCases" : {
            "methodForms" : [[ ]]
        },
        "DescribeSeverityLevels" : {
            "methodForms" : [[ ]]
        },
        "ResolveCase" : {
            "methodForms" : [[ ]]
        },
        "DescribeServices" : {
            "methodForms" : [[ ]]
        }
    },
    "skipSmokeTests": "true"

}